[2019-09-20 18:53] gbr1 opened #931 "D435&T265 serial needed?"
Hi,
just working on T265 and D435 but strange errors appeared, such as D435 considered a T265.
Is it needed serial number of each device as shown here [rs_d400_and_t265.launch](https://github.com/IntelRealSense/realsense-ros/blob/development/realsense2_camera/launch/rs_d400_and_t265.launch)?

Using **realsense-viewer**, it can automatically detect which one is a D435 or a T265.
Is it impossible in

[2019-09-21 00:49] jpapon commented on #855
Can I ask why the driver calls the color images image_raw if they are already rectified?

[2019-09-21 15:35] MartyG-RealSense commented on #931
If you are using a D435 and T265 together, you should make sure that the D435 is not activated first, otherwise it can cause problems.  The link below has a script for delaying the D435's launch in ROS.

https://github.com/IntelRealSense/realsense-ros/issues/774#issuecomment-493933596

[2019-09-21 21:45] jpapon commented on #820
I have the same problem, with Librealsense 2.21-2.28.
I have it with both this implementation of a ros realsense nodelet, as well as my own, so I think it's a problem with librealsense itself.
The error "terminate called without an active exception" is common when threads aren't properly joined/detached, so I'm going to try fiddling with OMP and the number of threads the nodelet manager has to see

[2019-09-23 03:03] #660 closed, assigned to nobody

[2019-09-23 03:03] #721 closed, assigned to nobody

[2019-09-23 04:43] jungladicitta commented on #920
@schmidtp1 I haven't changed that numbers. Why do I need to change them? my cameras is mounted to each other as it was intended. I even printed that stl model:
![64419210-8d0c3400-d0c6-11e9-9908-1eb822b2a97f](https://user-images.githubusercontent.com/45363623/65402900-7c182e00-ddfb-11e9-87b4-7dd095ae03a5.jpg)

Here is part of my urdf.xacro file:
[code]

I am also using static_transform publishers

[2019-09-23 08:38] catmasteryip commented on #922
Thanks for the reply. I have reinstalled ROS and librealsense ROS wrapper but the problem persists.

[2019-09-23 08:42] catmasteryip commented on #922
I am currently using ROS melodic on Ubuntu 18 but not the ROS kinetic on Ubuntu 16 as suggested, would that be a problem?

[2019-09-23 08:56] gbr1 commented on #931
Hi @MartyG-RealSense !

Thank you for your suggestion.

I edit using timed_roslaunch:
[https://github.com/gbr1/erwhi-hedgehog-ros/blob/kinetic-devel-t265-support/erwhi_bringup/launch/include/sensors.launch#L27](https://github.com/gbr1/erwhi-hedgehog-ros/blob/kinetic-devel-t265-support/erwhi_bringup/launch/include/sensors.launch#L27)
but still doesn't work :(
D435 is launched as T265 node.
I would

[2019-09-23 09:36] MartyG-RealSense commented on #931
Another user got around the problem of needing a serial number by instead programming query_devices to look for the first device with the name 'T265' in it.

https://github.com/IntelRealSense/librealsense/issues/3434#issuecomment-476290706

[2019-09-23 09:56] catmasteryip commented on #922
[https://github.com/IntelRealSense/realsense-ros/issues/492#issuecomment-533528194](url)
It seems to me that the camera node can publish but the roslaunch command says otherwise.

[2019-09-23 10:10] catmasteryip opened #932 "UVC metadata payloads not available; Unable to"
When I ran `roslaunch realsense2_camera rs_camera.launch filters:=pointcloud`, rviz cannot render the video feed but camera node is publishing.
UVC metadata payloads issue is still unresolved. Uncertain if this issue relates to failure in rendering RGBD point cloud with rviz.
![Screenshot from 2019-09-23 18-06-58](https://user-images.githubusercontent.com/29121012/65417607-ff05ac80-de2c-11e9-8dfa-

[2019-09-23 20:49] XYudong commented on #395
I got the same error

[2019-09-24 07:31] jungladicitta commented on #920
@schmidtp1 T265 was mounted on the mast, 1.29 meters above the ground, oriented towards to ground.

But now I decided to move T265 at mid-height, 0.92 meters from the ground, oriented straight-ahead

[2019-09-24 07:36] jungladicitta commented on #920
@schmidtp1
these numbers is only for d435 position relatively to t265, so there is no need to change them if I move cameras on the robot, right?
[code]

[2019-09-24 08:09] RealSenseCustomerSupport commented on #723
----------------------------------------------

@qiuchenli  Sorry for the late response. Did you try the latest ROS version to see if it's still issue for you? Thanks!

[2019-09-25 00:49] Enmar123 commented on #749
Hi again. I wanted to let you guys know about a workaround i found to this problem in case it helps.

In essence what i did was create a fake base_link using a static transform from [camera_pose_frame --> fake_base_link] which would place the fake base link in the same relative position as my real base_link. I then grabbed the xyz coords of the fake base link using tf.lookupTransform(cam_odom_fram

[2019-09-25 03:55] doronhi commented on #932
rviz states that "map" frame does not exist. Try changing the `fixed frame` option in the rviz panel from "map" to "camera_link".

[2019-09-25 03:57] doronhi commented on #932
regarding the "Frame metadata isn't available" message - what kernel version do you have?

[2019-09-25 04:17] doronhi commented on #931
Hi @gbr1,
I understand the annoyance in setting the serial numbers but I'm not sure I understand your proposal.
In "rs_d400_and_t265.launch" you set two nodes with parameters in each node like fps etc.
Two node start running. Do you mean that a node should know if it runs T265 or D435?
Do you mean that there should be a parameter like device_type? And serial number will only take affect if more th

[2019-09-25 06:44] doronhi commented on #927
The Depth frame coordinate system is like so: X-axis goes right, Y-axis points down and Z-axis point forward. So when the camera is faced down, Z-axis points down.
The force working against the gravity g points up. hence the value of approximately -9.8 in the Z-Axis.

In addition, you might want to run the [rs-imu-callibration.py](https://github.com/IntelRealSense/librealsense/tree/master/tools/rs

[2019-09-25 06:54] msadowski commented on #749
@Enmar123 would you be able to make a screenshot of the tf tree? I would love to see it!

[2019-09-25 07:13] xtywbpute commented on #412
Please upgrade the [indigo] of catkin_workspace package [ros_comm]  to [kinetic]

[2019-09-25 07:27] doronhi commented on #855
You cannot change the values in /camera/color/camera_info directly.
You can write your own node that will publish different values or modify the code of realsense2_camera to publish your own values.
The calibration tool described in the link provided by @jpapon can calculate and set new values to the device but you Intel does not provide a tool to set your own calibration values to the device's fi

[2019-09-25 07:42] gbr1 commented on #931
Hi @doronhi!

Yes, the problem is to check on each robot the serial number.

If I don't put it in arguments when I run T265 node, D435 starts instead.
If I detach D435 usb, T265 works correctly.

If I use realsense-viewer, everything is ok.  Devices are correctly detected.
I'm using the release 2.28.0 and latest commit of realsense ros.

Thank you in advance.

[2019-09-25 07:58] doronhi commented on #929
Depth is available only with the rectified infrared images. The whole node is built around the depth image so your request is not on the table right now.
Would you like to elaborate what is your need?

[2019-09-25 08:26] doronhi commented on #928
Depth is calculated with respect to the left IR sensor. Therefor the reference coordinate system is set to the left sensor.
You can add another TF describing the transformation from camera_link (left IR sensor) to the mounting point or to the center of the camera, as suits you best. You may find the schematics in page 32 [here](https://www.mouser.com/pdfdocs/Intel_D400_Series_Datasheet.pdf) useful

[2019-09-25 08:40] doronhi commented on #931
I understand the need. I think it will help many other users. It was not on my desk so it might take me a while.

[2019-09-25 09:35] ravijo commented on #748
@blocka23: I am using ROS Indigo on Ubuntu 14.04 LTS. As expected, the `realsense_ros` throws the following error `error: could not convert ‘nh1.ros::NodeHandle::param(option_name, option_value, option_value)’ from ‘void’ to ‘bool’`. I checked out an older version and recompiled to make it work.

Please use version 2.2.1 as I did just now. More specifically, instead of executing the following comm

[2019-09-25 09:35] gbr1 commented on #931
@doronhi just tested that only T265 serial is needed:
[https://github.com/gbr1/erwhi-hedgehog-ros/blob/kinetic-devel-t265-support/erwhi_bringup/launch/include/sensors.launch#L28](https://github.com/gbr1/erwhi-hedgehog-ros/blob/kinetic-devel-t265-support/erwhi_bringup/launch/include/sensors.launch#L28)

So I will put only it for the moment!

[2019-09-25 09:37] ravijo commented on #865
@suho0515: Just for the information, if you really want to use ROS Indigo, you can use version 2.2.1 of `realsense-ros`.

Please see [this link](https://github.com/IntelRealSense/realsense-ros/issues/748#issuecomment-534938772) for more info.

Cheers

[2019-09-25 10:28] doronhi commented on #869
D435i does not provide SLAM algorithm. Just an IMU.
I expect the answer will depend on the SLAM implementation, environmental conditions, hardware and more, besides the D435i's own accuracy.

[2019-09-25 10:38] MartyG-RealSense commented on #869
Intel has a guide for doing SLAM with D435i by combining the IMU with other software tools.

https://github.com/IntelRealSense/realsense-ros/wiki/SLAM-with-D435i?language=en_US

[2019-09-25 14:01] blocka23 commented on #748
Dear @ravijo
Thank you very much for your response. I did what you suggested and used git checkout 2.2.1

Unfortunately, I'm still having errors when I try to catkin_make

[code]
Do you have any suggestions on how to fix this?

[2019-09-25 14:54] nikhilnagaraj commented on #849
I see the same issue on **Intel UP^2 with Ubuntu 16.04 running ROS-Kinetic.**  The pose keeps drifting in a random direction and doesn't stop. I am using a USB 2.0 hub (not separately powered) .

Does this have something to do with the fact that it's connected to a USB 2.0?

[2019-09-25 15:27] ravijo commented on #748
Hi @blocka23

The error is generated from moveit. This is a kind of common issue. You should run `catkin_make install` and `catkin_make` repeatedly a few times. It should disappear with in 2-3 runs.

[2019-09-25 16:33] aclswarm commented on #369
I tried this on a d435i running on a i7-6700 laptop and can confirm the impact of `png_level` within `depth/image_rect_raw/compressedDepth` dynamic reconfigure, with a 640x480 depth stream:

For `png_level` btwn 1-5, FPS is nearly constant, close to 30FPS.
At `png_level` 6, the FPS became sporadic btwn [25,31]
At `png_level` 7, the FPS became sporadic btwn [17,23]
At `png_level` 8, the FPS became

[2019-09-25 21:29] manomitbal commented on #695
@JozefRSTU  Were you able to find a solution to this problem?

[2019-09-25 23:12] Enmar123 commented on #749
@msadowski  Sure thing! Here is my tf tree. I also put the code into a [ros package](https://github.com/Enmar123/rs_odom_fix) so you can have a better idea of what i did.

![functional_tree](https://user-images.githubusercontent.com/36752813/65645982-8850e680-dfc7-11e9-835f-d885643e4d4b.png)

![functional_tree_zoom](https://user-images.githubusercontent.com/36752813/65646843-7755a480-dfca-11e9-890

[2019-09-26 04:42] SSusantAchary opened #933 "How to improve localization in differential robot with D435 and T265 camera WITHOUT wheel odometry."
I have a differential robot which has D435 and T265 realsense camera's mounted on it.
Issue:
On some occasions the robot seems to move inside the area(map is generated before navigation using gmapping, depthimage_to_laserscan packages) of obstacle region(static) during navigation. and i have no wheeler odometry(no feedback from wheels) data for T265 to optimize on localization.

How to improve loc

[2019-09-26 05:25] doronhi commented on #849
Connecting to USB 2.0 shouldn't be the source of the problem.
Do you see the difference, as mentioned before, between rs_pose and realsense2_camera? If so, can you provide the information I asked for regarding the versions?

[2019-09-26 12:36] blocka23 commented on #748
Hi @ravijo
Thank you for your continued assistance.

I did as you suggested and ran `catkin_make install` and `catkin_make` several times. I was able to get to 100%, but it still says `Invoking "make -j8 -l8" failed` The error I'm getting is still this fatal error from moveit. Do you have any other suggestions?
`/home/block/catkin_ws/src/moveit/moveit_ros/manipulation/move_group_pick_place_capabil

[2019-09-26 13:35] VorpalBlade opened #934 "Crash after running for several hours"
After running for a few hour the nodelet process crashes with an error about "corrupted size vs. prev_size". This has happened several times now.

The packages were installed using the repository of prebuilt packages for Ubuntu 16.04 and ROS Kinetic. (i.e. https://github.com/IntelRealSense/librealsense/blob/master/doc/distribution_linux.md#installing-the-packages and then installing ros-kinetic-li

[2019-09-26 13:42] VorpalBlade commented on #934
When I restarted the camera after this there were some unusual warning and error messages that doesn't show up on normal camera launch, this may be relevant information:
[code]

[2019-09-26 14:13] ravijo commented on #748
Hi @blocka23

This is a bit surprising for me to see `manipulation_msgs`. Which version of ROS are you using? As per [official ROS page](http://wiki.ros.org/Distributions), ROS Indigo was released on July 22nd, 2014. The [CHANGELOG](https://github.com/ros-planning/moveit/blob/master/moveit_commander/CHANGELOG.rst) file of `moveit` says that it no longer depends on `manipulation_msgs` from Sep 23th

[2019-09-26 15:10] 0xJustin commented on #680
I am also having this issue in realsense-ros 2.2.8

[2019-09-27 08:39] kamilritz opened #935 "Update to newest librealsense"
When can the updated librealsense version be expected to go in the ROS wrapper?

[2019-09-27 09:58] zblcm commented on #812
I have the same issue and do not know how to solve ...

@doronhi
Hi, if you see [realsense-ros/realsense2_camera/CMakeLists.txt](https://github.com/IntelRealSense/realsense-ros/blob/development/realsense2_camera/CMakeLists.txt) it shows "ddynamic_reconfigure" is required now in line 18. Should I simply remove that requirement, since you said reansense does not rely on it long time ago?

@PhilippeR

[2019-09-29 09:56] RealSenseCustomerSupport commented on #677
----------------------------------------------

@QiuYilin Could you please update? Thanks!

[2019-09-29 09:57] RealSenseCustomerSupport commented on #701
----------------------------------------------

@eirikaso Could you please update? Thanks!

[2019-09-29 09:57] RealSenseCustomerSupport commented on #681
----------------------------------------------

@Levi568 Could you please update? Thanks!

[2019-09-29 16:59] Levi568 commented on #681
@RealSenseCustomerSupport Sorry for late reply. I don't have any question now. It works well on me.

[2019-09-30 09:33] imasoul2 opened #936 "Subscribe to relocalization events from T265 camera on ROS wrapper?"
Hello,

 I am trying to use the T265 for navigation of my mobile robot.
I am testing the relocalization ability of the T265 camera however I realised that it provides an odometry only and to my knowledge, there is no other way I can know when the relocalization has occurred.

 Is there any way on ROS wrapper to subscribe to a topic or other way to know when the relocalization has occurred other th

[2019-09-30 10:34] eirikaso commented on #701
Hi
I think I was using kinetic.
I ended up making my own ros node to publish the raw uncalibrated image stream (which is not published by your ros wrapper) and my own calibration matrix. I then used stereo matching in opencv to create a disparity map and do measurements.

I have also written the calibration matrix directly to the camera, but have not checked the accuracy of measurements using the

[2019-09-30 14:45] Serafadam opened #937 "Setting frame queue size"
Hey, I want to follow up [this issue](https://github.com/IntelRealSense/librealsense/issues/4955#issue-500247500) on the main realsense repository. My question for now is, is there an easy way to set the frame queue capacity via the ROS interface?

[2019-09-30 15:09] matthew-rt opened #938 "No D415 Sensors recognised on ROSLaunch"
Hi,
I've followed the instructions here to install the relevant packages to use a realsense D415 through ROS, but when launching the realsense2_camera launch file, none of the sensors in the camera are recognised. The terminal reads as follows:

started roslaunch server http://Sir-Clive:38175/

SUMMARY
========

PARAMETERS
 * /camera/realsense2_camera/accel_fps: 250
 * /camera/realsense2_camera/ac

[2019-10-01 07:11] #701 closed, assigned to nobody

[2019-10-01 12:05] airballking commented on #386
I'd like to +1 the request for a melodic release of the ```realsense2_camera```. Thanks a lot for your support!

[2019-10-01 12:51] FredHaa opened #939 "'Cannot open /dev/video10' when using 3 D435 with rs_multiple_devices.launch"
# System
OS: Ubuntu 16.04/18.04
Kernel: 4.15/5.0
librealsense: 2.29.0
realsense-ros: 2.2.8

# Problem
I'm trying to launch the multiple camera node with 3 D435 camera on my desktop running 18.04 and a NUC running 16.04.
I have filled in the serial number for all the cameras and changed the names, but otherwise not altered the launch file.

When I launch it on either device, the two first cameras l

[2019-10-01 12:52] FredHaa commented on #938
This is the expected behavior. The D415 does not have fisheye sensors, and thus the module is skipped.

Try to launch rqt_image_view and look at the topics '/camera/color/image_raw' and '/camera/depth/image_rect_raw'

[2019-10-01 13:23] matthew-rt commented on #938
My mistake, thank you for your help. I was attempting to add the images as cameras instead, hence the feed displaying as black.

[2019-10-01 13:23] #938 closed, assigned to nobody

[2019-10-02 07:43] tim-fan opened #940 "T265 Localization in existing map"
Hi there, I'm trying to use the T265 as a localization sensor for a robot project, but can't figure out how.

I'd like to map an area with the camera, save that map, then in future have the T265 report it's location in that map's coordinate frame. A simple use case being the ability to send the robot to certain pre-defined locations.

Is this achievable with the current sdk+ros-driver?

The closes

[2019-10-02 08:40] ravijo commented on #709
Hi @jinfagang

I made a ROS package to do the same. Please check it out [here](https://github.com/ravijo/ros_openpose).

Cheers!

[2019-10-02 08:42] ravijo commented on #807
Hi @eyalu and @npd26

I made a ROS package to do the same. Please check it out [here](https://github.com/ravijo/ros_openpose).

Cheers!

[2019-10-02 09:09] FredHaa commented on #932
I get the same warning on kernel version 4.15, 4.18 and 5.0

[2019-10-02 18:05] #751 closed, assigned to nobody

[2019-10-02 18:05] #788 closed, assigned to nobody

[2019-10-03 14:55] jacksparkman opened #941 "AprilTag support with Realsense-ros wrapper"
Will the example codes be added to the realsense-ros wrapper? The example code rs-pose-apriltag is great, but cannot be published to a ROS topic. Being able to detect apriltags with the realsense cameras inside ROS would be great for development.

[2019-10-03 16:53] harshitsankhla opened #942 "Grayscale Pointcloud2"
Hi,

I am using Realsense Pointcloud2 (depth_registered/points) to generate 3D Map using Octomap ROS package. The map render rate is terribly slow (Not even 1 Hz stable). I am presuming it is due to the high bandwidth of the Pointcloud2 stream (~300MB/S for 640x480 @ 60FPS)

Is there a way to get the pointcloud2 topic in grayscale or any other way to reduce the bandwidth (pointcloud message size)

[2019-10-04 00:05] mpowelson opened #943 "Colorize point cloud based on 415 left IR (color) camera"
The 415 left IR camera can capture color images which should be able to be applied to the point cloud. This is recommended in [THIS](https://www.intel.com/content/dam/support/us/en/documents/emerging-technologies/intel-realsense-technology/BKMs_Tuning_RealSense_D4xx_Cam.pdf) document since they are already pixel aligned and time synced.

I can do this on a 435 by using the launch file below
[code]

[2019-10-04 05:39] rgreid commented on #880
Any update on this issue?  We tried working around it by publishing the acceleration part of the pose stream. However noted that the acceleration lags by ~18 ms. Does the T+8 delay also affect the T265's onboard filter, or is it compensated for?

[2019-10-04 10:14] studennis911988 opened #944 "How can I get the gray scale image instead of rgb one?"
Hi, since I'm using realsense d435i for my SLAM project, but I notice that when I try to stream the rgb image of resolution 640x480 at 60fps and depth image of the same parameters, and I can only get 30fps from the rgb image.
I think it is due to overwhelming transmitting over the usb3.0, so I wonder which file in the SDK did the ros_wrapper(rs_camera.launch) called?
 I wish I could modified the o

[2019-10-04 12:32] fightforge opened #945 "rs_rtabmap.launch bad results"
Hi,
i get bad results using rs_rtabmap.launch with printed mount for t265 and d435i. I'm trying to set visual_odometry to true but i get image drift in rtabmalviz from depth image to odometry. Is there a way to increase results?

Thanks

[2019-10-04 13:13] mpowelson commented on #944
There are other ways I'm sure, but this is one way to get grayscale

[code]

Edit: I just reread your post. It looks like you are after the 2D image, not the point cloud? In that case, I think you just need to do something like what is in the example launch files but set `"enable_infra1" ` to true for example.

[2019-10-04 20:06] #739 closed, assigned to nobody

[2019-10-04 20:06] #706 closed, assigned to nobody

[2019-10-04 21:28] RealSenseCustomerSupport commented on #799
----------------------------------------------

Hi @yuseidesu

The product does have the ability to relocalize although most of the work regarding relocalization has been done in our librealsense repository - https://github.com/IntelRealSense/librealsense
https://github.com/IntelRealSense/librealsense/blob/master/doc/t265.md

Loading .rosbag file isn't something that is possible.  Although our Rea

[2019-10-04 21:34] RealSenseCustomerSupport commented on #881
----------------------------------------------

Hi @svabhishek29

Were you able to utilize the topic that doronhi provided to get the information you needed?

Thanks

[2019-10-04 21:46] RealSenseCustomerSupport commented on #868
----------------------------------------------

Hi @Jwenda

To answer your question, there is no way to ignore the IMU data coming into the V-SLAM Algorithm.  It is a necessary input as part of the design of T265.  For wheeled robot devices yes there is wheel odom as outlined in this issue ticket.  We do not have input for aerial devices that would be similar to wheel odom input into the T265 syst

[2019-10-04 21:54] RealSenseCustomerSupport commented on #867
----------------------------------------------

Hi @safa26

Not sure if you've already figured out the difference in your tracking here but it looks like to me that the systems are not in the same coordinate system

T265 coordinate system can be seen on the github link below:  https://github.com/IntelRealSense/librealsense/blob/master/doc/t265.md

Thanks

[2019-10-04 22:04] RealSenseCustomerSupport commented on #866
----------------------------------------------

Hi @joekeo

Is the original issue still happening with the latest librealsense package?

Thanks

[2019-10-04 22:17] RealSenseCustomerSupport commented on #864
----------------------------------------------

Hi @deeprun, I'm going to go ahead and close this issue out since hoangthien94 has provided clear direction to answer your question.

Thanks

[2019-10-04 22:20] RealSenseCustomerSupport commented on #863
----------------------------------------------

Hi @deeprun

I'm going to go ahead and close this issue ticket since MrG4dget provided sufficient response to your question.

Thanks

[2019-10-04 22:24] RealSenseCustomerSupport commented on #862
----------------------------------------------

Hi @deeprun

Were you able to find the information you needed regarding wheel odom?

Thanks

[2019-10-04 22:33] RealSenseCustomerSupport commented on #849
----------------------------------------------

Hi @nikhilnagaraj, @reyes73a, @echoGee

Is anyone able to provide information that doronhi is asking?

Thanks

[2019-10-04 22:53] RealSenseCustomerSupport commented on #908
----------------------------------------------

Hi @pringithub

Reviewing your original issue with regards to the rqt_image_view showing blank and this being just for T265 connected to the system only.  Your note saying that the T265 is connected to a USB port, this is where things become clear to me.  The T265 is configured such as if it is connected to USB3 port then you're able to get full feat

[2019-10-04 22:55] reyes73a commented on #849
Try USB 3.0 on the board but it shouldn't make a difference. I only see a
difference  with USB 3.0 when broadcasting a lot of data like d435. I have
the exact same setup without drift issues. I have noticed that the drift
issue only happens when you run through Ros. If you run the c++ example
directly there is no drift. This makes me think that this is a Ros wrapper
or Ros code issue perhaps. You

[2019-10-04 23:04] #863 closed, assigned to nobody

[2019-10-04 23:04] #864 closed, assigned to nobody

[2019-10-05 23:13] Geekgineer commented on #846
any updates regarding this matter?

[2019-10-06 06:32] doronhi commented on #944
realsense2_camera does not have an interface to publish the rgb image as a grayscale image.

I'm not sure what hardware you are using but it is most likely that the problem with 60 fps is not related to it but to the auto exposure settings of the camera. By default, for the RGB camera, auto exposure has higher priority that the frame rate required. If you want to override this behavior add the fol

[2019-10-06 07:25] studennis911988 commented on #944
@mpowelson @doronhi  Thanks for your reply! Really helpful!

[2019-10-06 07:25] #944 closed, assigned to nobody

[2019-10-06 07:34] doronhi commented on #932
The message about the metadata being unavailable is usually related to installation issues of librealsense. Did you install librealsense from code or with a debian package? Did you follow the installation procedure accordingly? (specifically, you need dkms package for installation from debian, see [here](https://github.com/IntelRealSense/librealsense/blob/master/doc/distribution_linux.md)  or a pa

[2019-10-06 07:47] doronhi commented on #937
As opposed to the latency tool, realsense2_camera does not use pipeline but callbacks where getting frames from librealsense. Therefor there is no "queue capacity" to control.

[2019-10-06 07:58] doronhi commented on #812
Sorry for misleading anyone. I didn't mean that "ddynamic_reconfigure" is not needed. Simply that it is not built by realsense2_camera and that the source code for that package is not included or pointed to by realsense2_camera.

The package "ddynamyic_reconfigure" is needed for building and running realsense2_camera.

[2019-10-06 07:59] doronhi commented on #935
You can try building with the latest librealsense version. If no interface modifications were done it should work.

[2019-10-06 13:36] Serafadam commented on #937
So this means that the latency isn't tied to the fps?

[2019-10-07 08:08] sahandy commented on #680
@RealSenseCustomerSupport
thanks for reaching out. Yes the problem still persists. Currently, we are using realsense-ros 2.2.8.

[2019-10-07 11:07] joekeo commented on #866
Hello,
Currently we replaced the Realsense in Two of our robots for other sources of odometry. But I will mount it back at some point this week and let you know if the error still happens with the latest software

[2019-10-07 15:01] SteveGrehl commented on #866
Just tested it with
[code]
and still getting:

[code]

[2019-10-07 15:04] SteveGrehl commented on #825
@joekeo did you find a solution to this problem, since you closed the issue or is this a duplicate to #866 ?

[2019-10-08 13:37] BriceRenaudeau commented on #931
Personally, to use both T265 and D435 together I exported the serial as environment variables :
[code]
It works fine, you just need to open a new terminal when changing devices.

[2019-10-08 13:40] BriceRenaudeau commented on #931
In  the rs-enumerate-devices, the D435 is always on top(first to be detected?), I think that's why you only need the serial for the t265

[2019-10-08 15:55] RealSenseCustomerSupport commented on #859
----------------------------------------------

This appears to be fixed in librealsense PR #4403. Is there anything else that needs to be addressed with this issue?

[2019-10-08 16:06] schmidtp1 commented on #920
That's correct, @jungladicitta. (Sorry for the long reply time.)

[2019-10-08 22:05] RealSenseCustomerSupport commented on #866
----------------------------------------------

Is there anyway you can provide a bit more details on the setup and a bit of sample code you are running when hitting this error?

Is the USB cable/connector secure?  Meaning at the T265 side, do you have the connector screwed in such that there is no movement of the connection points?  We've seen in the past that USB connection issues can cause such

[2019-10-09 08:35] SteveGrehl commented on #866
TL;DR A reboot may have solved the issue.

I did some odometry experiments with our robot just yesterday and started the T265 during those, because why not. The error didn't appear once during the experiments (approx. 2,5h). However, I didn't look into the data. Since I'm using the ROS interface I can say at least there are Pose-Messages. I will look into this later this week.
Regarding your quest

[2019-10-09 08:50] FredHaa commented on #932
That might be it.

I've installed librealsense with the debian packages, but when I updated to linux 5.0 it did not work anymore, so I tried to patch the kernel manually. After an update of librealsense the ROS package worked again, but i got the UVC metadata errors.

How do i uninstall the manual patches?

[2019-10-09 18:19] RealSenseCustomerSupport commented on #779
----------------------------------------------

Hello,

There is now a RS2_OPTION_ENABLE_RELOCALIZATION flag in the 'rs2_options' enum. *Omitting* this flag should accomplish what you're looking for.

You'll also find a control_sensor_options() method in librealsense/examples/sensor-control/rs-sensor-control.cpp that demonstrates how to change sensor options.

This should be sufficient for your ne

[2019-10-09 18:24] RealSenseCustomerSupport commented on #846
----------------------------------------------

Hi,

We currently do not have plans for a Gazebo plugin.

Thanks

[2019-10-11 17:05] myles-vineland opened #947 "Pausing the camera"
Does anybody know a way to pause the camera? I working on an application that is using 3 d435s connected to a jetson nano and only need them running for short periods of time.

I have tried just killing the camera nodes but that gives me problems when trying to restart them. I've tried using roslaunch.shutdown to stop the cameras nodes (which I am starting from a launch file similar to rs_multiple

[2019-10-11 19:04] #908 closed, assigned to nobody

[2019-10-11 20:02] #799 closed, assigned to nobody

[2019-10-11 20:02] #862 closed, assigned to nobody

[2019-10-11 20:02] #867 closed, assigned to nobody

[2019-10-11 20:02] #868 closed, assigned to nobody

[2019-10-11 20:02] #881 closed, assigned to nobody

[2019-10-12 01:30] RealSenseCustomerSupport commented on #681
----------------------------------------------

@Levi568 That's great! Thanks very much for the update!

[2019-10-12 01:35] RealSenseCustomerSupport commented on #723
----------------------------------------------

@qiuchenli Do you still need support on this? Thanks!

[2019-10-12 01:39] RealSenseCustomerSupport commented on #680
----------------------------------------------

@sahandy @0xJustin Thanks for the update! Will look into this.

[2019-10-12 02:02] #677 closed, assigned to nobody

[2019-10-12 02:02] #681 closed, assigned to nobody

[2019-10-12 07:20] comwise opened #948 "crash"
Required Info |  
-- | --
Camera Model | D435i
Firmware Version |  
Operating System & Version | Ubuntu 16.04
Kernel Version (Linux Only) | 4.15.0-15-generic
Platform | intel PC
SDK Version | 2.25
Realsense-Ros Version | 2.2.8
Language | C++/python
Segment | Robot

the ros node will be crashed when the node is running sometime
you can view the crash bug, if you need detail info, i will offer you l

[2019-10-13 04:38] nacorti commented on #779
After looking at this topic, [this](https://github.com/introlab/rtabmap/issues/409) issue from RTabMap, and [this](https://github.com/IntelRealSense/realsense-ros/issues/936) question from the realsense-ros issue tracker, is there any plan to publish relocalization events to output?

I'd prefer to use the T265's strengths and not rely on an app like rtabmap to perform relocalization - OTOH, T265 l

[2019-10-14 03:08] cugcsu opened #949 "No infra2 node"
I run this command：
`roslaunch realsense2_camera rs_camera.launch`
and
`rostopic list`
/camera/accel/imu_info
/camera/accel/sample
/camera/color/camera_info
/camera/color/image_raw
/camera/color/image_raw/compressed
/camera/color/image_raw/compressed/parameter_descriptions
/camera/color/image_raw/compressed/parameter_updates
/camera/color/image_raw/compressedDepth
/camera/color/image_raw/compresse

[2019-10-14 03:49] studennis911988 opened #950 "API version mismatch: librealsense.so was compiled with API version 2.28.1 but the application was compiled with 2.25.1!"
Hi, I install **realsense SDK (version 2.28.1)** for D435i on **NVIDIA TX2** and connect to D435i **successfully with realsense-viewer**.
![image](https://user-images.githubusercontent.com/43871350/66728452-a51a6480-ee77-11e9-8521-4c1a3e409c5b.png)
But, when I run the [ROS Wrapper](https://github.com/IntelRealSense/realsense-ros), I counter the error : "API version mismatch: librealsense.so was co

[2019-10-14 08:30] aswinkumar2019 opened #951 "Issue with realsense imu"
Hello guys,
We have realsense d435i camera which has builtin imu.
We tried to implement a project where( https://github.com/IntelRealSense/realsense-ros/wiki/SLAM-with-D435i) slam is part of it.The data from imu appears to be slow,the camera_link frame appears to respond very slow and sometimes,wrong.
It is clearly mentioned on that website as,

****The built-in IMU can only keep track for a very

[2019-10-14 10:01] stasgurevich commented on #941
Here is the ROS package that can be used to detect apriltags with any cam (including Realsense).
https://github.com/AprilRobotics/apriltag_ros

[2019-10-14 13:47] kamilritz commented on #935
Thanks for you reply. I tried, but while launching the `rs_t265.launch`, I got this error:
[code]
Is there something I can do about this?

[2019-10-14 14:11] kamilritz commented on #935
I had to perform a `catkin clean` in order to build the ROS wrapper with the right librealsense version.

[2019-10-14 14:11] #935 closed, assigned to nobody

[2019-10-14 16:35] JadTawil-theonly opened #952 "Subsampling in ROS driver available?"
After reviewing the document provided by intel for post processing depth information:
https://www.mouser.com/pdfdocs/Intel-RealSense-Depth-PostProcess.pdf

One of the major speedups was due to the Sub-sampling step.

Is this step an option with the ROS driver?

I see the following as filters:
colorizer
disparity
spatial
temporal
hole_filling
decimation

I do not see sub sampling, which is v import

[2019-10-14 20:30] MartyG-RealSense commented on #952
Subsampling refers to use of decimation.

[2019-10-15 03:53] radfordi commented on #779
@nacorti, we have added a few options https://github.com/IntelRealSense/librealsense/pull/4321 to disable different parts of the internal mapping on the T265.   I would suggest leaving mapping enabled, but disabling relocalization and jumping.  This may avoid the conflict with RTabMap while still giving good results.  We are curious to hear which combinations work well for you.

With respect to re

[2019-10-15 06:00] SuperKuooo commented on #460
@doronhi Thanks for mentioning the pixel is in millimeters. I might have missed it, but could you put this information somewhere more obvious? It took me a little digging to find this. Thanks!

[2019-10-15 07:43] doronhi commented on #460
Thanks for the remark.
realsense2_camera follows OpenNI Raw Representation as the ROS convention mentioned [here](https://www.ros.org/reps/rep-0118.html).
However, I accept that it is not clear for the realsense user and will add it to the README.md file.

[2019-10-15 07:58] doronhi commented on #951
The data from the IMU comes at a high rate as you can see from the spec and the response is quick as you can see by checking the raw messages coming out of realsense2_camera.
I suspect the integration with RTabMap in that demo is what causing the visible slowness. I feel that with more time and better understanding of RTabMap's parameters and requirements the demo could run much smother.

[2019-10-15 08:19] doronhi commented on #949
I'm not really sure I understand the issue:
I see you have the `/camera/depth/image_rect_raw` which is the depth image. So, if you do `rostopic hz /camera/depth/image_rect_raw` and see a reasonable rate, the problem of presenting it in RViz is another issue.
I also see the topic `/camera/depth/color/points` which suggests you ran the node using the flag "filters:=pointcloud" or the old format "ena

[2019-10-15 08:38] aswinkumar2019 commented on #951
I didnt modify anything in that launch file.
The imu_topic subscribes to /imu/data topic by default so,i thought there is no need for modifying anything related to imu.
Is there anything i could modify to find the issue???

[2019-10-15 08:48] doronhi commented on #779
All the options add in [IntelRealSense/librealsense#4321](https://github.com/IntelRealSense/librealsense/pull/4321) are added automatically in realsense2_camera. As for the relocalization events, we still need to integrate those. Any thoughts about the ROS API for that. Is there a convention or a better way then publishing another topic?
The issue is also referenced [here](https://github.com/Intel

[2019-10-15 08:58] doronhi commented on #951
I think I wasn't clear enough.
I believe the original launch file in the demo is not good enough and does not pass the IMU information well enough to the RTabMap SLAM engine. I believe that it can be much improved with better knowledge of RTabMap.

[2019-10-16 14:23] JvanZijl opened #954 "Manually set position T265"
Dear all,

Is there an easy way to manually overwrite the position of the Realsense T265 when the node is already running? I would like to manually set the x, y and z coordinate of the T265 to 0 or any other point, without restarting the node. Is there an easy way to do this using for example a Python script?

Kind regards

[2019-10-16 19:13] neilyoung commented on #695
Having the same issue. Runs for an hour, then stop. No indication, no error :(

[2019-10-17 01:04] #846 closed, assigned to nobody

[2019-10-17 01:09] RealSenseCustomerSupport commented on #903
----------------------------------------------

@pringithub Are these recommendations sufficient for you to accomplish what you need?

[2019-10-17 17:02] #859 closed, assigned to nobody

[2019-10-17 23:49] manomitbal opened #955 "T265 gives out NaNs"
Hi!

I have been using the output of /camera/odom/sample within my SLAM package and I have been consistently facing this issue : whenever there is a halt in robot motion after continuous usage, the output of the above mentioned topic turns to NaNs and my SLAM node crashes, but the realsense node does not, it continues to spit out NaNs. This happens when you stop moving after a while even in a feat

[2019-10-18 04:21] JTShepard commented on #680
I found a workaround by modifying line 2023 in `base_realsense_node.cpp` (v2.2.8) from:

`msg_pointcloud.point_step = addPointField(msg_pointcloud, format_str.c_str(), 1, sensor_msgs::PointField::UINT32, msg_pointcloud.point_step);`

to:

`msg_pointcloud.point_step = addPointField(msg_pointcloud, format_str.c_str(), 1, sensor_msgs::PointField::FLOAT32, msg_pointcloud.point_step);`

Hope it helps!

[2019-10-18 10:12] nacorti commented on #934
Were you ever able to resolve this issue? I'm going through the same thing (except the camera runs for maybe 2 min and then quits) with the same cryptic `Bond broken, exiting` message in the logs.

I have a hunch that my USB cord needs to be replaced, but until I can get a new one in the mail I'd like to eliminate other possibilities

[2019-10-18 11:24] VorpalBlade commented on #934
No, in the end I switched away from using Realsense cameras to a different brand with better range and less noise (that also uses OpenNI instead of it's own custom software stack, and that don't need a patched kernel module). However, before that I had a workaround in the form of a script that just relaunched the roslaunch file should it exit unexpectedly:

[code]

Still, if it happens every 2 min

[2019-10-18 12:04] nacorti commented on #934
I think it may also have something to do with overheating: when I run the camera in a darker environment (where it doesn't have to run the emitter with as much power) it seems to stay on indefinitely. Would need to test in bright environment with lots of cooling to see if that's true, but I've noticed the ASIC temps getting into the mid-40s easily.

What camera did you end up switching to?

[2019-10-18 13:28] VorpalBlade commented on #934
Orebec Astra Pro. It has been working okay for my use case. It has lower resolution images, but lower noise in the depth data (thanks to being a structured light camera as opposed to a stereo camera).

I was running the Intel RealSense camera in a room with AC (also far from the equator, so it is not very hot anyway). But yes it did feel hot to the touch after running for a while.

[2019-10-18 16:06] MarcoDotIO commented on #669
I'm having the same issue, and it prevents me from using the AR_Marker utility properly.

[2019-10-18 19:15] RealSenseCustomerSupport commented on #849
----------------------------------------------

Thanks @reyes73a for the information.  Although it doesn't seem like it should be the difference there between what ros wrapper is providing and c++ example.  I see that @ducklabs1 had mentioned that taking the librealsense examples and making own ros implementation that it fixed the problem.  Are you able to do that and get past the issue?

[2019-10-18 19:52] RealSenseCustomerSupport commented on #866
----------------------------------------------

Glad to see that you're not experiencing the error any longer after reboot and during your experiments.  With ROS pose data/information/messages are going through ROS wrapper layer, which would be different then not using ROS wrapper in general.  Do let me know if you were able to look at the data.

[2019-10-18 20:08] RealSenseCustomerSupport commented on #916
----------------------------------------------

@jcgarciaca - Typically these errors that you're seeing have to do with USB connection issues.  Having or making sure the T265 is connected via USB3 (pose data, fisheye data, IMU data can all be transferred to host when connected via USB3) or USB2 (pose data only can be transferred to host when connected via USB2).  If the device is not enumerated at

[2019-10-19 12:19] imasoul2 commented on #955
@manomitbal , I'm experiencing the same issue, my project is about using the T265 for navigation and this occurs almost 2 out of 5 times.

[2019-10-21 01:35] JoeyLeeNPU opened #956 "learning based object detection on RS_D435i"
I want to use a d435i to perform learning based object detection, which running on the processor inside d435i, because the center procossor of my drone is poor on computation resource. I found the code example about rs-dnn, maybe it is computed on the center device. Any suggestions?

Thanks,
Joey

[2019-10-21 09:31] MartyG-RealSense commented on #956
The RealSense Facebook account posted a link to a sample program that performs object detection and distance measuring with the OpenVINO Toolkit and Intel Neural Compute Stick 2 (NCS2).

You can accelerate processing with an NCS2 alongside a 400 Series camera just by plugging the NCS2 into an available USB port on your drone's computing hardware.

**Sample:**
https://github.com/movidius/ncappzoo/t

[2019-10-21 12:53] saikishor commented on #885
FYI
https://github.com/IntelRealSense/realsense-ros/pull/957

[2019-10-21 14:38] BriceRenaudeau commented on #955
I had the same problem lately, I made a node to detect this (and the diverging values) in order to kill and restart the node of the camera. I hope it will be fixed soon.

[2019-10-21 15:37] #956 closed, assigned to nobody

[2019-10-21 15:44] reyes73a commented on #955
I have also seen this several times and its quite annoying and worrisome because the T265 is a device that should be close to 100% reliable or else is useless for practical applications. If a robot depends on this and it happens it will have a dramatic failure. I usually see it when leaving the node run for several hours. However, it is not 100% consistent making me think that there is something e

[2019-10-21 15:51] reyes73a commented on #849
@RealSenseCustomerSupport  I have not tried this, but it is on my list of things to try. I know it sound stupid because it should not make a difference, however this is what I see with 100% reliability so far. C++ examples never fail, but ROS nodes will. Not sure whats different about them, but clearly something is different about adding the ROS layer which is making it fail. Sometimes it takes 20

[2019-10-21 16:07] reyes73a opened #958 "T265 - programmatically resetting localization? Confidence value?"
Hi guys,

I am looking to achieve two things from ROS:

1. Is there a way through the current ROS wrapper to programmatically reset the T265 localization? I don't want to physically power cycle the camera or the ROS node.

2. The Realsense Viewer exposes  a confidence variable (confidence on localization) is this accessible from ROS?

Any help would be greatly appreciated! Thanks!

[2019-10-22 21:22] RealSenseCustomerSupport commented on #917
----------------------------------------------

Thanks MartyG-RealSense for referencing the other thread.

@edgarcamilocamacho - Were you able to get past this with the suggestions from the comments provided in previous issue?

[2019-10-22 21:54] omotuyoa opened #959 "Realsense IMU Coordinate Frame"
Hello,

I am using an intel realsense camera D435i to achieve visual-inertial slam based on the opensource_tracking.launch file. These were the following issues:

1. /imu/data is not publishing any data. I saw that the name of parameters passed into magwick filter were wrong e.g _use_ma is supposed to be use_mag as seen below:
https://github.com/IntelRealSense/realsense-ros/blob/2a45f09003c98a5bdf

[2019-10-23 07:02] saikishor commented on #688
@SteveGrehl @gaoethan Do you guys have the URDF of the T265

[2019-10-23 19:00] sumilmajithia commented on #866
I am getting a similar problem here but the T265 resets on its own and it's too late for the robot since it has lost its tracking. I see a time difference of about 4 seconds before it starts publishing odometry data again.

14:33:06.508 [4956] [E] Device-7300: ERROR: Bulk transfer message 0x2 (DEV_GET_TIME) request to device got LIBUSB_ERROR_IO. Bytes requested 6, bytes transferred 0
14:33:06.508

[2019-10-23 20:21] erikasnow opened #961 "T265 change contrast?"
Is there a set of parameters somewhere that I could use to change the brightness and contrast of one of the fisheye images? It looks like this sort of thing is accessible on other realsense cameras, but I can't find any parameters like that on the T265.

[2019-10-23 20:46] RealSenseCustomerSupport commented on #849
----------------------------------------------

@reyes73a - Thanks for the feedback.  And it working on the UpBoard, that's also with ROS wrapper working?

[2019-10-23 22:01] victorbl opened #962 "RealSense T265 Wheel Odometry configuration"
I have integrated the T265 tracking camera into my robot stack and are seeing great results in general odometry tracking of the robot. I developed a small C++ package to stream the camera poses, and can create the appropriate transforms and topics. In an attempt to wrap up the package features, I have spent the last week trying to integrate the wheel odometry feature as expected by the T265 camera

[2019-10-23 22:03] #903 closed, assigned to nobody

[2019-10-23 23:18] aswinkumar2019 opened #963 "IMU output in imufiltermadgwick"
I tried to run slam using realsense d435i using opensourcetracking.launch file.
The raw imu data from realsense appear to be good but, the output from imufiltermadgwick is not good.
The camera_link frame doesn't move most of the time and, even if it moves it is wrong.
The camera_link frame doesn't appear to rotate too. Please help me to fix this.
I am using jetson nano

[2019-10-24 08:16] aswinkumar2019 commented on #963
Hey realsense team, found the issue.
Thanks to a guy named Oyindamola who had the same issue and helped me to fix this.The issue was with imufiltermadgwick,
the parameter _use_ma should be changed to use_mag.
The slam will not get proper imu data if this is not done.
I don't know why intel has not fixed this issue for a long time.
Please fix this soon so, others don't get into this issue

[2019-10-24 08:17] aswinkumar2019 commented on #959
Thank you very much, you helped me to fix a bug I was trying to fix for a long time

[2019-10-24 08:18] aswinkumar2019 commented on #959
I think the coordinate frame is set right.
I don't face any issue with that

[2019-10-24 11:39] Danguana commented on #334
Hi this same issue is occurring for me too.

24/10 12:31:49,144 WARNING [139799280408320] (backend-hid.cpp:1169) Failed to read busnum/devnum. Custom HID Device Path: /sys/bus/platform/drivers/hid_sensor_custom/HID-SENSOR-2000e1.22.auto
 24/10 12:31:49,144 WARNING [139799280408320] (backend-hid.cpp:1169) Failed to read busnum/devnum. Custom HID Device Path: /sys/bus/platform/drivers/hid_sensor_cus

[2019-10-24 12:40] doronhi commented on #713
Thanks for showing the way.
Option added in #964, based on #960.

[2019-10-24 13:16] doronhi commented on #904
Added option in #966, #964, #960.

[2019-10-24 13:17] doronhi commented on #931
Option added.

[2019-10-24 13:29] doronhi commented on #334
What kind of device do you use?

[2019-10-24 13:38] MartyG-RealSense commented on #931
@doronhi   Thanks so much for adding that - I will direct people to the new information.

[2019-10-24 13:45] doronhi commented on #931
Excellent! Thanks a lot.

[2019-10-24 14:21] Danguana commented on #334
Thanks for your reply

Name: Intel RealSense D435I, serial number: 841512070237, update serial number: 911623051115, firmware version: 05.11.15.00, USB type: 3.2

[2019-10-24 15:24] Danguana commented on #334
Using sudo modprobe -r hid_sensor_custom appears to solve the problem.

[2019-10-24 15:35] mikepurvis commented on #713
Great, thanks!

[2019-10-24 15:35] #713 closed, assigned to nobody

[2019-10-24 15:42] #963 closed, assigned to nobody

[2019-10-24 16:36] aswinkumar2019 commented on #959
I checked online regarding your imu question.Realsense uses bosch BMI055 imu
Just go through this document below page number 37.
(https://datasheet.octopart.com/BMI055-Bosch-datasheet-32868712.pdf)
The z axis is the axis pointing towards gravity.In realsense case it is y axis.
So there is change in coordinate system between sensor frame and world frame(realsense frame)
So,z axis changes to y.
So,i

[2019-10-24 22:03] manomitbal commented on #955
Just an update, I tried to set RS2_OPTION_ENABLE_POSE_JUMPING and RS2_OPTION_ENABLE_RELOCALIZATION as false thinking that maybe this might be causing the NaN issue, but it still occurs

[2019-10-24 22:17] omotuyoa commented on #959
Thank you @aswinkumar2019. If I am correct, ENU refers to the coordinate frame that maps to XYZ axes. First, with the camera facing forward on it stand, the value of y-axis linear acceleration is -9.8 which means the y-axis is pointing upward. This makes the data to be in the form of XZY. Will this not affect the estimate from the magwick filter? Is there any transformation to be done when passed

[2019-10-24 23:47] tommasomac commented on #874
Hello. Did you or anyone find a solution for this? I get the same problems, probably because the two cameras fail when they are launched together, but I could not find a solution.

[2019-10-25 06:37] RealSenseCustomerSupport commented on #723
----------------------------------------------

@qiuchenli Sorry that we didn't get response from you for weeks. Will close this ticket now. Please feel free to create new ticket if you still have any questions/issues. Thanks!

[2019-10-25 07:01] RealSenseCustomerSupport commented on #741
----------------------------------------------

@MartyG-RealSense Thanks for the help!
@jdwolk Does the script work for you? Looking forward to your update!

[2019-10-25 07:02] #723 closed, assigned to nobody

[2019-10-25 07:42] RealSenseCustomerSupport commented on #680
----------------------------------------------

@JTShepard Thanks very much for share!
@sahandy Is the workaroud working for you? Looking forward to your update. Thanks!

[2019-10-25 08:07] RealSenseCustomerSupport commented on #720
----------------------------------------------

@jinfagang Sorry for late response! Is it still issue for you with the latest SDK and FW? Looking forward to your update. Thanks!

[2019-10-25 08:19] Jiloc commented on #386
+2

[2019-10-25 11:44] FredHaa commented on #950
You need to clean and rebuild the realsense ros package.
This needs to be done every time you update librealsense, such that the ros package is compiled with the currently installed version of librealsense.

[2019-10-25 13:05] Danguana commented on #334
Today a similar problem has returned.

The warning
`25/10 14:04:03,031 WARNING [140321136568064] (backend-hid.cpp:598) iio_hid_sensor: Frames didn't arrived within 5 seconds
`
appears when running
`roslaunch realsense2_camera rs_aligned_depth.launch
`
Using modprobe as above doesn't remove the problem.

When running rs-capture or rs-align-advanced there is no image, after a while the terminal retu

[2019-10-27 04:31] doronhi commented on #741
What device are you using? When it is available, like in the D435, the option is exposed in the dynamic reconfigure params:
![image](https://user-images.githubusercontent.com/40540281/67629755-6a56fa00-f883-11e9-97fe-673a3b62f80d.png)

[2019-10-27 05:02] doronhi commented on #961
You can change the brightness and contrast of both fisheye cameras together through the tracking_module section in the dynamic_reconfigure params but you can't change each of them separately. I don't see such an option with other realsense devices also.
I think such an option could hamper with the image matching and the depth performance.
Why would you need such an option?

[2019-10-28 15:32] AutomatoRobotics opened #968 "D435 Crash"
Hello,

I'm using the D435 ROS node with SDK 2.2.8 on Ubuntu 16.04, and after a while (several minutes) my entire system crashes and shuts down.
I see several errors in the syslog log file:

[code]

Observing the /var/crash shows me that the crash resulted from the d435 nodelet:
`ProcCmdline: /opt/ros/kinetic/lib/nodelet/nodelet manager __name:=realsense2_camera_manager __log:=/home/eyal/.ros/log/

[2019-10-28 18:16] mikepurvis opened #969 "Color stream/topic frequency diagnostics not publishing"
When I start instances of the driver nodelet for my cameras, I briefly get diagnostics for both depth and color, but then once it's running, I only get the depth ones— the color diagnostic goes silent. This is not a result of my diagnostic aggregator setup, as I'm inspecting the `/diagnostics` topic directly.

I'm assuming this is a bug which just needs to be fixed, as it appears from the code tha

[2019-10-28 21:04] RealSenseCustomerSupport commented on #819
----------------------------------------------

Hi. The T265 already comes pre-calibrated from our factory.

[2019-10-28 21:56] saikishor commented on #449
FYI
https://github.com/pal-robotics/realsense_gazebo_plugin

[2019-10-29 04:12] Troski opened #970 "Support for D435e"
I am trying to use this ROS driver with a D435e camera from Framos, however is not being detected by the ROS driver. I am however able to get depth and rgb using realsense-viewer. Is GiGe supported by this driver?

[code]

[2019-10-29 05:15] wikpunGitHub commented on #900
Hi, I have the same question. Is there a way to adjust the "set auto exposure" setting in launch file or node parameter rather than using rqt_reconfigure?

[2019-10-29 05:23] doronhi commented on #900
You can add the following lines to your launch file before the section of launching realsense2_camera node:
[code]
(you can check the precise string using rqt_reconfigure)

[2019-10-29 07:07] MartyG-RealSense commented on #970
According to a development roadmap that FRAMOS recently shared in a webinar session about D435e, a ROS wrapper for the camera will be provided in firmware version FW 1.3.5 that was due to be released in mid October 2019.

Page 15 of the D435e user guide document, available from the link below, explains how to perform a firmware update of D435e.  Please access it with the 'documentation D435e' link

[2019-10-29 13:03] BRNKR commented on #940
you get an odometry from the t265. for mapping you have to use a laserscanner or a stereo-camera system.

[2019-10-29 18:18] mikepurvis opened #971 "initial_reset option causes crashes with multiple driver instances"
As in the title, we get a lot of crashed nodelet managers if we try to launch multiple instances of the driver with `initial_reset:=true`. Errors look like:

[code]

[2019-10-29 19:17] mikepurvis opened #972 "usb_port_id doesn't work for cameras on hubs"
My four cameras on a hub look like this:

[code]

As implemented, the driver thinks all of these have `4-6` as their port ID:

[code]

With multiple hubs cascaded, it looks like this:

[code]

In my own implementation of this, I had used a regex like:

[code]

This way I always catch the *last* group before the `:1.0`.

[2019-10-29 22:33] RealSenseCustomerSupport commented on #827
----------------------------------------------

Hi @ xhuan28
The resolution cannot be changed dynamically. Stop streaming is required by USB UVC protocol.

[2019-10-29 23:04] #794 closed, assigned to nobody

[2019-10-29 23:20] RealSenseCustomerSupport commented on #790
----------------------------------------------

Hi @peci1,

Did you have a chance to try the workaround solution? Please let us know if you need any
further help with this matter.

Thank you!

[2019-10-30 00:05] #853 closed, assigned to nobody

[2019-10-30 01:13] RealSenseCustomerSupport commented on #857
----------------------------------------------

Closing this unless there is any other question. Thank you.

[2019-10-30 02:02] #857 closed, assigned to nobody

[2019-10-30 05:24] doronhi commented on #827
While, as said, you cannot change the output resolution of the device while streaming, you can use the decimation filter to change the resolution transmitted from realsense2_camera.

launch the driver with the decimation filter:
```roslaunch realsense2_camera rs_camera.launch filters:=decimation```

Then try out the effect of different parameters using rqt_reconfigure.
For color image change "stre

[2019-10-30 05:37] #972 closed, assigned to nobody

[2019-10-30 07:00] RealSenseCustomerSupport commented on #754
----------------------------------------------

Hi @rje,

Would you like to try the latest librealsense and ROS wrapper? You can refer to below example to see how it can help you implement the PR in ROS.
https://github.com/IntelRealSense/librealsense/tree/master/examples/record-playback

[2019-10-30 09:17] peci1 commented on #790
Hi, since ddynamic_reconfigure is now properly released, this issue can be closed. It is just needed to clear your catkin workspace when switching from in-repo ddynamic to the released one.

[2019-10-30 09:17] #790 closed, assigned to nobody

[2019-10-30 11:28] Zafrire commented on #607
I got the same issue using D435.
The reason for this crash / ValueError is the default Value in RGB-Camera for "Power Line Frequency"
which is automatically loaded / set, when the camera is plugged in. Normally you just have Values between 0 - 2. But the camera is loading by default the value "**3**"

When you save the parameter with "realsense-viewer" into a JSON-File, you can detect the wrong Pa

[2019-10-30 12:20] doronhi commented on #607
The issue is caused by using an unpatched kernel.
Try patching according to [installation guide](https://github.com/IntelRealSense/librealsense/blob/master/doc/installation.md), section 4.

[2019-10-30 14:07] atyshka commented on #607
Yes, it’s caused by not having the kernel patches, but I would argue that this ros package should work without the kernel patches. Patches are not available for all kernels and the benefits may be minimal in certain use cases.

[2019-10-30 14:10] edgarcamilocamacho commented on #917
Effectively it works in that way, I am having other problems but they are not related with this. Thank you very much

[2019-10-30 14:10] #917 closed, assigned to nobody

[2019-10-30 20:59] mikepurvis opened #974 "Crash calling librealsense::environment::get_instance()"
This is moved from https://github.com/IntelRealSense/librealsense/issues/5121, at request of @ev-mp.

----

Because of various reliability issues we've experienced with Realsense, we're using a relay to control power to the USB hub they are connected to, so that we can power cycle them when they get themselves into a bad state. Unfortunately, this has itself revealed a number of other problems whi

[2019-10-31 02:27] RealSenseCustomerSupport commented on #887
----------------------------------------------

please ensure you install the required Realsense DKMS kernel driver package on your ubuntu PC
you can refer to below link for detail
https://github.com/IntelRealSense/librealsense/blob/master/doc/distribution_linux.md

in parallel, to ensure your camera is still in good shape, you can connect them to any windows 10 PC and run the intel.realsense.view

[2019-10-31 02:38] iovsiann opened #975 "Unable to get color texture for pointcloud2: pointcloud_texture_stream:=RS2_STREAM_COLOR has no effect"
When viewing pointcloud2 in rviz the point cloud looks gray, has no color texture from RGB camera. However, when using realsense-viewer with 3D cloud view enabled and RGB selected as texture source - the point cloud looks fine, with color texture applied.

$ roslaunch realsense2_camera rs_camera.launch filters:=colorizer,pointcloud align_depth:=true pointcloud_texture_stream:=RS2_STREAM_COLOR
...

[2019-10-31 04:31] RealSenseCustomerSupport commented on #773
----------------------------------------------

Hi @bgyoo91,

Has the link provided by @MartyG-RealSense helped to find an answer to your question? Please let us know if you need any further help with this matter.

Thank you!

[2019-10-31 04:37] Grandzxw commented on #699
Have you done it successfully?

[2019-10-31 06:42] RealSenseCustomerSupport commented on #842
----------------------------------------------

@echoGee Did you have chance to try what doronhi suggested? Any update for this issue? Looking forward to your reply. Thanks!

[2019-10-31 06:43] RealSenseCustomerSupport commented on #854
----------------------------------------------

@gbr1 Did you get it through with doronhi's suggestion? Looking forward to your update. Thanks!

[2019-10-31 07:07] vagrant-drift opened #976 "Error while loading image - libusb_bulk_transfer failed. LIBUSB_ERROR_CODE: -1 LIBUSB_ERROR_IO"
Required Info |  
-- | --
Camera Model | { T265 }
Firmware Version | 0.0.18.6100
Operating System & Version | ubntu18.04
Kernel Version (Linux Only) | 4.4.167
Platform | RK3399pro
SDK Version | 2.25.0
Language | C++
Segment | Robot

Issue Description
using ros package which you provide，it work well when i run the launch firstly.But when i terminate package using ctrl+c and rerun the package，it pri

[2019-10-31 07:22] gachiemchiep opened #977 "How to convert _d435.urdf.xacro into urdf"
Hello guys.

I know this is a noob question. But how can i convert the _d435.urdf.xacro  into urdf ?
I try the following command

[code]
The output is as follow

[code]

I can't include into my urdf.
So has anyone met the same problem ? And how can i solve it.

[2019-10-31 07:36] RealSenseCustomerSupport commented on #704
----------------------------------------------

@SteveMacenski This should be resolved. Any other question about this? Looking forward to your update. Thanks!

[2019-10-31 10:57] dadilei03 opened #978 "[ERROR]: Failed to load nodelet [/camera/realsense2_camera] of type [realsense2_camera/RealSenseNodeFactory] even after refreshing the cache"
Hello!
I have a T265 and need to access to ros topics simultaneously. Currently working in Ubuntu 18.04, ROS melodic.

- roslaunch realsense2_camera rs_t265.launch

There are some error.

[code]

### I want to know how to fix it! Thanks.

[2019-10-31 17:18] RealSenseCustomerSupport commented on #860
----------------------------------------------

MartyG is correct, the frame rate is set by firmware and currently the closest frame rate to 5FPS is the 6FPS.

**Please be informed that we will close this ticket in seven (7) days if we have not heard back from you.

[2019-10-31 18:26] phil333 commented on #860
Thank you for the information. I'm the end we modified the Ros wrapper to run at a higher frame rate, but to only publish 1 out of 3 images. Works fine for our needs.

[2019-10-31 18:26] #860 closed, assigned to nobody

[2019-10-31 19:33] RealSenseCustomerSupport commented on #916
----------------------------------------------

@jcgarciaca - Hi, checking in to see if you're able to look into the notes provided.  Also have you attempted to run a sample from librealsense directly instead of going through the ROS launch?

[2019-10-31 22:25] RealSenseCustomerSupport commented on #749
----------------------------------------------

Hi Mateusz,

Are these examples sufficient for your needs?

[2019-11-01 00:22] RealSenseCustomerSupport commented on #879
----------------------------------------------

The issue has been addressed in RealSense SDK build 2.29.
Closing this ticket unless there is any problem.
Thank you.

[2019-11-01 00:26] RealSenseCustomerSupport commented on #871
----------------------------------------------

Please let us know if there is any further question. Thank you.

[2019-11-01 00:28] RealSenseCustomerSupport commented on #892
----------------------------------------------

Please let us know if there is any further question related the to the original issue.
Thank you.

[2019-11-01 01:03] #879 closed, assigned to nobody

[2019-11-01 05:45] msadowski commented on #749
@RealSenseCustomerSupport Yes, I think the examples given show nicely what is possible with the current state of the software. I hope that one day the driver will be refactored to publish odom->base_link transform using the camera odometry.

[2019-11-01 06:49] RealSenseCustomerSupport commented on #652
----------------------------------------------

Hi @FENGZHANG123 , @OrHirshfeldFFR,

Is the issue clarified on your platform? Do you try the latest librealsense?
Do you further observe the CPU loading and usb throught impact with multiple cameras using "top" and "usbtop" command?

[2019-11-01 08:06] RealSenseCustomerSupport commented on #856
----------------------------------------------

Hi @hao2921,

D435 calibration table read from CustomRW is unrectified Left/Right IR for calibration as 1280x800/Y16 image format.
The data from /camera/infra1/camera_info and /camera/infra2/camera_info is based on the rectified image.

[2019-11-01 08:15] RealSenseCustomerSupport commented on #830
----------------------------------------------

Hi @FPSychotic,

Is the issue clarified/resolved per @doronhi's suggestion? To apply IR texture to depth could have the IR projector's pattern impact.
If no further question, will close this.

[2019-11-01 11:14] Grandzxw commented on #932
have you solved it?

[2019-11-01 12:27] gbr1 commented on #854
Yes, it works!
You can find my guide here (UP Squared AWS RoboMaker development kit):
https://github.com/gbr1/upbot_ros/wiki

[2019-11-01 13:42] Grandzxw opened #979 "after run realsense-viewer ,show this question"
it happens:
01/11 19:56:12,567 WARNING [139852830111488] (types.cpp:48) hwmon command 0x4f failed. Error type: No data to return (-21).
01/11 19:56:12,735 WARNING [139852830111488] (backend-v4l2.cpp:1148) Pixel format 36315752-1a66-a242-9065-d01814a likely requires patch for fourcc code RW16!
01/11 19:56:17,799 WARNING [139852830111488] (types.cpp:48) set_pu(id=3) failed! Last Error: Input/output

[2019-11-01 16:05] #715 closed, assigned to nobody

[2019-11-01 16:44] erikasnow commented on #961
I am trying to use the camera to detect apriltags with a drone. Seems like sometimes the camera has a hard time making detections because of shadows and other environmental factors. I was hoping that changing the contrast of the camera might mitigate some of these issues.

[2019-11-01 23:53] RealSenseCustomerSupport commented on #835
----------------------------------------------

Is this issue still happening? I can confirm firmware latest 5.11.15 with RealSense SDK build 2.29 work on D435/D435i.
Please let us know if you have further question question on this topic. Thank you.

[2019-11-02 00:03] #977 closed, assigned to nobody

[2019-11-02 00:04] RealSenseCustomerSupport commented on #914
----------------------------------------------

Please let us know if you still need further help on this ticket. Thank you.

[2019-11-02 07:18] caffreyu commented on #821
I still cannot figure this out. Could you please give me more details about how did you install the realsense-ros? Did you follow the procedure provided by JetsonHacks?

Thanks in advance!

[2019-11-04 05:57] yputra commented on #866
@SteveGrehl do you try your robot again with the T265? I have exactly the same issue and it does not go away even if I reboot everything.

[2019-11-04 09:37] RealSenseCustomerSupport commented on #882
----------------------------------------------

@wangqingdong1 Did you get chance to try the latest version to see if you still have issue? Looking forward to your update. Thanks!

[2019-11-04 09:41] RealSenseCustomerSupport commented on #841
----------------------------------------------

@pyni  Did you try the fix? Any other questions about this? Looking forward to your update. Thanks!

[2019-11-04 09:43] RealSenseCustomerSupport commented on #837
----------------------------------------------

@npd26 With the reply from doronhi, did you get it through? Looking forward to your update. Thanks!

[2019-11-04 09:45] RealSenseCustomerSupport commented on #765
----------------------------------------------

@tianjincb Is the issue still existing? If so, could you please clarify the issue details as doronhi requested? Thanks!

[2019-11-04 09:46] RealSenseCustomerSupport commented on #742
----------------------------------------------

@adrianramospeon Any other questions about this? Looking forward to your update. Thanks!

[2019-11-04 11:01] adrianramospeon commented on #742
No further questions, previous reply by @doronhi provided exactly what I was looking for. Thanks for the great support. It might be useful for newcomers to add a couple of documentation lines about this in https://github.com/IntelRealSense/realsense-ros#launch-parameters ?

[2019-11-04 11:25] #742 closed, assigned to nobody

[2019-11-04 12:11] pyni commented on #841
Hi, I did not use your package later. Our laboratory has developed our own package, which is quite simple and fast.
https://github.com/lixiny/Handeye-Calibration-ROS
I'll close this issue.

[2019-11-04 12:11] #841 closed, assigned to nobody

[2019-11-04 15:15] yputra commented on #825
I also have the problem with Error:Bulk Transfer Message notifications after running around 5 mins, sometimes it can run up to 30 minutes, sometimes 10 minutes, it seems quite random, and happen after some accumulation of data ?

[2019-11-05 00:27] Troski commented on #970
The new driver is now available, and works with the current ROS driver.

[2019-11-05 00:27] #970 closed, assigned to nobody

[2019-11-05 23:11] netgittemp opened #980 "ddynamic_reconfigure package issue!"
Hi,
I am following the install instruction.
However, when I compile it, I have the following error;
[code]

So, I tried to install ddynamic_recofigure using
`$ sudo apt install ros-kinetic-ddynamic-reconfigure`
However, I got the following error as well.
[code]

Please help me to install this package.....

[2019-11-05 23:57] RealSenseCustomerSupport commented on #896
----------------------------------------------

Hi @harshitsankhla,

There is no any need to format the computer in order to install the library. It suffices to run
the 'ldd' command in order to find out where libusb is expected to be found.
Please let us know if you need any further clarifications regarding this topic.

Thank you!

[2019-11-06 02:00] freemanlo commented on #825
@yputra,
1. Is your T265 connected to a USB3 hub? If so, is any other USB device connected?
2. What's your system configuration? OS? platform?
3. Which librealsense version do you use?
4. Do you run any librealsense app like realsense-viewer, rs-pose, etc to have this issue?

[2019-11-06 06:22] RealSenseCustomerSupport commented on #842
----------------------------------------------

@echoGee Could you please update? Thanks!

[2019-11-06 06:24] RealSenseCustomerSupport commented on #756
----------------------------------------------

Hi @Hunk86,

Please provide us with the following details about your system configuration :
FW version on each camera
ROS distribution version
HW configuration details (platforms names, how the camera(s) is/are connected, etc)

Thank you!

[2019-11-06 08:53] yputra commented on #825
Hi @freemanlo,

1. It is connected directly to USB3 port on the Raspberry Pi4, and there is another D435 camera connected on another USB3 port. I only use low resolution on D435 (420x240) and reduce the fps as well to minimize the data transfer.
2. it is on Raspberry Pi4b, with Ubuntu 18.04 and using ROS
3. It is using librealsense 2.29.0, I notice there is an update to 2.30.0 yesterday, I will tr

[2019-11-06 14:39] JadTawil-theonly commented on #980
i think you have to clone this into your catkin workspace:
https://github.com/pal-robotics/ddynamic_reconfigure

This is similar to dynamic reconfigure, but allows you to modify parameters without a cfg file.

[2019-11-06 15:25] sthoduka commented on #893
See https://github.com/IntelRealSense/realsense-ros/issues/851

My guess is that with rs_rgbd, the pointcloud is constructed outside the realsense node (using rgbd_launch, and the depth_image_proc nodelets). This is an organized pointcloud.

With rs_camera with 'pointcloud' filter, the pointcloud is constructed in the realsense node itself (https://github.com/IntelRealSense/realsense-ros/blob/deve

[2019-11-06 15:57] JadTawil-theonly opened #981 "Setting Disparity Shift"
Hello,

I would like to configure the disparity shift (value from 0 -> 255), in order to control the minZ value of the depth sensing.

How can i do this via the ros wrapper?

Would changing this require a recalibration?

[2019-11-06 18:07] #773 closed, assigned to nobody

[2019-11-06 20:45] G-mel commented on #980
make sure you have everything [here](https://github.com/IntelRealSense/realsense-ros/blob/development/.travis.yml) installed. For me, it was a matter of running

[code]

where my distro is `melodic`

[2019-11-07 01:46] RealSenseCustomerSupport commented on #854
----------------------------------------------

@gbr1 Glad to hear this resolved and thanks very much for the sharing! Close this accordingly.

[2019-11-07 01:48] RealSenseCustomerSupport commented on #852
----------------------------------------------

@wqwanghanzhang Did you get through the issue with the suggestion from doronhi? Looking forward to your update. Thanks!

[2019-11-07 01:49] RealSenseCustomerSupport commented on #9
----------------------------------------------

@liz-murphy  Any other questions for this ticket? Looking forward to your update. Thanks!

[2019-11-07 01:55] RealSenseCustomerSupport commented on #741
----------------------------------------------

@jdwolk Any other questions for this? Looking forward to your update. Thanks!

[2019-11-07 01:56] RealSenseCustomerSupport commented on #680
----------------------------------------------

@sahandy Any update from your side? Thanks!

[2019-11-07 02:04] #704 closed, assigned to nobody

[2019-11-07 02:04] #854 closed, assigned to nobody

[2019-11-07 02:22] echoGee commented on #842
The output at first is from a Raspberry Pi module. Could you provide more information on what specifically to try ?

Also, I'm offsite now and would be able to test it only by nov end

[2019-11-07 02:28] SteveMacenski commented on #704
This is still a problem, please stop closing tickets without action.

Issues are issues regardless if anyone’s working on it.

[2019-11-07 06:47] RealSenseCustomerSupport commented on #894
----------------------------------------------

Hi @nyxrobotics,

Did you try the latest librealsense and firmware and see how it works?

[2019-11-07 08:53] RealSenseCustomerSupport commented on #911
----------------------------------------------

Hi @JackStig,

Any update? I hope the info provided by @MartyG-RealSense resolves your question.

[2019-11-07 09:14] ARLVOL opened #982 "Error while run rs_camera (mismatch error)"
Hi,

I just install the latest sdk (2.30) and now I can't run nothing on ros because the realsense-ros version is in 2.29 version. How I can solve this?

`Failed to load nodelet [/camera/realsense2_camera] of type [realsense2_camera/RealSenseNodeFactory] even after refreshing the cache: API version mismatch: librealsense.so was compiled with API version 2.30.0 but the application was compiled with

[2019-11-07 11:15] JackStig commented on #911
Hi @MartyG-RealSense @RealSenseCustomerSupport ,
Thanks for your concern,sorry I was too busy to reply you.I find an official annoucement saying that there is no plugin for RViz&Gazebo,while repos in Git are too old to use.So I just give up and devote on something else.

[2019-11-07 11:29] MartyG-RealSense commented on #911
@JackStig   Thanks so much for your update.  I am sorry that you did not find what you needed.

[2019-11-07 15:05] #911 closed, assigned to nobody

[2019-11-08 02:23] RealSenseCustomerSupport commented on #865
----------------------------------------------

Hi @suho0515, Do you need further help on this?
Thanks,

[2019-11-08 03:45] suho0515 commented on #865
I had a enough information for this issue, thanks.
I'd close this issue :)

[2019-11-08 03:45] #865 closed, assigned to nobody

[2019-11-08 04:51] freemanlo commented on #825
@yputra

If you try the latest librealsense and still face the issue, you can also provide some debug logs.
by the way, what's your launch file command?

[2019-11-08 05:24] RealSenseCustomerSupport commented on #929
----------------------------------------------

@yliupub Any update for doronhi's question? Looking forward to your update. Thanks!

[2019-11-08 07:23] RealSenseCustomerSupport commented on #928
----------------------------------------------

Hi @TomLuosy,

Any update? I believe the info from @doronhi can resolve your issue, right?
You can also refer to the latest datasheet rev007.
https://www.intelrealsense.com/wp-content/uploads/2019/10/Intel-RealSense-D400-Series-Datasheet-Oct-2019.pdf?_ga=2.113960391.1765568705.1573001324-1515688634.1554101320

[2019-11-08 07:57] RealSenseCustomerSupport commented on #855
----------------------------------------------

Hi @npd26,

Any update? Did you also refer to the custom calibration guide to have your own calibration?
Note: unrectified frames are exposed in Y16 format for calibration.

[2019-11-08 07:59] RealSenseCustomerSupport commented on #785
----------------------------------------------

Hi @lucafei,

If no additional question, will close this.

[2019-11-08 10:01] Grandzxw commented on #932
When I

 **when I run roslaunch realsense2_camera rs_camera.launch, it happens:**

[ INFO] [1573206763.994774042]: Initializing nodelet with 8 worker threads.
[ INFO] [1573206764.047444526]: RealSense ROS v2.2.9
[ INFO] [1573206764.047473041]: Running with LibRealSense v2.29.0
[ INFO] [1573206764.593602846]:
[ INFO] [1573206764.625195138]: Device with serial number 909512072035 was found.

[ INFO]

[2019-11-08 18:15] RealSenseCustomerSupport commented on #756
----------------------------------------------

@Hunk86,

Do you still need help with this question?

[2019-11-08 21:24] araujokth commented on #951
Hi @aswinkumar2019 , we also faced the same problem when using the D435i with RTABmap. The problem is that RTABmap expects the IMU measurements to be periodic at the set rate, which is not the case with the current ros driver as its discussed here https://github.com/IntelRealSense/realsense-ros/issues/898. This would have to be fixed before you can use it.

[2019-11-09 01:05] #892 closed, assigned to nobody

[2019-11-09 02:07] stevendaniluk opened #983 "T265 imu and gyro rates are opposite of the values listed in the datasheet"
In table 3.3 on page 10 of the [T265 datasheet](https://www.intel.com/content/dam/support/us/en/documents/emerging-technologies/intel-realsense-technology/IntelRealSenseTrackingT265Datasheet.pdf) the gyro sample rate is listed as 62.5 Hz, while the accelerometer sample rate is listed as 200 Hz.

<img width="779" alt="image" src="https://user-images.githubusercontent.com/10523428/68521112-9cd4ff80-

[2019-11-10 07:51] doronhi commented on #982
librealsense 2.30 is compatible with librealsense 2.29.
Assuming you are using realsense2_camera's latest version (v2.2.9), you just need to recompile it with librealsense2 2.30.

[2019-11-10 08:32] ARLVOL commented on #982
Hi,
I installed the latest sdk (2.30) and then I clone the latest realsense-ros (v2.2.9) to /src folder.
I tried many combination cut I always get this error.
I am doing something wrong?
I did these steps many time and I don't know why this time it doesn't work.
I am trying now again and I will update.

Thanks

[2019-11-10 08:42] ARLVOL commented on #982
Hi,

I don't know what I did but now it is working.
I did again what I did before.

Thanks anyway :)

[2019-11-10 09:16] doronhi commented on #981
"Advanced Controls" are currently not supported directly by the ros wrapper.
You can, however, modify them on start up by setting a json file.
To create a configuration json file for the first time use realsense-viewer and the "export" preset button:
![image](https://user-images.githubusercontent.com/40540281/68541633-86da5280-03aa-11ea-8c6a-4ffe2a694c59.png)
To start realsense2_camera with the pr

[2019-11-10 09:34] doronhi commented on #980
You should only download the code and compile ddynamic-reconfigure by yourself if you failed to install the debian package, as you did, but I would first try to figure out why that installation failed.
The "ddynamic-reconfigure" is a ROS distributed debian package so, assuming you run Ubuntu 16 and ROS Kinetic, I would start at the beginning:
Did you follow the ROS installation procedure [here](ht

[2019-11-10 11:18] doronhi commented on #961
Sorry for my late response.
So I guess you can change the exposure and gain controls for both cameras together and it will be ok?
Notice that you cannot change them while streaming so set the parameters in the launch file in a `<rosparam>` section.

[2019-11-10 11:23] doronhi commented on #979
Hello,
Sorry but it is not clear to me what are trying to run and is not working. realsense-viewer?
What operation system? what versions for librealsense2 and realsense2_camera?
What is the command line you run? How did you install the app?
Sorry for the questions, it is important to make sure I understand the issue.

[2019-11-10 11:29] doronhi commented on #854
Hi,
Just wondered, why in your guide you clone and compile ddynamic-reconfigure ( in section: 7. Test Realsense with ROS ) instead of installing the debian package...?

[2019-11-10 11:33] gbr1 commented on #854
@doronhi probably at that time it was not available as debian package, yet.
If you have included in package dependencies, it should automatically install using rosdep, so probably I can eliminate that line.

[2019-11-10 12:09] doronhi commented on #978
looking at the error message:
[code]
Did you build librealsense2 by yourself or installed from debian?
Is it possible you built realsense2_camera and then upgraded librealsense2? If so, you need to re-build realsense2_camera too.

[2019-11-10 12:25] doronhi commented on #689
Hi @patelmiteshn ,
realsense2_camera depends on ddynamic_reconfigure. Therefor it appears in it's CMakelists.txt file.
Is this ok? Can we close the issue?

[2019-11-10 12:48] gbr1 commented on #854
@doronhi yes it works ;)
I have just updated my guide

[2019-11-10 12:48] doronhi commented on #854
Excellent. Thanks :)

[2019-11-10 13:56] doronhi commented on #976
By default librealsense2 uses video4linux for connection with the device. If you specify "FORCE_LIBUVC" while building, librealsense2 will use libuvc.
libuvc does not take care of the camera in case of exception in the user space. It does not clean the memory, close the device etc. Therefor, after ctrl-c is pressed, the device is in unstable status.
video4linux does take care of releasing the devi

[2019-11-10 14:28] doronhi commented on #975
In RViz, in the PointCloud2 options, try changing "Color Transformer" from "Intensity" to "RGB8"

[2019-11-11 03:23] RealSenseCustomerSupport commented on #707
----------------------------------------------

Hi @JeffLee06,

If no further question, will

[2019-11-11 04:03] #707 closed, assigned to nobody

[2019-11-11 04:03] #780 closed, assigned to nobody

[2019-11-11 07:23] RealSenseCustomerSupport commented on #720
----------------------------------------------

@jinfagang Could you please update? Thanks!

[2019-11-11 07:57] #720 closed, assigned to nobody

[2019-11-11 08:11] RealSenseCustomerSupport commented on #922
----------------------------------------------

@catmasteryip Which librealsense and ROS wrapper version did you use when get the issue? Did you get chance to try the latest version? We tried Ubuntu18.04+melodic here but didn't get your issue.

[2019-11-11 08:58] v-lopez commented on #689
Yeah, I think so.

[2019-11-11 08:58] #689 closed, assigned to nobody

[2019-11-11 17:20] SatishAkula91 opened #984 "Is hardware sync for multi camera configuration needed in ROS?"
I'm planning to use three  d435's  along with one t265 tracking module in multi camera configuration in Ros to configure this hardware synchronization is really needed if yes how do i sync t265 with them or is there any other methods to do that ?

[2019-11-11 19:29] MartyG-RealSense commented on #984
T265 does not have hardware sync pins.  Advice on syncing T265 pose frames with 400 Series depth frames via a software-based method is given in the link below though.

https://github.com/IntelRealSense/librealsense/issues/3670#issuecomment-479851256

Intel has published multi-camera guides for using ROS with two cameras or three cameras, with the inter-connection based on camera serial numbers:

*

[2019-11-11 21:04] netgittemp commented on #980
I do not what was the problem..
but now `$ sudo apt install ros-kinetic-ddynamic-reconfigure` is working.
What I did is only following (https://github.com/IntelRealSense/librealsense/blob/master/doc/distribution_linux.md#installing-the-packages)

@doronhi I installed ROS correctly. Absolutely, I added "packages.ros.org" to the sources.list correctly and `sudo apt-get update` is working correctly.

[2019-11-12 08:08] florianspy opened #985 "roslaunch realsense2_camera demo_t265.launch fails"
When starting roslaunch realsense2_camera demo_t265.launch after roslaunch realsense2_camera rs_t265.launch
the following error message appears in  demo_t265.launch window:
[FATAL] [1573545902.844163629]: Failed to load nodelet '/camera/realsense2_camera` of type `realsense2_camera/RealSenseNodeFactory` to manager `realsense2_camera_manager'
[ INFO] [1573545902.889267339]: Initializing nodelet wit

[2019-11-12 11:47] sid-kuruba opened #986 "error: [Errno 11] Resource temporarily unavailable"
sikm@dhcp-10-19-65-1[11/12 17:05]:catkin_ws$ roslaunch realsense2_camera rs_camera.launch
... logging to /home/sikm/.ros/log/902bac8e-0540-11ea-bbdf-b06ebfcd6686/roslaunch-dhcp-10-19-65-1-8308.log
Checking log directory for disk usage. This may take awhile.
Press Ctrl-C to interrupt
Done checking log file disk usage. Usage is <1GB.

Traceback (most recent call last):
  File "/opt/ros/kinetic/lib/p

[2019-11-12 11:48] saikishor commented on #688
Can someone verify if the frames in the URDF file of T265 here are correct?
https://github.com/pal-robotics/realsense_gazebo_plugin/blob/kinetic-devel/urdf/t265.urdf.xacro

[2019-11-12 11:48] saikishor commented on #749
Can someone verify if the frames in the URDF file of T265 here are correct?
https://github.com/pal-robotics/realsense_gazebo_plugin/blob/kinetic-devel/urdf/t265.urdf.xacro

[2019-11-12 11:51] sid-kuruba commented on #986
I have the realsense camera d3451 connected and have followed the steps at
https://github.com/IntelRealSense/realsense-ros/blob/development/README.md

But ran into the above issue when I ran the command - "roslaunch realsense2_camera rs_camera.launch"

Any inputs would be helpful.

This is on Ubuntu 16.04 LTS

[2019-11-12 13:45] SatishAkula91 commented on #984
Thanks for the reply, I have gone through the showcase-of-using-2-cameras and 3-cameras already in those two processes they didn't mention anything about hardware synchronization for the depth cameras.

[2019-11-12 14:03] MartyG-RealSense commented on #984
I interpreted your question as asking if it was possible to sync without using hardware sync.  The links I provided describe how to set up a multi-camera system through software.  I apologize if I have misunderstood your question.

[2019-11-12 15:45] levenberg opened #987 "Standard settings for D435i to get synchronized IMU and color image stream?"
I am trying to use D435i to run the state-of-the-art visual-inertial odometry system. However, there is always something wrong to obtain good data input. One big issue is the synchronization of IMU and color image stream.  After setting `enable_sync=true`, we can get an imu topic: `\color\imu`. However, the rate of this imu topic is so confusing.

if we set `unite_imu_method=copy`, the imu rate is

[2019-11-12 15:56] florianspy commented on #635
I recently had the same issue with an wrong usb cable even thought it was supposed to be usb3.0 switching to the version shipped with the device sloved the issue

[2019-11-12 18:18] RealSenseCustomerSupport commented on #729
----------------------------------------------

Hi @ltr-w - doronhi has a pretty good explanation here.  Is there anything further you need?  I plan on closing out this thread.

[2019-11-12 18:40] #980 closed, assigned to nobody

[2019-11-12 18:57] Manoj-Bhat97 commented on #468
hello @houlei516 I have faced the same problem and I am not sure I understand what 'namespace the nodes mean' can you please enlighten me on how you solved this issue?
I am running Ubuntu 16.04 and realsense 435 depth camera. ROS Kinetic.
Thank you in advance

[2019-11-12 19:06] #896 closed, assigned to nobody

[2019-11-12 21:40] rlustig-gpfw opened #988 "D435 Depth to Color Extrinsics"
I'd like to get the depth-to-color extrinsics for the D435 camera. Using ROS, I subscribe to `/camera/extrinsics/depth_to_color` to get the extrinsics. However, the returned extrinsics do not make sense:
[code]
The RGB camera and depth sensors are obviously not co-located so I expect to see a translation and slight rotation offset. The `/tf_static` topic also gives the same values.

The [RealSense

[2019-11-13 05:13] doronhi commented on #988
You understand correctly and the topic should give you correct values:
[code]
So the problem seems to be elsewhere. What other information can you supply? What OS do you use? Camera? firmware? Do you see any warnings or errors from the realsense2_camera node?

[2019-11-13 05:24] doronhi commented on #987
Just a clarification: 'enable_sync' causes the image streams to be synchronized but has no effect on the imu. The united imu topic is created by setting the `unite_imu_method`.

That said, there is an explanation on the expected frame rates of the imu in #729.
The Timestamps of both the images and imu are set based on the time stamp given on the device itself. They are not set by the time of arriv

[2019-11-13 05:54] levenberg commented on #987
@doronhi Thank you for your clarification. Because I always get the warnings of
`HID timestamp not found, switching to Host timestamps.` and `Frame metadata isn't available! (frame_timestamp_domain = RS2_TIMESTAMP_DOMAIN_SYSTEM_TIME)`. But I can get a normal imu stream and color image stream, so I guess it is set as the host timestamps.

Then for the synchronization, if both of the imu and color i

[2019-11-13 06:24] OnesoulKang opened #989 "API mismatch problem"
Hi I'm using Ubuntu 18.04 and ROS melodic

I updated librealsense to v 2.30.0 and then I removed older version realsense-ros and insatlled v 2.2.9.

And I followed the instruction from https://github.com/IntelRealSense/realsense-ros.

After that, I tried to `roslaunch realsense2_camera rs_camera.launch`
But I got this error messages

[code]

'realsense-viewer' is working properly.

I tried remove

[2019-11-13 06:39] doronhi commented on #984
What is the purpose of synchronization that you need?
Just to clarify the meaning of hardware synchronization - Usually each camera works separately, say at 30Hz (i.e an image every 33.3 mSec). That means that there could be up to 33.3/2=16.6 mSecs difference between images taken by different cameras.
Hardware synchronization causes all cameras to take their images at the same time. This is useful

[2019-11-13 06:45] doronhi commented on #989
It seems that you still have librealsense v2.20.0 somewhere on your system and realsense2_camera was linked with it while building.

[2019-11-13 07:10] OnesoulKang commented on #989
How can I remove that librealsense v2.20.0?

I already tried this https://github.com/IntelRealSense/librealsense/blob/master/doc/distribution_linux.md

[2019-11-13 12:55] sahandy commented on #680
We tested the suggestion made by @JTShepard and it worked. The point cloud ROS message is now prepared and published correctly.

@RealSenseCustomerSupport Is it possible to have this fix in the official repo, as a pull request or something?

[2019-11-13 17:47] RealSenseCustomerSupport commented on #955
----------------------------------------------

Hi @manomitbal

An updated LibRealSense release has been posted:
https://github.com/IntelRealSense/librealsense/releases/tag/v2.30.0

There are updates which can have a positive affect on the NaN issues that you are seeing.

Please give this new release a test in your environments and let us know what you are seeing.

Thanks

[2019-11-13 18:20] rlustig-gpfw commented on #988
Looks like it was a parameter configuration issue. If the `align_depth` parameter is set to `True`, then the depth-to-color extrinsics will always produce the identity extrinsics (you can see this in the code too).

Now, if I set the `align_depth` parameter to `False`, I get expected values:
[code]

Thanks for the help!

[2019-11-13 18:20] #988 closed, assigned to nobody

[2019-11-13 21:06] #749 closed, assigned to nobody

[2019-11-13 21:06] #819 closed, assigned to nobody

[2019-11-14 01:07] RealSenseCustomerSupport commented on #931
----------------------------------------------

I see that some PRs went in to take care of this issue.  I want to make sure there isn't anything further needed here @gbr1.  If everything is ok then we can close this out.

[2019-11-14 06:39] SteveGrehl commented on #866
@yputra  I did a further experiment, to investigate the topic. I disconnected the camera from the robot and setup an isolated workspace on my laptop. I run the camera with the same cable over night without any issues. When I came back in the morning the camera was still running and an odometry was published.
Since I use the same software setup on my robot and on my laptop I assume the error is not

[2019-11-14 08:18] SatishAkula91 commented on #984
@MartyG-RealSense no need to apologize you have understood in the right way only the reason why I'm getting confused is in Links for the multicamera configuration that you have mentioned is without the hardware sync. I tried that approach but the point cloud is not good, double frames, misalignments are there and finding transformations is very difficult that's why I got the doubt that is it possi

[2019-11-14 16:06] cimbar commented on #779
how can we disable RS2_OPTION_ENABLE_RELOCALIZATION flag?

[2019-11-14 18:05] #914 closed, assigned to nobody

[2019-11-14 18:58] RealSenseCustomerSupport commented on #913
----------------------------------------------

The whitepaper about the multi-camera configuration is a great resource for hardware and software considerations when running multiple RealSense cameras to the same host.
https://dev.intelrealsense.com/docs/multiple-depth-cameras-configuration
Please take a look. Thank you.

[2019-11-14 19:06] #756 closed, assigned to nobody

[2019-11-14 22:40] ihadzic opened #990 "ROS apt package gets out of sync with librealsense2-dev"
I have code with build dependency on `librealsense2-dev`, which includes `rs.h`. header file from that library. On the same machine I also have (and use) `ros-kinetic-realsense2-camera` ROS package. Both packages installed using apt. It turns out that the ROS package distributes `rs.h` file that gets placed under /opt/ros/kinetic/include/librealsense2 which is also distributed by librealsese2-dev

[2019-11-14 22:45] ihadzic opened #991 "realsense node crash when subscriber to color/image_raw/theora exists"
I am running the realsense ROS node and I have a subscriber to `color/image_raw/theora' topic generated by the node. If I stop the node and leave the subscriber running, I get the crash below with 100% reproduciblity. If I stop the subscriber and then start the Realsense ROS node, the crash does not occur.

[code]

[2019-11-15 09:00] RealSenseCustomerSupport commented on #929
----------------------------------------------

@yliupub  Could you please update? Thanks!

[2019-11-15 09:03] RealSenseCustomerSupport commented on #852
----------------------------------------------

@wqwanghanzhang Any update from your side? Thanks!

[2019-11-15 09:04] RealSenseCustomerSupport commented on #9
----------------------------------------------

@liz-murphy  Will close this if no other questions. Thanks!

[2019-11-15 09:04] RealSenseCustomerSupport commented on #741
----------------------------------------------

@jdwolk  Any update from your side? Thanks!

[2019-11-15 09:08] RealSenseCustomerSupport commented on #680
----------------------------------------------

@JTShepard  @sahandy Glad to hear that works. Yes, you're welcome to submit PR for the fix.

[2019-11-15 09:30] RealSenseCustomerSupport commented on #735
----------------------------------------------

@Patrick-Lascombe Sorry for late response. Is this issue still existing for you? Could you please also provide one color image of your testing environment so that we can better understand this issue? Thanks!

[2019-11-15 10:03] #9 closed

[2019-11-15 11:32] Grandzxw commented on #987
I have the same question :" imu  message in disorder". have you solve it?

[2019-11-15 12:17] fly-duck opened #992 "ros can not receive messages from topic "/camera/rgb/image_rect_color""
Operating System | Ubuntu
-- | --
Kernel | 4.15.0-66-generic #75~16.04.1-Ubuntu
ROS | kinetic
ROS RealSense | v2.25.0
librealsense | 2.29.0-0~realsense0.1579 (system lib)

[2019-11-15 12:19] fly-duck commented on #992
both ros topic echo and rviz subscriber can not receive any messages

[2019-11-15 14:40] hassan-shehawy opened #994 "using filters for r200"
Hi, I had a problem with the quality of depth image I get with r200 and filtering was suggested as a solution. I'm wondering if I can tweak the filters parameters mentioned here: https://github.com/IntelRealSense/librealsense/blob/master/doc/post-processing-filters.md with r200 in the launch file?
For now, I add this line to my launch file:
`<param name="filters" type="str"  value="spatial">`
Howe

[2019-11-15 19:05] #835 closed, assigned to nobody

[2019-11-15 19:05] #871 closed, assigned to nobody

[2019-11-15 23:29] levenberg commented on #987
Hi @Grandzxw , I have not solved it yet. And I found the timestamps of subsequent IMU topics sometimes is not only equal to the `last_imu_t`, but smaller than the former timestamp, it is so weird. Then the color camera seems to be a rolling shuttle camera, I am trying to use the infrared camera ( global shutter)instead. But for D435i, I tried to use `realsense_viewer` to turn off the IR projector.

[2019-11-16 02:14] Grandzxw opened #995 "Can I change the frequency of gyro and accel in D435i"
I want to change the frequency of gyro and accel in D435i ,
 <arg name="gyro_fps"            default="400"/>
  <arg name="accel_fps"           default="250"/>
Change to
 <arg name="gyro_fps"            default="200"/>
  <arg name="accel_fps"           default="200"/>
that is ok?

[2019-11-16 02:14] Grandzxw commented on #995
the frequency of gyro and accel change to 200hz

[2019-11-16 07:16] MartyG-RealSense commented on #994
The filters mentioned in the post-processing documentation are intended for use with cameras supported by Realsense SDK 2.0, which is not compatible with the R200.

For the R200, ROS should be launched with the R200-supporting **realsense_camera** and not realsense2_camera.

http://wiki.ros.org/realsense_camera

The R200 parameters that are dynamically reconfigurable are listed here:

http://wiki.

[2019-11-17 04:54] ruoxueruoxi90915 opened #996 "SR305"
Does this package support SR305?
How to use SR305 under ROS?

[2019-11-17 06:40] MartyG-RealSense commented on #996
The SR305 is an SR300 camera in a new casing designed to make it easier to mount the camera.  So the **realsense2_camera** RealSense ROS package and the RealSense ROS wrapper, which both support SR300, should work fine with it.

**RealSense ROS wrapper**
https://github.com/IntelRealSense/realsense-ros/releases

**realsense2_camera**
http://wiki.ros.org/realsense2_camera

Please note that when usin

[2019-11-17 08:40] doronhi commented on #992
It is not clear to me what you mean.
First thing, what command line do you run? what kind of device?
Second, I'm not sure to what topic you try to subscribe to. Did you `rostopic list` and one of the options was "/camera/rgb/image_rect_color"? It is not a native topic. Did you remap?

[2019-11-17 09:18] ruoxueruoxi90915 opened #997 "which is the specific version of the RealSense SDK about SR305?"
The error shown now is: (sr300.cpp:55) try_fetch_usb_device(...) failed.

[2019-11-17 09:43] doronhi commented on #987
You are mixing issues. It would be better, I think, to open a new issue for each topic.
As for the disorder of the timestamps, Thank you for pointing this out to me. I was aware of an issue with the T265 but I'll have to look into the problem in the D435i device.

As for the IR projector, you should turn the option "emitter_enabled" off.
The visual preset "remove IR pattern" is a filter for using

[2019-11-17 11:27] doronhi commented on #991
I can't reproduce. Could you upgrade to latest realsense2_camera and latest librealsense2 and check again?
Also, what OS do you have? What launch file do you use? What computer? Any additional information that could help in reproducing this error will be appreciated.

[2019-11-17 11:46] doronhi commented on #990
Right now there is a bit of a mixup - I'll try to it clear up:
In order to add realsense2_camera to ros-distro (so that `apt-get install ros-kinetic-realsense2-camera` will work), librealsense2 must be available too. Right now it is available on Intel's servers only, hence the registration phase in the librealsense installation manual [here](https://github.com/IntelRealSense/librealsense/blob/mast

[2019-11-17 12:01] doronhi commented on #779
You could use rqt_reconfigure to turn "enable_relocalization" off or you could add the following lines to your launch file:
[code]

[2019-11-17 12:21] doronhi commented on #997
You should get the latest version from [realsense-ros](https://github.com/IntelRealSense/realsense-ros)

[2019-11-18 01:03] Grandzxw commented on #987
**and I find the  timestamps of subsequent IMU topics sometimes is   equal to the last_imu_t sometime ,and I read it in PC ,so I want to ask  whether is it related to computer     @@@@hardware.**

[2019-11-18 08:06] fly-duck commented on #992
Thanks for your reply. The device is D435 , the command line I run is **roslaunch realsense2_camera rs_rgbd.launch** and  then **rostopic echo /camera/rgb/image_rect_color**

Also, I have not remapped any topics and rostopic list has "/camera/rgb/image_rect_color"

[2019-11-18 08:06] fly-duck commented on #992
Here are my rostopic list
/camera/aligned_depth_to_color/camera_info
/camera/aligned_depth_to_color/image_raw
/camera/aligned_depth_to_color/image_raw/compressed
/camera/aligned_depth_to_color/image_raw/compressed/parameter_descriptions
/camera/aligned_depth_to_color/image_raw/compressed/parameter_updates
/camera/aligned_depth_to_color/image_raw/compressedDepth
/camera/aligned_depth_to_color/image

[2019-11-18 08:58] SatishAkula91 commented on #984
@doronhi you have mentioned about the way to do hardware sync through ROS driver/wrapper in the below comment
[https://github.com/IntelRealSense/librealsense/issues/2637#issuecomment-434203140](url)

Can I know the status of that?

[2019-11-18 09:33] doronhi commented on #992
The topic "/camera/rgb/image_rect_color" is not published by realsense2_camera. It is likely that you have some other plugin, such as  theora-image-transport, doing some manipulation and adding the topic.
If it is not intentional, maybe you should register to another topic? maybe `/camera/color/image_raw`? Can you describe your need from the topic?

[2019-11-18 09:42] hassan-shehawy commented on #994
Wow, I didn't notice there was a realsense2_camera! Sorry about that and thank you :)

[2019-11-18 09:42] #994 closed, assigned to nobody

[2019-11-18 09:45] doronhi commented on #984
I didn't find my name there :)
However, the ROS driver support that option. You can set the camera to be master or slave using `inter_cam_sync_mode` dynamic parameter.

[2019-11-18 10:15] SatishAkula91 commented on #984
Sorry, it's my mistake I thought both are the same names.
So to get master-slave behavior I have to pass the inter_cam_sync_mode parameter while starting the cameras launch file in ROS. am I right and how to validate that the cameras are in master-slave mode?

[2019-11-18 12:55] timor11 opened #998 "ros bridge is being tested"
this is a test of the ros customer support bridge

[2019-11-18 12:55] timor11 commented on #998
hello ros, please ignore

[2019-11-18 13:03] timor11 commented on #998
closing

[2019-11-18 13:24] timor11 commented on #998
reopen please ignore

[2019-11-18 13:27] timor11 commented on #998
please ignore this comment

[2019-11-18 13:27] timor11 commented on #998
closing comment

[2019-11-18 13:27] #998 closed, assigned to nobody

[2019-11-18 14:47] tpet opened #999 "D435 sensor model inconsistent with datasheet"
The URDF model seems to be inconsistent with the datasheet.

In forward direction the camera_link in the URDF model is placed at the level of the bottom screw mount (relative x = 0):
https://github.com/IntelRealSense/realsense-ros/blob/development/realsense2_description/urdf/_d435.urdf.xacro#L49

The bottom screw mount position is not given in the datasheet numerically (as far as I can tell) but i

[2019-11-18 20:13] levenberg opened #1000 "D435i IMU timestamp issue"
When I want to run a VIO system on D435i, I always get a warning like `imu message in disorder!`. I checked the IMU topic subscribe node:
[code]
It always gives me the warning of "imu message in disorder!", which means the current imu timestamp is equal or even smaller than the last one. It is so weird. Also, I tried to use `imu_msg->header.stamp.toSec() < last_imu_t`, it also gave me the warning.

[2019-11-18 21:14] fiorano10 opened #1001 "Running 4 x D435i"
Is it possible to run 4 x D435i on 4 x USB 3.0 (1 x 3.0 bus master)  ?

[2019-11-18 22:46] RealSenseCustomerSupport commented on #779
----------------------------------------------

Thanks doronhi.

cimbar, manomitbal...will you be needing further assistance with this issue?

Thanks

[2019-11-19 07:01] RealSenseCustomerSupport commented on #952
----------------------------------------------

Hi @JadTawil-theonly,

Do you manage to utilize the filter parameters in ROS wrapper? If no additional question, will close this.

[2019-11-19 07:18] RealSenseCustomerSupport commented on #947
----------------------------------------------

Hi @myleslidka,

Please check below to see if it can be used for your use case.
https://github.com/IntelRealSense/realsense-ros/pull/487

[2019-11-19 08:55] cimbar commented on #779
It solves my problem on ros side, thanks. Additionally, it would be better to explain how rs2_option flags can be disabled from librealsense

[2019-11-19 10:19] falkowskiUR opened #1002 "Raspberry pi 4 with two D435 not working"
----------------------------------------------------------------------------------------------------

|  Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Models                      | D435  and D435i            |
| Firmware Versions                   | 05.10.03.0

[2019-11-19 13:59] JadBatmobile commented on #952
Yes, all is good

[2019-11-19 18:32] RealSenseCustomerSupport commented on #779
----------------------------------------------

If you look at the _change_sensor_options()_ method in Intel RealSense SDK 2.0\samples\sensor-control\api_how_to.h you will find an example. You should be able to simple set RS2_OPTION_ENABLE_RELOCALIZATION to 0 to accomplish what you want.

[2019-11-19 21:04] #729 closed, assigned to nobody

[2019-11-19 22:33] MartyG-RealSense commented on #1001
You should be able to if you have a decent enough computing device to attach them to.  An Intel Core i7 processor or better would be advisable for 4 cameras.  A good hardware spec is especially important if you are going to be using more than one stream on each camera.

The **multicam** example program demonstrates what is achievable.

https://github.com/IntelRealSense/librealsense/tree/master/exa

[2019-11-19 22:38] MartyG-RealSense commented on #1002
Intel's guide to using two cameras with ROS may provide useful insights if you have not seen it already.

https://github.com/IntelRealSense/realsense-ros/wiki/Showcase-of-using-2-cameras

[2019-11-20 01:46] RealSenseCustomerSupport commented on #934
----------------------------------------------

Hi @VorpalBlade,

Although you switch to another vendor's camera, can I know what the versions of D435 firmware, ROS wrapper and librealsense you use to hit this issue in a long-run test? Can the D435 be still alive to have the streaming?
Note: The thermal condition needs to be concerned based on each component limits.

[2019-11-20 01:47] dj-missionsystems commented on #955
We are running a T265 on a quadcopter Into an NVIDIA Tx2 and are still seeing this problem with v2.30.0 firmware. Not very repeatable, so doubly frustrating (and not easy to power-cycle mid-flight). Are there any settings we should be playing with further that might help?

Cheers

[2019-11-20 02:03] #952 closed, assigned to nobody

[2019-11-20 03:26] ruoxueruoxi90915 opened #1003 "SR305: Incomplete bulk usb transfer!"
1. roslaunch realsense2_camera rs_rgbd.launch: [ERROR] [1574219710.066283358]: Incomplete bulk usb transfer!
2 . When I use a 3-meter USB 3.0 extension, I run roslaunch realsense2_camera rs_rgbd.launch: [ WARN] [1574219692.641234330]: No RealSense devices were found!
3. Can this realsense-ros package support both D435i and SR300? (the version of the RealSense SDK is 2.29.0)

[2019-11-20 05:48] wangxian4423 commented on #297
Well,just change the red channel and blue channel and everything works well!

[2019-11-20 07:49] VorpalBlade commented on #934
I no longer have access to the physical camera device (having given it back to researcher I borrowed it from), nor did I keep the packages installed after switching camera. However this might give some clues as to the versions I could have used:
* I updated the firmware to the latest available in mid September.
* I was running the latest librealsense available via [these instructions](https://gith

[2019-11-20 08:29] falkowskiUR commented on #1002
I've seen it and used the same commands as in **Step 2: Start both cameras:** . Just like before, 1st camera works fine and 2nd doesn't start and I get error from my original comment

[2019-11-20 08:46] MartyG-RealSense commented on #1002
@doronhi gave advice about running separate cameras in the link below to another user who had a similar problem with one D435 working but not two.  It sounds as though you have already tried this though?

https://github.com/IntelRealSense/realsense-ros/issues/432#issuecomment-414972317

[2019-11-20 11:55] falkowskiUR commented on #1002
Yes i did, both cameras had different topic headers. I will try to install older version of SDK and see if it resolves the issue

[2019-11-20 16:46] fiorano10 commented on #1001
Thanks!

[2019-11-20 16:46] #1001 closed, assigned to nobody

[2019-11-20 17:46] RealSenseCustomerSupport commented on #869
----------------------------------------------

Hi @Mightysaur

Is there anything further you need on this thread?  Thanks to MartyG-RealSense and doronhi for providing some information and links.

[2019-11-20 17:55] RealSenseCustomerSupport commented on #955
----------------------------------------------

Hi @dj-missionsystems

Thanks for the response.  When you say not very repeatable, is there something that is constant about the flight or the environment or wind, etc that might be the same between the times you see drift and NaN and the times you don' see it?  Prior to the v2.30.0 was it very repeatable and you're saying now it's not as repeatable

[2019-11-20 19:37] ihadzic commented on #991
I still see the problem after latest updates. The OS is Ubuntu 16.04, 4.15.0-70. The launch file is my own derived from one of the examples that come with the realsense ROS node (relevant lines pasted below). The setup is that I have the realsense node running and I have RVIZ open. I set the fixed frame to be d435 frame (camera) and then I add `/d435/color/image_raw/theora` topic to RVIZ and the v

[2019-11-20 23:57] ihadzic commented on #486
I also needed this because I find it easier to tell the devices apart by the USB path than the serial number (in the former case I only have to make sure that wiring is done in predictable manner, but I can swap the cameras in and out without changing the configuration. I came up with this one-liner that helps me determine the serial number to pass to roslaunch:
[code]

where `$USB_PATH` is someth

[2019-11-21 01:27] mikepurvis commented on #486
@ihadzic An even simpler version of this is to just use roslaunch's built-in ability to assign the output of a command invocation to a parameter. However, both approaches have the issue that you get a race on startup where if the camera doesn't enumerate in time, the driver will never find it (or worse, the whole launch fails).

Anyway, all of this is irrelevant now that the driver natively suppor

[2019-11-21 01:28] HeinzBenjamin commented on #757
@KentaKawamata It would be really useful to know HOW you resolved the error.

[2019-11-21 02:02] dj-missionsystems commented on #955
Unfortunately, during a 5-day flight-trial, weather meant we could only fly one afternoon. Prior to that we thought we had fixed the nan issue (which seemed to appear periodically after a few minutes) by turning USB autosuspend off (as per https://www.jetsonhacks.com/2015/05/27/usb-autosuspend-nvidia-jetson-tk1/). However we did two flights - one without NANs, and then one with. The only differenc

[2019-11-21 05:45] RealSenseCustomerSupport commented on #812
----------------------------------------------

Still need any further clarification for this topic? If not, will close this.

[2019-11-21 08:38] RealSenseCustomerSupport commented on #934
----------------------------------------------

Thanks for the info @VorpalBlade. We will continue improving our product's quality and reliability per the use cases.

[2019-11-21 09:02] #934 closed, assigned to nobody

[2019-11-21 09:26] FredHaa commented on #989
Have you rebuild the ROS package? I usually get that error when i update librealsense and don't rebuild the ROS package.

Try to run

`catkin clean realsense2_camera`

and then

`catkin build`

[2019-11-21 10:18] FredHaa opened #1004 "No stream match for pointcloud chosen texture Process - Color"
I get a lot of dropped frames running the node.

The log shows:
`No stream match for pointcloud chosen texture Process - Color`
`An error has occurred during frame callback: Error occured during execution of the processing block! See the log for more info`

When left running a few hours.

System:
Ubuntu 18.04
ROS Melodic
librealsense 2.30
realsense-ros 2.2.8

[code]

[2019-11-21 15:25] mblantonjr commented on #812
No further clarification needed. Unit is operational.

Blessings,

Michael Blanton, Jr.

On Wed, Nov 20, 2019 at 11:45 PM RealSense Customer Support <
notifications@github.com> wrote:

[2019-11-21 15:30] oka1125 commented on #950
@studennis911988

I have met the same problem.
I found ros-kinetic-librealsense-camera package was installed other than librealsense2 which I manually compiled and installed.
Check by this command:
  dpkg -l | grep librealsense

I soluted this problem by following command:
  sudo apt remove ros-kinetoc-librealsense2

[2019-11-22 07:02] #812 closed, assigned to nobody

[2019-11-22 08:52] RealSenseCustomerSupport commented on #708
----------------------------------------------

@omar-ogm Sorry for late response. Could you please try the latest SDK and ROS wrapper and feedback? Thanks!

[2019-11-22 09:38] RealSenseCustomerSupport commented on #910
----------------------------------------------

@RatheeshRK What's the SDK version and ROS wrapper version when you got the issue? Did you still have the issue with the latest version? Looking forward to your update. Thanks!

[2019-11-22 09:41] RealSenseCustomerSupport commented on #842
----------------------------------------------

@echoGee Thanks for the feedback! Will check with you later.

[2019-11-22 09:42] RealSenseCustomerSupport commented on #882
----------------------------------------------

@wangqingdong1 Any update from your side? Thanks!

[2019-11-22 09:43] RealSenseCustomerSupport commented on #765
----------------------------------------------

@tianjincb Could you please update if you still need support on this? Thanks!

[2019-11-22 09:44] RealSenseCustomerSupport commented on #837
----------------------------------------------

@npd26 Could you please update? Thanks!

[2019-11-22 10:21] peci1 opened #1005 "Release realsense2_description into melodic"
Hi, realsense2_description is a simple package with almost no dependencies. Could you please release at least this one into melodic? It shouldn't be a problem. And it would help us - We've got visualization (robot model) packages separated from the driver part, and currently, to get realsense URDF description, we'd need to clone and build the whole realsense2 repo, which unfortunately also brings

[2019-11-22 11:33] ghost commented on #797
@Achllle Can you post the solution? Thank you

[2019-11-22 16:00] omar-ogm commented on #708
I just installed from sources and it works. I guess we can close this

[2019-11-22 16:00] #708 closed, assigned to nobody

[2019-11-22 20:06] #913 closed, assigned to nobody

[2019-11-24 23:05] ashirsat commented on #508
@doronhi is there a way to get the intrinsic and the distrortion vector for the camera. These if obtained can be helpful in getting relasense cameras to work wiith other opencv applications like aruco-tags

[2019-11-25 06:36] RealSenseCustomerSupport commented on #949
----------------------------------------------

@cugcsu Could you please post the running log so that we can look into it further? Thanks!

[2019-11-25 14:02] Achllle commented on #797
As written above in my last comment, I resolved the issue by stopping all listeners that were subscribing to the image topic. In our case this was a monitoring service running in the background. Run `rostopic info` on the camera topic and it'll give you a list of subscribers.
Your listener probably is doing some conversion wrong, but I don't know exactly what.

[2019-11-25 23:39] manomitbal commented on #955
@RealSenseCustomerSupport  @dj-missionsystems everytime now that I get NaNs are after an intense bout of vibration/jerks

[2019-11-26 02:26] RealSenseCustomerSupport commented on #974
----------------------------------------------

@mikepurvis Does it mean that you have multiple cameras connecting to this power USB hub? If yes, how many cameras? And could you please share more about the setup when you get this issue?  Thanks!

1. Camera Model:

2. Firmware version:

3. OS and version:

4. Platform:

5. SDK version:

6. ROS wrapper version:

[2019-11-26 02:45] RealSenseCustomerSupport commented on #971
----------------------------------------------

Hi @mikepurvis,

1. Which camera do you use? How many cameras do you use?
2. What's your launch command?

[2019-11-26 17:39] mikepurvis commented on #974
Yes, this is multiple cameras on a hub. Everything was up to date at the time that the post was made.

At this point, we have workarounds (power cycling, relaunching, etc) in place to deal with reliability issues at all layers of the Realsense ecosystem, so although I'm interesting in seeing these problems resolved, I can no longer can justify the time required to help you guys out with them.

[2019-11-26 17:42] mikepurvis commented on #971
4x D435, launch command is irrelevant to this discussion.

Disabling `initial_reset` eliminates this particular crash, and we handled the others by separating our realsense launcher off and repeatedly re-launching it until everything comes up without crashing.

[2019-11-27 00:04] #779 closed, assigned to nobody

[2019-11-27 05:51] SCH923 commented on #401
works great thx

[2019-11-27 09:55] doronhi commented on #991
I couldn't "add /d435/color/image_raw/theora topic to RVIZ". Instead I added "/d435/color/image_raw" as the topic of the "Image" window and set "theora" as "Transport Hint". Is that what you did?

realsense2_camera node crashed after sending a few frames. Every time. It never worked enough for me to "Ctrl-C" and restart as to reproduce the crash you describe. This did not happen when I reduced res

[2019-11-27 13:41] doronhi commented on #297
@priyanandanaren , are experiencing this when subscribing on /camera/color/image_raw topic?
Can you share more parameters so w'll be able to reproduce? What camera, OS, realsense2_camera version, librealsense2 version? viewing application (rqt_image_view?)

[2019-11-27 13:51] doronhi commented on #1003
1. Is the camera available using realsense-viewer?
2. Yes. This realsense2_camera wrapper supports both SR300 and D435i.

[2019-11-27 14:07] doronhi commented on #1000
I think it's the same issue you referred to in #987, right?
I managed to reproduce but didn't get around to do more. It may be related to the different delay times to the different sensors but I'm not sure. Will update when had progress.

[2019-11-27 16:14] priyanandanaren commented on #297
@doronhi - It works as per @wangxian4423 comments

[2019-11-27 18:45] RealSenseCustomerSupport commented on #983
----------------------------------------------

Hi Steven,

The datasheet you're referencing below appears to be an outdated version. You'll find the latest here (with the correct values.)

https://dev.intelrealsense.com/docs/tracking-camera-t265-datasheet

Thanks

[2019-11-28 14:34] RealSenseCustomerSupport commented on #942
----------------------------------------------

Hi @harshitsankhla,

If it's due to the high computing power, wouldn't you consider to reduce the resolution and FPS?
And, which camera do you use?

[2019-11-29 10:54] Rohan035 opened #1006 "API Mismatch"
[ERROR] [1575024018.750131608]: Failed to load nodelet [/camera/realsense2_camera] of type [realsense2_camera/RealSenseNodeFactory] even after refreshing the cache: API version mismatch: librealsense.so was compiled with API version 2.30.0 but the application was compiled with 2.25.0! Make sure correct version of the library is installed (make install)

[2019-11-29 15:07] Vivoslespagnos commented on #756
Hi, I'm on Ubuntu 18.04(LTS), Kernel 5.0.0-36-generic x86_64, ROS Melodic and i have the same error message about UVC data from "ds5-timestamps.cpp:64".
I dowloaded Realsense2.0 SDK last upgrade : https://github.com/IntelRealSense/librealsense/blob/master/doc/distribution_linux.md &&  https://github.com/intel-ros/realsense#step-3-install-intel-realsense-ros-from-sources

But it's doesn't work ! I

[2019-11-30 06:35] #951 closed, assigned to nobody

[2019-12-01 04:18] doronhi commented on #1006
checkout this answer:
https://github.com/IntelRealSense/realsense-ros/issues/950#issuecomment-557136583

[2019-12-01 05:03] #982 closed, assigned to nobody

[2019-12-02 07:07] RealSenseCustomerSupport commented on #981
----------------------------------------------

@JadTawil-theonly Did you try the suggestion from doronhi? Any update? Looking forward to your update. Thanks!

[2019-12-02 08:07] RealSenseCustomerSupport commented on #968
----------------------------------------------

@AutomatoRobotics Could you please specify more about what you ran(such as launch file) when got this issue?

[2019-12-02 08:11] RealSenseCustomerSupport commented on #949
----------------------------------------------

@cugcsu Could you please update? Thanks!

[2019-12-02 08:14] RealSenseCustomerSupport commented on #929
----------------------------------------------

@yliupub Sorry that we didn't get update from you for weeks. Will close the ticket at this point. Please create another one if you still have questions/issues. Thanks!

[2019-12-02 08:16] RealSenseCustomerSupport commented on #922
----------------------------------------------

@catmasteryip Could you please update? Thanks!

[2019-12-02 08:17] RealSenseCustomerSupport commented on #910
----------------------------------------------

@RatheeshRK Could you please update? Thanks!

[2019-12-02 08:19] RealSenseCustomerSupport commented on #852
----------------------------------------------

@wqwanghanzhang Sorry that we didn't get update from you for weeks. Will close the ticket at this point. Please create another one if you still have questions/issues. Thanks!

[2019-12-02 08:21] RealSenseCustomerSupport commented on #837
----------------------------------------------

@npd26 Sorry that we didn't get response from you for weeks. Will close it at this point. If you still have questions/issues, please feel free to create another one. Thanks!

[2019-12-02 09:04] #852 closed, assigned to nobody

[2019-12-02 09:04] #929 closed, assigned to nobody

[2019-12-02 09:04] #837 closed, assigned to nobody

[2019-12-02 09:15] cimbar commented on #706
Actually, the solution is not related with ros package. Do you plan to implement this feature on the next release?

[2019-12-02 09:29] RealSenseCustomerSupport commented on #842
----------------------------------------------

@echoGee  Did you get chance to try and update? Thanks!

[2019-12-02 09:30] RealSenseCustomerSupport commented on #882
----------------------------------------------

@wangqingdong1 Sorry that we didn't get response from you for weeks. Will close it at this point. If you still have questions/issues, please feel free to create another one. Thanks!

[2019-12-02 09:31] RealSenseCustomerSupport commented on #765
----------------------------------------------

@tianjincb Sorry that we didn't get feedback from you for weeks. Will close it at this point. Please feel free to create another one if you still have questions/issues. Thanks!

[2019-12-02 09:45] RealSenseCustomerSupport commented on #943
----------------------------------------------

@mpowelson Could you please try with the latest SDK and wrapper version? We couldn't reproduce the issue with the latest version. Looking forward to your update. Thanks!

[2019-12-02 09:46] RealSenseCustomerSupport commented on #741
----------------------------------------------

@jdwolk  If no other questions about this issue, will close it accordingly. Thanks!

[2019-12-02 09:47] RealSenseCustomerSupport commented on #735
----------------------------------------------

@Patrick-Lascombe Could you please update? Thanks!

[2019-12-02 10:04] #741 closed, assigned to nobody

[2019-12-02 10:04] #765 closed, assigned to nobody

[2019-12-02 10:04] #680 closed, assigned to nobody

[2019-12-02 10:04] #882 closed, assigned to nobody

[2019-12-02 17:37] Vivoslespagnos commented on #714
Hy,
Im little bit confuse, i'm not really understanding what we have to do whit the above code ?
Im also using currently intel realsense D435(not "i") and i want print my depth value in mm !

After downloaded your code and put in src from realsense_camera, what i have to do ?

Thx u,
sorry i'm really lost

[2019-12-02 17:46] stevendaniluk commented on #983
Thank you. I initially had some difficulty finding the datasheet via Intel's website and had resorted to Google, which apparently led me to an old version. Glad this was fixed.

[2019-12-02 17:46] #983 closed, assigned to nobody

[2019-12-03 07:24] doronhi commented on #714
@Vivoslespagnos ,
The code above is a python code. It has some minor errors so I post a fixed code.
[my_depth_subscriber.txt](https://github.com/IntelRealSense/realsense-ros/files/3915159/my_depth_subscriber.txt)

1. Change it's extention to ".py" as this is a python code (rename to my_depth_subscriber.py) and save it where ever you want (/home/temp for example).
2. run the realsense2_camera node:

[2019-12-03 13:36] Vivoslespagnos commented on #714
Ok, so thx u very much, i suceed thank to your indication  !

Note : i try to calibrate (by test) to verify the value and i find something rather be just until 3 meters, after that they is some error around 10-20 cm, is just an observation to considere,

[2019-12-03 21:53] vargasjona commented on #680
Hi @JTShepard   @RealSenseCustomerSupport. I am using version2.2.9. I followed steps above, but problem still persists. Do you have any recommendation?
![image](https://user-images.githubusercontent.com/23468720/70092464-56be5200-15ec-11ea-8c69-daa7ed390559.png)
![image](https://user-images.githubusercontent.com/23468720/70092936-5ffbee80-15ed-11ea-90e5-29b7e164bd2e.png)

[2019-12-04 02:40] yyxr75 commented on #308
害

[2019-12-04 06:05] RealSenseCustomerSupport commented on #995
----------------------------------------------

Hi @Grandzxw,

Please refer to the datasheet. 200Hz is not supported for accel.

[2019-12-04 06:21] RealSenseCustomerSupport commented on #986
----------------------------------------------

Hi @SidKuruba,

It looks the error happens in the very beginning about starting roslaunch server.

[2019-12-04 06:24] RealSenseCustomerSupport commented on #979
----------------------------------------------

Hi @Grandzxw,

Any update?

[2019-12-04 06:47] MarcoDotIO opened #1009 "Open_Manipulator_AR_Marker Timestamp Issue (Realsense D435)"
Hello,

I am opening this issue in regards to an issue I've been having involving RViz and the D435. This issue revolves around a time synchronization issue occurring between the two, with this error being outputted. Also note, this error occurs commonly between multiple machines. In my case, I am running on a single machine. :

`[ERROR] [1575440969.925629154]: Lookup would require extrapolation i

[2019-12-04 08:26] FredHaa commented on #1004
The problem lied in an unstable USB connection.

[2019-12-04 08:26] #1004 closed, assigned to nobody

[2019-12-04 08:46] RealSenseCustomerSupport commented on #975
----------------------------------------------

Hi @iovsiann,

Is the issue resolved per @doronhi's suggestion? If so, will close this.

[2019-12-04 09:34] RealSenseCustomerSupport commented on #827
----------------------------------------------

Hi @ xhuan28
Do you need further help on this?

[2019-12-04 12:45] ihadzic commented on #991
Yes, that's essentially what makes the RVIZ a subscriber to theory subtopic under <path>/image_raw namespace

compressed image is just a M-JPEG, which consumes about 10x more bandwidth than any motion-vector based compression (e.g. Theora or H.264) and in the network conditions that my bots run, that's prohibitively high.

So the conclusion is that this is a bug in image_transport package?

[2019-12-04 14:41] doronhi commented on #898
Added #1010 to create a fixed frame rate using the "unite_imu_method:=copy" option.
Regarding the nice interpolation solution suggested by @chutsu , I can see why it may be better then the current linear interpolation implementation and I would like to adopt it if it's alright with you @chutsu .
I have only this concern: Although The messages keep their correct timestamps, they come out in bursts

[2019-12-04 14:43] doronhi commented on #951
Because these issues are very similar, please check my comment [here](https://github.com/IntelRealSense/realsense-ros/issues/898#issuecomment-561675431)

[2019-12-04 15:04] #995 closed, assigned to nobody

[2019-12-04 15:38] chutsu commented on #898
@dorodnic Feel free to copy the code. :+1:

This shouldn't be a problem with most VIO algorithms I have come across, since inorder to do a prediction step in an EKF or IMU factor in a non-linear optimization SLAM algo, they assume the gyro and accel measurements are aligned with each other. In short the algos have to wait for both gyro and accel (if they use IMU) in anycase, so the bursty behaviou

[2019-12-05 03:28] RealSenseCustomerSupport commented on #722
----------------------------------------------

@doronhi, do you have any comments about this?

[2019-12-05 03:48] xhuan28 commented on #827
No, thanks. I think this ticket can be closed.

[2019-12-05 04:07] #652 closed, assigned to nobody

[2019-12-05 04:07] #724 closed, assigned to nobody

[2019-12-05 05:07] doronhi commented on #991
I am not a theora expert so but so it seems to me, that this is a theora issue.

[2019-12-05 05:12] isirana opened #1011 "Working with Intel realsense T265 tracking camera and D435i Depth camera together?"
Hi,
Did anyone try to implement SLAM with combining T265 camera and D435i depth camera?
When I try to use both these cameras with ROS, most of the times It gives  this kind of an error

**11:27:58.880 [13072] [E] Device-5260: Error: Failed to claim USB interface. LIBUSB_ERROR_CODE: 0xFFFFFFFA (LIBUSB_ERROR_BUSY)**

Sometimes I managed to get the data from both the cameras to the rviz without any e

[2019-12-05 05:22] doronhi commented on #1009
Sorry, I don't understand the issue.
realsense2_camera does not provide a "world" frame. That comes out of another node.
So I guess the error message has something to do with configuration.
I am aware of some timestamp issues involving the "unite_imu_method" option but it seems you did not use it.
Can you provide some kind of test, set of instructions, that I can perform and reproduce the issue on

[2019-12-05 05:55] RealSenseCustomerSupport commented on #807
----------------------------------------------

Thanks @ravijo's contribution here.

[2019-12-05 05:56] Algabri commented on #526
you can see [here](http://library.isr.ist.utl.pt/docs/roswiki/openni_launch.html#Published_Topics) and [here](http://library.isr.ist.utl.pt/docs/roswiki/image_proc.html)

[2019-12-05 06:03] #785 closed, assigned to nobody

[2019-12-05 06:03] #807 closed, assigned to nobody

[2019-12-05 06:03] #830 closed, assigned to nobody

[2019-12-05 06:10] RealSenseCustomerSupport commented on #855
----------------------------------------------

If no further question, will close this.

[2019-12-05 06:14] RealSenseCustomerSupport commented on #885
----------------------------------------------

Thanks @saikishor's contribution.

[2019-12-05 06:18] RealSenseCustomerSupport commented on #894
----------------------------------------------

Since this result is expected, close this. If you have any concern, feel free to re-open it.

[2019-12-05 06:45] doronhi commented on #986
I found [this reference](https://www.bountysource.com/issues/42538310-shell-and-or-mavros-node-dies-with-serial-connection)
Maybe the ROS port is already taken?
In any case, I think this is not a realsense2_camera issue.

[2019-12-05 07:40] RealSenseCustomerSupport commented on #997
----------------------------------------------

Hi @ruoxueruoxi90915,

How is everything going well with the latest ros wrapper?

[2019-12-05 07:52] RealSenseCustomerSupport commented on #996
----------------------------------------------

Refer to #997

[2019-12-05 08:01] RealSenseCustomerSupport commented on #986
----------------------------------------------

@SidKuruba,

Please clarify if your setup has some trouble there as @doronhi mentioned.

[2019-12-05 08:05] #855 closed, assigned to nobody

[2019-12-05 08:05] #856 closed, assigned to nobody

[2019-12-05 08:05] #885 closed, assigned to nobody

[2019-12-05 08:05] #894 closed, assigned to nobody

[2019-12-05 08:05] #996 closed, assigned to nobody

[2019-12-05 10:12] MartyG-RealSense commented on #1011
Intel produced a YouTube presentation on using T265 and D435 together, with the T265 providing navigation and the D435 providing obstacle avoidance.  The part about D435 starts at 17 minutes 15 seconds into the video.

https://www.youtube.com/watch?v=62vm0_RZ1nU

A shorter YouTube clip on the subject of combining T265 and D435 is here:

https://www.youtube.com/watch?v=LBMsWJJxLXQ

One user who com

[2019-12-05 10:55] doronhi commented on #1011
On my machines, when I run `roslaunch realsense2_camera rs_d400_and_t265.launch` the message "Failed to claim USB interface" is printed many time by the t265 node during the initial second or so, until the d435i node releases it and then the t265 device is claimed and everything works fine.
I can then run RViz, set the "Fixed Frame" to "t265_pose_frame" and see the pointcloud projected in the righ

[2019-12-05 18:40] araujokth commented on #898
This is great news @doronhi . Thanks!

In the majority of the cases people create datasets out of this data in order to run their experiments, so the burstiness will not affect this since the timestamps are correct inside the rosbag.

If trying to run this online, then one could add a fixed delay to wait for IMU measurements, which should not be longer than one or two acceleratometer samples? Then

[2019-12-05 18:59] RealSenseCustomerSupport commented on #866
----------------------------------------------

The T265 uses the standard USB interface that's publicly available.

Given SteveGrehl findings I agree with his conclusion.

Will you be needing any further assistance with this before we close?

[2019-12-05 20:35] RealSenseCustomerSupport commented on #711
----------------------------------------------

We've recently updated some documentation regarding wheeled odometry on the T265. Please see the "Appendix" section in link below and let us know if this helps clarify things.

https://github.com/IntelRealSense/librealsense/blob/development/doc/t265.md

Thanks

[2019-12-05 22:06] #916 closed, assigned to nobody

[2019-12-05 22:06] #931 closed, assigned to nobody

[2019-12-06 03:17] RealSenseCustomerSupport commented on #947
----------------------------------------------

I will close this if no further question.

[2019-12-06 03:46] RealSenseCustomerSupport commented on #974
----------------------------------------------

@mikepurvis Thanks for the update! Could you please share what's your OS and version? We'll try to if the issue can be reproduced here and look into it further. Thanks!

[2019-12-06 04:06] #947 closed, assigned to nobody

[2019-12-06 04:06] #928 closed, assigned to nobody

[2019-12-06 06:20] RealSenseCustomerSupport commented on #971
----------------------------------------------

@mikepurvis,

Trying to launch 4 cameras with below command on my NUC + Ubuntu 16.04 + Kernel 4.15 has no problem. One powered USB3 hub with 4A supply is used  for three cameras and one USB3 port for another camera.
$ roslaunch realsense2_camera rs_multiple_devices.launch initial_reset:=true serial_no_camera1:=829212072349 serial_no_camera2:=84161207

[2019-12-06 06:22] RealSenseCustomerSupport commented on #971
----------------------------------------------

By the way, I use the ros 2.2.9 and librealsense 2.29.0 for the test. All four camera's firmware version is 5.11.15.0.

[2019-12-06 14:18] Weimmer opened #1012 "ERRORS with T265."
Hi,

when i use the command to launch T265 it showed me some errors
command:
`roslaunch realsense2_camera rs_t265.launch`
Errors
[code]
ROS: melodic
computing device : JETSON TX2
Sensor: Intel T265

[2019-12-06 15:28] mikepurvis commented on #974
Closing this ticket; you haven't been able to reproduce any of the previous failures, and we have workarounds in place now.

[2019-12-06 15:28] #974 closed, assigned to nobody

[2019-12-06 20:07] #978 closed, assigned to nobody

[2019-12-08 10:48] abdellaui commented on #1011
it works for me!
look at: https://github.com/abdellaui/ros_intel_realsense_t265_d435

[2019-12-09 06:38] isirana commented on #1011
Hi,
I managed to get the data from both cameras to rviz by running
roslaunch realsense2_camera rs_camera.launch camera:=cam_1 serial_no:=845412110596
roslaunch realsense2_camera rs_camera.launch camera:=cam_2 serial_no:=909512071732

separately, but still D435i camera gives a warning  like this:

WARNING [547071455616] (messenger-libusb.cpp:42) control_transfer returned error, index: 768, error: N

[2019-12-09 06:49] MartyG-RealSense commented on #1011
@doronhi is likely the best person to assist with this question.  Having said that, the ability to launch by USB port ID instead of serial number was recently added, so you could explore that possibility

https://support.intelrealsense.com/hc/en-us/community/posts/360037088214-Information-on-choosing-a-device-in-the-ROS-wrapper-by-USB-port-ID

[2019-12-09 09:29] doronhi commented on #777
Can be closed with #902 ?

[2019-12-09 20:35] RealSenseCustomerSupport commented on #962
----------------------------------------------

Hi Victor,

1. Yes...the use of two velocimeters can give slightly better performance/accuracy because it has more parameters and can account for things like a difference in wheel diameters, etc but I don't believe the slight improvement in performance justifies the increased complexity.

2. If possible....you could lift the robot and just turn the w

[2019-12-10 02:08] #949 closed, assigned to nobody

[2019-12-10 08:32] SteveGrehl commented on #866
The computer to which I connected the camera had a hardware defect at the USB interface, which was the cause for the error message. @RealSenseCustomerSupport the issue can be closed, thanks for the help.

[2019-12-10 08:43] cclo-astri opened #1015 "Unable to enable D435 / D435i on NVIDIA TX2 platform"
Hi all,

Sorry for such long question. I want to use D435 / D435i on NVIDIA TX2 platform, but encountered some difficulties.

Here is the setup procedure that I have done (natively on NVIDIA TX2):

1. Compile librealsense from scratch
`sudo apt-get install git libssl-dev libusb-1.0-0-dev pkg-config libgtk-3-dev libglfw3-dev`
`cd ~/RealSense/librealsense-master`
`./scripts/setup_udev_rules.sh`
`mkd

[2019-12-10 09:33] Weimmer commented on #1005
Hi,
i am using JETSON TX2 with melodic, when i launch the T265 these are aways some errors
[code]
is there some ploblems with melodic?

[2019-12-10 14:11] doronhi commented on #1015
Could you first check that librealsense example applications work? realsense-viewer, I expect, is not built but you could try out `rs-distance`, `rs-color`? It could give us a lead.

[2019-12-11 01:56] cclo-astri commented on #1015
Hi @doronhi ,

Thanks for your comment.

I just check the D435i with realsense-viewer (fortunately I have built it). There are 3 modules I could switch ON / OFF: Stereo / RGB / Motion. But only RGB fails to work.

The only step that I **HAVE NOT DONE** is patch kernel to build & load patched drivers, which is [https://github.com/IntelRealSense/librealsense/blob/master/doc/installation.md](url)

Be

[2019-12-11 06:37] doronhi commented on #1015
Right now it doesn't sound like a kernel issue but we need more data.
Could you try the following things:
1. running on the NVIDIA machine:
- Post the printout of `rs-enumerate-device`
- Try running `rs-color`.
- Try connect the camera using a USB-hub.
2. Try the camera on a different computer.

[2019-12-11 06:47] RealSenseCustomerSupport commented on #992
----------------------------------------------

Hi @fly-duck,

Any update? Is the issue resolved?

[2019-12-11 06:56] fly-duck commented on #992
Hi @doronhi , I compiled the realsense2_camera in another environment and the topic  "/camera/rgb/image_rect_color" is not publishing. Thanks for your help.

[2019-12-11 06:56] #992 closed, assigned to nobody

[2019-12-11 07:15] cclo-astri commented on #1015
Hi @doronhi ,

I used my colleague's NVIDIA TX2 and do some cross-verification, and I found D435i could work on his board perfectly.

After some discussion, we discovered the Linux Kernel version (and related kernel drivers) are slightly different. My board's Linux Kernel and drivers are kept as factory default version (older) but his board is newer because he performed OS / Kernel update accident

[2019-12-11 08:29] manhha1402 opened #1017 "realsense-ros is not working with SR300 v.2.2.8"
Hi,
Due to the bug of librealsense package (https://github.com/IntelRealSense/librealsense/issues/5233), I switched to v2.2.8 version of `realsense-ros` and `librealsense`. The launch file `rs_rgbd.launch` outputs topics `/camera/infra1/image_rect_raw`, `/camera/color/image_rect_color`, `/camera/aligned_depth_to_color/image_raw`  as pictures. I think depth data is not correct anymore. Do you pleas

[2019-12-12 05:48] doronhi commented on #1015
Sound promising. Looking forward to your update.

[2019-12-12 06:16] RealSenseCustomerSupport commented on #948
----------------------------------------------

@comwise Could you please tell which launch file do you use when get the issue? And did you get chance to try the latest SDK and ROS version to see if still have issue? Thanks!

[2019-12-12 07:43] RealSenseCustomerSupport commented on #941
----------------------------------------------

@jacksparkman Did you get it through? Any other questions? Looking forward to your update. Thanks!

[2019-12-12 08:06] RealSenseCustomerSupport commented on #932
----------------------------------------------

@Grandzxw Did you get any error when install debian package? UVC metadata error might be caused incomplete installation. Please double check. Thanks!

[2019-12-12 09:13] RealSenseCustomerSupport commented on #796
----------------------------------------------

@pavloblindnology Any other questions about this? Looking forward to your update. Thanks!

[2019-12-12 12:50] mcalafat-earthrover opened #1018 "realsense-ros does not work on a Xavier (2.2.10)"
Hi!

I have installed librealsense 2.30.0 on my Jetson Xavier  with help of this guide [Jetson Installation](https://github.com/IntelRealSense/librealsense/blob/master/doc/installation_jetson.md).

Then I installed realsense-ros 2.2.10 compatible with the librealsense version installed before.

I also updated the firmware of my D435 depth camera up to date (it is 5.12.01).

My problem is the next:

[2019-12-12 14:30] Shkunn opened #1019 "Hi,"

[2019-12-12 14:33] Shkunn opened #1020 "PROBLEM after lauching : roslaunch realsense2_camera rs_camera.launch"
I don't understand why I get this warning message...

 12/12 15:28:58,774 WARNING [140556978751232] (ds5-timestamp.cpp:64) UVC metadata payloads not available. Please refer to the installation chapter for details.
[ WARN] [1576160938.775043165]: Frame metadata isn't available! (frame_timestamp_domain = RS2_TIMESTAMP_DOMAIN_SYSTEM_TIME)

Maybe someone here could help me with this issue !

Thank you

[2019-12-12 14:34] #1019 closed, assigned to nobody

[2019-12-13 06:41] jediofgever opened #1021 "No support for ubuntu 18.04 on melodic ?"

[2019-12-13 07:25] jediofgever commented on #1021
okay ,Actually I built it without problems, the dependencies are already installed with a full desktop installation of melodic the only additional one that needs to be installed is ddynamic-reconfigure

which you can get it with ;
`sudo apt-get install ros-melodic-ddynamic-reconfigure`

[2019-12-13 09:32] RealSenseCustomerSupport commented on #889
----------------------------------------------

@paulbovbel Is this still issue for you? Looking forward to your update. Thanks!

[2019-12-13 09:34] RealSenseCustomerSupport commented on #875
----------------------------------------------

@Kaju-Bubanja Sorry for late response. Did you still have issue with the latest SDK and ROS wrapper? Looking forward to your update. Thanks!

[2019-12-13 09:37] RealSenseCustomerSupport commented on #808
----------------------------------------------

@furushchev Seems this issue resolve in latest ROS wrapper. Can we close this? Thanks!

[2019-12-13 09:37] RealSenseCustomerSupport commented on #968
----------------------------------------------

@AutomatoRobotics  Could you please update? Thanks!

[2019-12-13 09:38] RealSenseCustomerSupport commented on #981
----------------------------------------------

@JadTawil-theonly Could you please update? Thanks!

[2019-12-13 09:41] RealSenseCustomerSupport commented on #910
----------------------------------------------

@RatheeshRK  Sorry that we didn't get response from you for weeks. Will close it at this point. Please feel free to create new one if you still have questions or issues. Thanks!

[2019-12-13 09:41] RealSenseCustomerSupport commented on #943
----------------------------------------------

@mpowelson Any update from your side? Thanks!

[2019-12-13 09:44] RealSenseCustomerSupport commented on #842
----------------------------------------------

@echoGee  Any update from your side? Thanks!

[2019-12-13 09:46] RealSenseCustomerSupport commented on #735
----------------------------------------------

@Patrick-Lascombe  Didn't get response from your side for weeks. Will close the ticket at this point. Please feel free to create another one if you still have questions or issues. Thanks!

[2019-12-13 09:49] RealSenseCustomerSupport commented on #922
----------------------------------------------

@catmasteryip Sorry that we didn't get any response from you for weeks, will close the issue at this point. Please feel free to create another new one if you still have questions or issues. Thanks!

[2019-12-13 10:05] #735 closed, assigned to nobody

[2019-12-13 10:05] #910 closed, assigned to nobody

[2019-12-13 10:05] #922 closed, assigned to nobody

[2019-12-13 10:35] cclo-astri commented on #1015
Hi @doronhi

I finished my test and now D435i works perfectly in NVIDIA TX2.

- realsense-viewer could view all module's frames.
- I could use my SLAM application to subscribe the ROS-topics of D435i and get valid images.

Thanks for your help.

[2019-12-13 10:35] #1015 closed, assigned to nobody

[2019-12-13 13:29] drchrislewis commented on #943
I switched to using the 435 for my application. I also switched to using depth_image_proc instead using the onboard one since I needed a structured pointcloud. I do plan to switch back and test this again when I get time, but that could be a few weeks. You can close this in the meantime if you want.

[2019-12-13 13:30] mpowelson commented on #943
I switched to using the 435 for my application. I also switched to using depth_image_proc instead using the onboard one since I needed a structured pointcloud. I do plan to switch back and test this again when I get time, but that could be a few weeks. You can close this in the meantime if you want.

[2019-12-13 14:07] paulbovbel commented on #889
This is definitely still an issue. There appear to be a variety of hardware errors that are recoverable via software reset (https://github.com/IntelRealSense/realsense-ros/issues/889#issue-479723680).

I have a proposed fix at https://github.com/IntelRealSense/realsense-ros/pull/946 to allow users to expand the list of errors that trigger this behavior.

[2019-12-13 14:33] JadTawil-theonly commented on #981
Hey!
Yes is all good

[2019-12-13 14:33] #981 closed, assigned to nobody

[2019-12-13 15:22] studennis911988 opened #1022 "D435i IMU time synchronized with depth image"
1.  software version
- librealsense : 2.29.0
- realsense-ros : 2.2.11(latest)
- firmware : UVC_5_11_6_250
-  unite_imu_method"        default="copy"

2. Issue
I try to get synchronized IMU & image but when I check the header in rostopic echo, and clearly they are synchronized just the picture showing below. When the timestamp in depth is " 43777373
", there is no correspondance imu data at same ti

[2019-12-13 15:29] mcalafat-earthrover commented on #1018
Finally I have downgraded realsense some versions until I have find a stable version which works.

The final setup is this:

* ROS-realsense:  **2.2.8**
* librealsense: **v2.28.1** (in fact, from v2.25.0 to v2.28.1 are working)
* D435 FW: **5.12.01**
* ROS Melodic on Ubuntu 18.04 LTS.

[2019-12-13 20:49] RealSenseCustomerSupport commented on #927
----------------------------------------------

Hi @cichard

doronhi provided a good detailed explanation of the coordinate system.  Is there anything further needed on this thread?

Thanks

[2019-12-13 21:04] RealSenseCustomerSupport commented on #958
----------------------------------------------

Hi @reyes73a

Regarding the confidence level, have you came across this:  https://github.com/IntelRealSense/realsense-ros/blob/ec68bddb042abeba820421835c8b3e968c1016c7/realsense2_camera/src/base_realsense_node.cpp

Regarding localization, the APIs are available in librealsense (https://github.com/IntelRealSense/librealsense)

Is there anything else n

[2019-12-13 21:13] RealSenseCustomerSupport commented on #959
----------------------------------------------

@omotuyoa

Were you able to utilize the D435i in your usage model?  Is there anything else needed on this thread?

[2019-12-13 22:04] #869 closed, assigned to nobody

[2019-12-13 22:10] RealSenseCustomerSupport commented on #987
----------------------------------------------

Has this PR been tried for this issue:  https://github.com/IntelRealSense/realsense-ros/pull/1010

[2019-12-13 22:21] MartyG-RealSense commented on #1022
The link below discusses the difficulty of syncing depth and IMU, and suggestions for how to approach it.

https://github.com/IntelRealSense/librealsense/issues/4854

[2019-12-14 15:07] walaa-oth opened #1023 "Documentation"
Hello,
Is there any paper explain the theoretical principle used in this code? I also have a problem while using this algorithm with my camera D435i. The imu data it is not synchronized with the RGB images .
Thanks in advance

[2019-12-14 18:18] levenberg commented on #987
Currently, I am using librealsense version: 2.17.1 and realsense ros version 2.1.3. And this old version provides good timestamps. So I have not tried the latest update.

[2019-12-15 04:57] doronhi commented on #1023
Can you be more specific? What part of the code? What algorithm you are having problems with?
What do you mean by "not synchronized"? How do you test? I'm asking so that we can make sure we understand what you mean, reproduce and confirm the problem.

[2019-12-15 05:17] doronhi commented on #1022
As for the "Frame metadata isn't available!" message, checkout [this link](https://github.com/IntelRealSense/realsense-ros/issues/932#issuecomment-538720015)

[2019-12-15 06:33] doronhi commented on #1020
Try checking out [this link](https://github.com/IntelRealSense/realsense-ros/issues/932#issuecomment-538720015)

[2019-12-15 12:55] walaa-oth commented on #1023
I am talking about SLAM using D435i. I want to know which technique is been using in this implementation and if there any paper about it. I am trying the algorithm on a virtual box hosted by Ubuntu 19.10 and powered by ubuntu 16.04. I meant by that, that the IMU data from the camera is not correct.

[2019-12-15 13:16] doronhi commented on #1023
Are you referring to the example in the wiki [SLAM-with-D435i](https://github.com/IntelRealSense/realsense-ros/wiki/SLAM-with-D435i)?
If that is the case then I am aware that there were problems regarding the imu publishing rate not being fixed. That was corrected in the last release (2.2.11).
Other then that, I suspect there are more issues causing the IMU not to have the expected effect in the r

[2019-12-15 13:57] AutomatoRobotics commented on #968
Hi, sorry for being unresponsive. We're having a series of field test this Wednesday so I'll keep you updated on whether the latest sdk/wrapper updates solved it. If not, I'll send the launch file

[2019-12-15 23:26] szx0112 opened #1024 "Aligned_depth_to_color frame drop (to ~1 HZ) after upgrading firmware from 2.30 to 2.31"
After upgrading the librealsense firmware to 2.31. I notice the topic /camera/aligned_depth_to_color become really unstable.

I set depth rate as 15HZ.

In 2.30, I can consistently receive 14~15 HZ messages when call rostopic hz /camera/aligned_depth_to_color/image_raw

After upgrading to 2.31, I call the same topic but often receive "no new message" or topic between 1~6 HZ. It is very hard to rec

[2019-12-16 02:40] TomLuosy opened #1025 "Can D435 filter the image for modeling according to specific IMU data？"
Hi, I want to make d435 choose whether to transmit the corresponding image information according to the specific IMU data, so as to save the bandwidth of information transmission.

[2019-12-16 07:31] abhishekpg01 opened #1026 "How to find the orientation of a flat object using realsense D435 ???"
Hi i want to find the orientation of a flat plate using realsense camera. I know 4 points on the plate. Using that is there any way to find the orientation ??

[2019-12-16 08:07] doronhi commented on #1024
As for now, I am not aware of any performance difference between the versions. Will keep watching.
In the meanwhile, did you compile or installed the debian? If compiled, could you check the cmake flags? Specifically if "CMAKE_BUILD_TYPE=release"?

[2019-12-16 09:32] ManuelS-BSH opened #1027 "D435 - time stamp issue in image stream"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | D435 |
| Firmware Version                   | 05.12.01.00 |
| Operating System & Version |   Ubuntu 18.04.3 LTS  |
| Kernel Version (Linux Only)    |  5.0.0-37-generic

[2019-12-16 11:50] MartyG-RealSense commented on #1026
In computer vision, the orientation of an object can be described as its "pose".  Though pose support is not built in to the D435 like it is for the T265 Tracking Camera, RealSense users have found workarounds to get pose with a D435 using OpenCV or with 'inference' in ROS.

A user who was using a robot arm for bin picking got pose with a D435 with an OpenCV SolvePnP algorithm.

https://github.com

[2019-12-16 15:16] manhha1402 commented on #1017
I rebuild librealsense using deb packages and it's working.

[2019-12-16 15:16] #1017 closed, assigned to nobody

[2019-12-16 16:58] JadTawil-theonly opened #1028 "align_depth behaviour"
I just want to be clear,

setting align_depth to True aligns all images (left, right, color) to the depth image, so those images are transformed to the coordinate frame of the depth image? Where is this frame defined? is it the geometric center of the D435?

[2019-12-16 19:51] RealSenseCustomerSupport commented on #987
----------------------------------------------

Maybe we should close this thread out until you're able to test out the latest release and provide some update.

Let me know if you're inline with this direction.

Thanks

[2019-12-16 20:35] JadTawil-theonly opened #1029 "rectified vs non-rectified streams"
After running the launch file:

roslaunch realsense2_camera rs_rgbd.launch

I am confused by the fact that there is a topic /camera/color/image_raw and a topic /camera/color/image_rect_color, however, the intrinsic parameter published on /camera/color/camera_info, which i assume corresponds to the /camera/color/image_raw topic, states that the distortion parameters are 0. This means that the image

[2019-12-17 06:40] furushchev commented on #1018
I met the similar case.
I use the same version on Jetson Xavier, and 2 realsense cameras connected on each USB bus.
When I use `realsense-viewer`, I can see color and depth images for both camera (4 viewers on a display), but with `realsense2_camera`, I can see only the images of one camera.

[2019-12-17 06:45] ashirsat opened #1030 "realsense-ros for ros melodic"
Hi,

I am planning to upgrade ros-kinetic to ros-melodic since it is almost end of life and ubuntu 18.04 is the next LTS.

Is there a plan for upgrading the realsense-ros driver to work with ros-melodic

Thanks.

[2019-12-17 09:31] RealSenseCustomerSupport commented on #889
----------------------------------------------

@paulbovbel Thanks for your contribution! I saw our engineer is now looking into the PR you submitted.

[2019-12-17 09:33] RealSenseCustomerSupport commented on #943
----------------------------------------------

@drchrislewis Thanks for the update! Please feel free to create another one if you still have questions or issues later.

[2019-12-17 09:41] doronhi commented on #1027
I try to reproduce using the following commands:
Terminal 1: `roslaunch realsense2_camera rs_camera.launch`
Terminal 2: `rostopic echo /camera/color/image_raw/header/stamp`

The time stamps in terminal 2 seems fine..
I use D435, firmware version: 05.11.01.100 on Ubuntu 16.04

[2019-12-17 10:04] #943 closed, assigned to nobody

[2019-12-17 17:39] szx0112 commented on #1024
Thanks for the reply. I build everything from the source and cmake with the "CMAKE_BUILD_TYPE=release" flag enabled. After re-install everything, the PC works good now, but the NUC still show similar results. rostoptic hz /camera/aligned_depth_to_color/image_raw remain low frequency (1~5 HZ).

The NUC is installed in ubuntu 18.04 with kernal 5.0.0-37-generic. The NUC model is 5i7RYH. Is this behav

[2019-12-17 22:30] RealSenseCustomerSupport commented on #872
----------------------------------------------

Hi @tykurtz,

Did the fix https://github.com/IntelRealSense/realsense-ros/pull/901 solve the issue? Please let us know if you need any further assistance with this matter.

Thank you!

[2019-12-17 23:18] RealSenseCustomerSupport commented on #900
----------------------------------------------

Hi @ WangyuHIT,

Has the comment provided by @doronhi helped to find an answer to your question? Please let us know if you need any further assistance with this matter.

Thank you!

[2019-12-18 00:18] RealSenseCustomerSupport commented on #962
----------------------------------------------

Does this answer your question Victor? If so we will close this ticket.

Thanks

[2019-12-18 00:27] RealSenseCustomerSupport commented on #711
----------------------------------------------

Will you be needing further help with this?

One of our engineers also suggested  *reducing* the measurement noise covariance, probably by 1 or 2 orders to see an effect. Maybe try 1/100? (It’s quadratic.)

Is it safe to close this issue?

Thanks

[2019-12-18 06:37] zainmehdi opened #1031 "T265: Camera enumeration after boot (Raspberry pi 4)"
Can anyone please provide any update on this issue. It seems like the camera is not detected after initial boot and one has to plug out and plug in to make it work. This is a serious problem that prevents this camera from being used in any product. Customers certainly cant plug out and plug in every time they want to use this device. I am really hoping Engineering team can provide some workaround

[2019-12-18 07:27] ashirsat commented on #963
Hi @aswinkumar2019 ,

Can you point me to the config file for the above modification?

Thanks.

[2019-12-18 07:51] aswinkumar2019 commented on #963
Hello @ashirsat,the code has been modified already.
no changes need to be done now.
the realsense team has accepted the changes made.
The code should work fine now
Regards,
Aswin Kumar

[2019-12-18 20:50] levenberg commented on #987
Thank you for your update. I have updated to the latest version `RealSense ROS v2.2.11` and ` LibRealSense v2.31.0`. However, the IR projector turn off command does not work any more.
[code]
Duplicate of #817 .

I use `rosrun rqt_reconfigure rqt_reconfigure` to check the value of emitter_enabled now. It has three options `0, 1,2`. So the setting:
[code]
works. And I also checked the timestamp, it

[2019-12-18 23:18] victorbl commented on #962
Thank you, this was very helpful.  Appreciate you taking the time to reply!

[2019-12-18 23:18] #962 closed, assigned to nobody

[2019-12-19 04:07] jediofgever commented on #1030
hi, @ashirsat ,
I did built the repo under melodic,
see my issue here; https://github.com/IntelRealSense/realsense-ros/issues/1021

[2019-12-19 05:34] ashirsat commented on #1030
Hey @jediofgever ,

I will try and build it with the guide for ros-kinetic and add this extra repo.

Thanks

[2019-12-19 11:33] DarthBubi commented on #1024
I can confirm the same behaviour on my machine. For me a downgrade to librealsense 2.30 and recompiling the ROS driver with that version did the trick. Seems to be a bug in librealsense.

[2019-12-19 12:48] ManuelS-BSH commented on #1027
I honestly have absolutely no idead why, because I didn't change _anything_, yet it seems to work again now, just a few days later.
Maybe the PC had issues the last time or something, I really don't know ...

[2019-12-19 12:55] AutomatoRobotics commented on #968
Hello,

Unfortunately it's still problematic, though much less frequent crashes than before.
I noticed that it usually crashes when I kill the node (with ctrl-c). The computer immediately shuts down - no warning at all.

The launch file is attached, all the arguments are set in the beginning as I run it without passing any arguments:
[1.launch.txt](https://github.com/IntelRealSense/realsense-ros/f

[2019-12-19 20:04] #827 closed, assigned to nobody

[2019-12-20 02:46] RealSenseCustomerSupport commented on #777
----------------------------------------------

@JessyXie Could you please check if https://github.com/IntelRealSense/realsense-ros/pull/902 meet your need? And any other questions about this? Looking forward to your update. Thanks!

[2019-12-20 03:18] RealSenseCustomerSupport commented on #796
----------------------------------------------

@pavloblindnology Could you please update? Thanks!

[2019-12-20 03:26] RealSenseCustomerSupport commented on #941
----------------------------------------------

@jacksparkman Could you please update? Thanks!

[2019-12-20 03:32] RealSenseCustomerSupport commented on #808
----------------------------------------------

@furushchev  Could you please update? Thanks!

[2019-12-20 03:44] RealSenseCustomerSupport commented on #875
----------------------------------------------

@Kaju-Bubanja Could you please update?Thanks!

[2019-12-20 04:16] furushchev commented on #808
Sorry for being late!
I created a pull request to check if this issue is resolved.
https://github.com/IntelRealSense/realsense-ros/pull/1032
Once the testing ends successfully, I believe this issue can be closed.

[2019-12-20 06:00] RealSenseCustomerSupport commented on #932
----------------------------------------------

@Grandzxw Did you get chance to check? Any update from your side? Looking forward to your update. Thanks!

[2019-12-20 06:05] RealSenseCustomerSupport commented on #948
----------------------------------------------

@comwise Do you still have this issue? Could you please update? Thanks!

[2019-12-20 08:41] Shivani1796 commented on #868
@doronhi @RJJxp Hey, I read above messages can you tell me how to generate pose file for T265 camera ?

[2019-12-20 11:21] jajosheni commented on #832
I want to open this issue again. I think there is the same bug with the new update.

[2019-12-20 19:03] abhileshborode opened #1033 "HW Sync Issue/ Bug ?"
I am working with 2 D435is and trying to get a panoramic images of the input stream. To do this successfully I am trying to HW sync the clocks of the 2 D435is so as to make sure the images are taken at the same timestamp. I followed the instructions on the whitepaper
(https://www.intel.com/content/dam/support/us/en/documents/emerging-technologies/intel-realsense-technology/RealSense_Multiple_Camer

[2019-12-20 19:47] RealSenseCustomerSupport commented on #990
----------------------------------------------

Hi @ihadzic

Were you able to follow the instructions provided by doronhi?  Are you seeing any further issues on this thread?

[2019-12-20 20:06] #959 closed, assigned to nobody

[2019-12-20 20:06] #927 closed, assigned to nobody

[2019-12-20 20:28] RealSenseCustomerSupport commented on #920
----------------------------------------------

@jungladicitta is there anything further needed on this thread?

[2019-12-20 20:45] RealSenseCustomerSupport commented on #933
----------------------------------------------

Hi @SSusantAchary

I'd like to suggest a few things if you haven't done so already.  Please upgrade to the latest librealsense package 2.31.0.  Have a look at the release notes, there has been some updates to the release with regards to localization and other fixes.  Environment also plays a factor in identifying features in a room for the SLAM algo

[2019-12-20 20:55] RealSenseCustomerSupport commented on #984
----------------------------------------------

@vnsiot - Is there anything further needed on this thread?

[2019-12-20 21:02] #997 closed, assigned to nobody

[2019-12-20 21:02] #958 closed, assigned to nobody

[2019-12-20 22:29] KyleJosling opened #1034 "Depth values differ between ROS and API"
I have been attempting to get accurate depth values from the realsense-ros `/camera/depth/aligned_depth_to_color/image_raw` topic, but I have found that the depth values I am getting are different than the ones I am getting from the API as well as `realsense-viewer`. The ones from ROS are not accurate to the actual depth.

I have set up a test program to read depth values from a rs2 depth stream,

[2019-12-22 15:11] tylerjw commented on #808
I'm trying to use this with `Melodic` but am running into a couple of issues related to this.

Currently building `librealsense2` as a source package (through rosinstall) doesn't work because it's `package.xml` doesn't list all the required dependencies.

Secondly because it is only released as a kinetic package, installing it in the recommended way (debian install) doesn't work because then rosde

[2019-12-22 15:15] tylerjw commented on #1030
While this will build `rosdep install` fails making it impossible to depend on this and get our repo to pass CI in Melodic.

[2019-12-23 00:14] furushchev commented on #808
@RealSenseCustomerSupport It looks it is still not solved. Please look at #1032.

[2019-12-23 05:08] doronhi commented on #808
I am all for the idea behind #1032.
The CI run of #1032, did not fail because of the librealsense2 installation. That is because lines 10-11 in .travis.yaml which are responsible for it are still there.
It failed because of another test which for reasons I am yet unaware of is unstable in the Travis runs. I believe if you re-run the test it will pass.
[PR#23276](https://github.com/ros/rosdistro/pu

[2019-12-23 05:12] furushchev commented on #808
@doronhi Thank you for the comment! :+1:  Please, then re-run the test when you think everything is ok.

[2019-12-23 05:14] doronhi commented on #808
I couldn't find the "rerun" button. I thought maybe it's unavailable for me because I'm am not the author of this PR.

[2019-12-23 05:31] furushchev commented on #808
@doronhi OK, I re-opened the pull request, which invokes test again.

[2019-12-24 03:30] jediofgever opened #1035 "color cam scale is smaller than depth cam scale ?"
Hi there,
I was trying newly acquired D435, I find out the depth image covers a wider area than color camera although i set their resolution identical , is this expected behavior ?, how can I make them exactly to correspond pixel by pixel ?
Thank you very much

[2019-12-24 06:40] MartyG-RealSense commented on #1035
I hope that the linknk below will be helpful to you.

https://github.com/IntelRealSense/librealsense/issues/2279

[2019-12-24 09:20] jediofgever commented on #1035
@MartyG-RealSense , Hi , thanks for your reply

I saw the direction that link suggests, however aligning depth and color programmatically in the same depth camera is not efficient and logical, also I assume after alignment I will just get a cropped depth image since FOV of color camera cant be changed, am I right ?
if this is the case then how RGB-D is obtained, would not that cause RGB-D point cl

[2019-12-24 09:40] MartyG-RealSense commented on #1035
Aligning depth and color in the same camera is a standard approach for RealSense.  If you find that the process is too slow for your liking then you can speed it up by offloading processing from the CPU to the GPU.

This can be done by building Librealsense with CUDA support if you have an Nvidia GPU, or with GLSL processing blocks if you do not have an Nvidia GPU.  The details for doing so can be

[2019-12-24 18:27] RealSenseCustomerSupport commented on #945
----------------------------------------------

Hi @fightforge

Were you able to get your configuration working?  Is there still issues here?  There are quite a bit of information on github regarding using T265 and D435/D435i mounted and produce depth imagery with pose data.

[2019-12-24 20:02] #872 closed, assigned to doronhi

[2019-12-24 20:02] #900 closed, assigned to nobody

[2019-12-24 22:15] RealSenseCustomerSupport commented on #999
----------------------------------------------

Hi @tpet

We will take a look at our datasheet to make sure we have as much data as we possibly can there.  For reference we do have an updated datasheet from the version that you reference please use the following link to the latest datasheets for all our products:  https://dev.intelrealsense.com/docs/datasheets

What I've included below is a link t

[2019-12-24 23:22] RealSenseCustomerSupport commented on #961
----------------------------------------------

@erikasnow
Notice there hasn't been any response since doronhi provided some update here.  If there is nothing further, we can close out this thread.

[2019-12-25 00:03] #986 closed, assigned to nobody

[2019-12-26 01:11] #1031 closed, assigned to nobody

[2019-12-26 03:59] sss22213 opened #1036 "nvidia jetson nano occur error"
hi there:
  i use realsense-ros  occur error or warning.

OS: Ubuntu 18.04
L4T: 32.3.1
RealSense Firmware: 5.12.0
realsense-ros: 2.2.11
LibRealSense v2.31.0
Device: d435i

[ WARN] [1577332384.972041372]: Error extracting usb port from device with physical ID: 2-1.2-7
Please report on github issue at https://github.com/IntelRealSense/realsense-ros

WARNING [546844950912] (messenger-libusb.cpp:42) c

[2019-12-26 15:54] matthewp14 opened #1037 "Cant launch RS-415 on Jetson Nano with ROS melodic and Ubuntu 18.04"
I followed the tutorials below to install everything:

https://github.com/IntelRealSense/librealsense/blob/master/doc/distribution_linux.md
https://github.com/IntelRealSense/realsense-ros

I also checked all of my dependencies on the .yml file. No issues there.
https://github.com/IntelRealSense/realsense-ros/blob/development/.travis.yml

I can launch the camera using realsense-viewer and have no i

[2019-12-26 16:26] vikashranjan opened #1038 "Any samples for navigation using T265 + D435 after building 2D occupancy map ?"

[2019-12-26 17:52] tmichals opened #1039 "T265 and D435 launch issue. Error extracting usb port from device with physical ID: 2-1.3-6"
Nvidia Nano JetPack 4.3 - L4T 32.3.1
LibRealSense v2.31.0
RealSense ROS v2.2.11
T265 and d435 Intel Camera

Issue:
Multiple errors:
[7692] [E] TrackingManager: Error while loading image - libusb_claim_interface failed (0xFFFFFFFA)

ERROR [547566363008] (uvc-streamer.cpp:136) failed to submit UVC request, error: -13

WARNING [547331498368] (messenger-libusb.cpp:42) control_transfer returned error,

[2019-12-26 19:07] RealSenseCustomerSupport commented on #880
----------------------------------------------

This thread has been opened for quite a while.  There has been updates to the unite_imu_method here:  https://github.com/IntelRealSense/realsense-ros/pull/1010

Also including the comments provided by doronhi regarding possible workaround.  Let us know if there is anything else needed on this thread.

[2019-12-26 19:19] RealSenseCustomerSupport commented on #971
----------------------------------------------

Hi @mikepurvis,

Haven't seen a response on this thread in some time.  Let us know the latest.  If not we can close the thread out.

[2019-12-26 20:04] #942 closed, assigned to nobody

[2019-12-26 20:04] #975 closed, assigned to nobody

[2019-12-26 20:04] #979 closed, assigned to nobody

[2019-12-26 20:18] RealSenseCustomerSupport commented on #818
----------------------------------------------

Hi @AlexReimann

No planned changes to this distortion model.

[2019-12-27 07:22] yyxr75 commented on #1037
Here I came across the same issue as yours.
Do you have any idea about solution of it?
The topics were published as they can be shown after
`rostopic list`, but show no imges when using `rviz` to subscribe.
All I have is warnings and errors.
any hint would be helpful if you would like to share!
so much appreciation!

btw, the [website](https://www.jetsonhacks.com/2019/10/25/realsense-ros-wrapper-j

[2019-12-29 05:58] doronhi commented on #971
I am aware of an issue regarding using multiple nodes with initial_reset. I think we should keep this one open for a while, hoping I'll get around to investigate some more.

[2019-12-29 07:35] OrHirshfeldFFR commented on #652
Sorry for the delay I was on vacation
I actually don't use the Realsense ROS wrapper, I use librealsense by itself alongside ROS.
As far as I observe there was no issue with CPU or USB overloading, I checked it using "top" and "usbtop" as you suggested
Which librealsense version should solve this problem?

Thank you

[2019-12-29 08:24] doronhi commented on #1035
Hi @jediofgever ,
The Color camera has narrower FOV than both infra cameras that create the depth image. Therefor an aligned depth to color image will indeed be cropped.
What is the RGB-D image and pointcloud that you refer to? Specifically, what topics and launch file are you referring to?

[2019-12-29 13:07] doronhi commented on #1033
It is possible for the slave camera to miss frames sometimes or to have frame drops.
You should first check if the timestamps from both cameras are roughly the same.
Then you should check whether images with very close timestamps from both cameras were taken at the same time. This is best done with LED-panel but you could also check with some moving object in view, like a rotor rotating at 1Hz or

[2019-12-29 13:19] doronhi commented on #868
Could you rephrase your question? What do you mean by "pose file"?

[2019-12-29 13:37] doronhi commented on #1027
Well, good thing is that it works now. Can we close the issue? (Please reopen if problem returns)

[2019-12-29 13:47] doronhi commented on #1024
Can you confirm this downgrade in performance using any of the librealsense tools? `rs-benchmark`, `realsense-viewer`, `rs-callback`..? Please elaborate if you did.

[2019-12-29 15:34] Shivani1796 commented on #868
@doronhi  Hi, thanks for response actually i want to get pose file ( translation & rotation matrix) from that. I also have .bag file recorded by t265 camera , if i extract it may be will get pose file but i don't have any method how to solve this issue .

[2019-12-29 23:18] ihadzic commented on #990
Yes, we are now building the ROS node from the source and installing the librealsense2-dev Debian. There are no more conflicts in .h files.

[2019-12-30 05:06] wikpunGitHub opened #1040 "How to increase pointcloud frame rate"
Hi, is there a way to increase the pointcloud frame rate? I set my D435 camera to have 60 fps color and 90 fps depth image. But the pointcloud is still 30 fps. Is there a way to increase the pointcloud fps? Thanks!

[2019-12-30 06:26] doronhi commented on #832
Please provide the versions you are trying to build, the machine, kernel, log files and everything else that seems relevant. Consider opening a new issue as with different versions than specified here it is another issue, I think.

[2019-12-30 07:41] doronhi commented on #1040
Do you get the depth and color frames at the rate you expected? (`rostopic hz /camera/color/image_raw`, `rostopic hz /camera/depth/image_rect_raw`)

If you do then the problem may be with computer power. What kind of machine do you use?

If you don't, do the followings:
1. Set the "infra_fps" to the same frame rate as the depth frame rate or disable both infra1 and infra2 completely (`enable_infra

[2019-12-30 09:08] jinwandou opened #1041 "Could I get both gyroscope and accelemeter topic more than 100hz?"

[2019-12-30 09:53] wol01179 opened #1042 "Could I publish some topics in part when I use d435 and t265 ?"
Hi, I am currently using RealSense d435 and t265.
When I utilize rolaunch realsense2_camera rs_rgbd.launch and rolaunch realsense2_camera rs_t265.launch, a number of topics will appear.
However, I need only two topics,  one topic for pointcloud2 through d435 and one topic for odometry through t265.
Could you let me know if there is a way to effectively reduce the topic?
Thank you for reading.

[2019-12-30 12:53] doronhi commented on #1042
You can reduce some of the topics by disabling sensors. You could set to false the following variables in the D435's launch file: "enable_infra1", "enable_infra2".
The rest of the topics are published but do nothing until you actually subscribe to them.

[2019-12-30 13:56] wikpunGitHub commented on #1040
Hi doronhi, you are right, it is a computer power issue. I am running it on a Jetson nano. Thanks for the help!

[2019-12-30 13:56] #1040 closed, assigned to nobody

[2019-12-30 18:55] MartyG-RealSense commented on #1041
The FPS rates of the T265 are fixed.

https://github.com/IntelRealSense/librealsense/issues/4103#issuecomment-497221237

https://github.com/IntelRealSense/librealsense/issues/4592#issuecomment-519062226

There are workarounds that some users have successfully applied to achieve custom FPS rates though.  This includes:

(1)  Getting every nth frame instead of all frames in order to simulate a certa

[2019-12-30 21:05] #990 closed, assigned to nobody

[2019-12-31 06:57] wol01179 commented on #1042
Thank you for your answers and good solutions. Through the method you suggested, I was able to effectively reduce the number of topics.
However, I have additional questions.
If so, Is the depth topic(reduced by the proposed method) the data that does not include the data of  infra projectors?

Additionally, I could set to false the following variables in the T265's launch: "able_fisheye1", "enable

[2019-12-31 14:38] LittleMoonMan opened #1044 "issue while using opensouce_tracking.launch on raspbery pi 3b with a D435"
I am trying to make a map for my robot with use of the D435.
the guide that i am folowing tells me i need to use opensource_tracking.launch
when i use this launch file rivz start up like normal but i dont get a immage (or anything else for that matter) the only moment i get a pointcloud is when i use the demo_pointcloud.launch file. i am new with ROS and realsense so it could be a real dum mistake

[2019-12-31 20:06] tmichals commented on #1037
This looks like what I am also seeing.. https://github.com/IntelRealSense/realsense-ros/issues/1039.  Do you agree?

[2019-12-31 20:13] tmichals commented on #1036
I am having the same problem https://github.com/IntelRealSense/realsense-ros/issues/1039... and if you look we are the only issues that have not been answered.

Looks like you are using a Nano as well.   The camera's are fighting with the Nano because the usb ports are not available.
  First unplug the camera's.   If you warm start the Nano the power to the USB is still on, so the camera still thi

[2019-12-31 22:04] MartyG-RealSense commented on #1044
Are you using the guide for the D435i camera model in the link below please?

https://github.com/IntelRealSense/realsense-ros/wiki/SLAM-with-D435i

The D435 does not contain an 'IMU' tracking hardware component that the D435i ( 'i' for IMU) has.

For SLAM mapping with an IMU-less D435, the SLAM software 'ORB_SLAM2' may be a good choice.  The link below has a guide to using it with ROS.

http://wik

[2020-01-01 18:42] KrystianMarek commented on #386
Hi,

I'm trying to run realsense-ros on a Jetson Nano without much luck, please help.

[code]
[code]
I was able to install https://github.com/IntelRealSense/librealsense
the realsense-viewer application works.

When I try to run
`roslaunch realsense2_camera rs_camera.launch filters:=pointcloud`

I get:
[code]

[2020-01-01 23:51] wikpunGitHub opened #1045 "Cannot disable pointcloud"
Hi, I set enable pointcloud to false but I still observe pointcloud in the /camera/depth_registered/points topic. I am running on Jetson Nano so I would like to save any computing power I could. I am using D435. Thanks!

[2020-01-02 02:20] #1038 closed, assigned to nobody

[2020-01-02 06:52] doronhi commented on #1045
You are running with "rs_rgbd.launch" which uses 3rd-parties nodes to publish the pointcloud.
Use "rs_camera.launch" which by default publishes no pointcloud and with `filters:=pointcloud` publishes pointcloud on topic "/camera/depth/color/points".

[2020-01-02 09:26] Kaju-Bubanja commented on #875
I have no longer access to a camera and can not test this anymore.

[2020-01-02 09:26] #875 closed, assigned to nobody

[2020-01-02 10:36] wikpunGitHub commented on #1045
Thanks a lot!

[2020-01-02 10:36] #1045 closed, assigned to nobody

[2020-01-02 17:56] RealSenseCustomerSupport commented on #954
----------------------------------------------

No unfortunately this cannot be done.

[2020-01-02 18:05] RealSenseCustomerSupport commented on #950
----------------------------------------------

Hi Dennis,

Are you still having this issue? Can this be closed? Another option is to add a "copy if newer" step to your pre-build process to guarantee the object file versions always match.

[2020-01-02 22:00] RealSenseCustomerSupport commented on #1023
----------------------------------------------

Hi @Valia3

Any update on the questions outlined by doronhi?

[2020-01-03 04:49] studennis911988 commented on #950
@RealSenseCustomerSupport  Sorry for late response. Problem solved!

[2020-01-03 04:49] #950 closed, assigned to nobody

[2020-01-03 09:00] RealSenseCustomerSupport commented on #1025
----------------------------------------------

@TomLuosy Could you please specify more about "transmit the corresponding image information according to the specific IMU data"? What kind of specific IMU data? Thanks!

[2020-01-03 19:16] sjvinay79 opened #1046 "Need depth, RGB and IR intensity information."
I am using the D415 camera to obtain 3D information. I need a point cloud that has RGB and intensity information from the Infrared camera. I am using a ROS workspace. I subscribe to the /camera/depth/color/points topic and I am successfully able to convert the sensor_msgs/PointCloud2 to pcl::PointCloud<pcl::PointXYZRGB> format. I am just wondering if there is any way to get IR intensity as well as

[2020-01-03 21:05] #912 closed, assigned to nobody

[2020-01-03 21:05] #920 closed, assigned to nobody

[2020-01-04 14:38] TomLuosy commented on #1025
Thank you very much for your reply. I put two d435 sensors on the robot. Because I wanted to model the whole environment around the robot, I added periodic rotating devices and placed sensors on them. But the modeling effect of the sensor in the process of rotation is not very ideal, so I want to set the rotation device to stop at a specific angle, and model at the moment of stop. The advantage of

[2020-01-04 21:50] richardrl commented on #1037
We're seeing the same error.

04/01 20:57:13,713 WARNING [139805191870208] (types.cpp:49) Out of frame resources!
 04/01 20:57:13,713 ERROR [139805191870208] (synthetic-stream.cpp:47) Exception was thrown
during user processing callback!

[2020-01-05 08:13] doronhi commented on #1046
realsense2_camera is a ROS wrapper for the librealsense library.
The librealsense's set of points contains coordiante values for the aligned to depth images and these are used, in combination with the intensity images, to obtain the intensity values of the wrapper's pointcloud. You can see the process [in base_realsense_node.cpp](https://github.com/IntelRealSense/realsense-ros/blob/008e2e434a1a652

[2020-01-05 10:03] LittleMoonMan commented on #1044
thank you for your help

i was not using a D435i but a D435. with the new package i was able to get some dots on my screen (after that my raspberry overheated). do you know sombody that was able to make a map with a raspberry or am i pushing it to a limit with it.

[2020-01-05 11:11] MartyG-RealSense commented on #1044
You could try offloading some of the CPU's work onto the GPU using a Librealsense technique called GLSL Processing Blocks and see if distributing the workload reduces your Pi's temperature.

https://github.com/IntelRealSense/librealsense/pull/3654

The Pi 3 and models before it use a  VideoCore IV GPU, whilst the new Pi 4 uses a more powerful VideoCore VI GPU.

A low-power development board such a

[2020-01-06 02:15] RealSenseCustomerSupport commented on #607
----------------------------------------------

@atyshka Sorry for the trouble. Did you still have issue with the latest SDK and ROS wrapper? Looking forward to your update. Thanks!

[2020-01-06 05:26] SoraDevin commented on #851
Has this been fixed/updated yet? It appears that the relevant code change from the commit referenced above by @atinfinity is on lines 1094-1101 before the changes (lines 1200, 1201 on the new).

[2020-01-06 06:27] berktepebag commented on #386
@KrystianMarek have you checked this JetsonHacks video? [https://www.youtube.com/watch?v=lL3zxwN5Lnw](url) I don't have the camera so I did not have a chance to check if it is working but if Jim made a video about it, probably it's working.

[2020-01-06 08:25] jediofgever commented on #1035
hi, @doronhi
by RGB-D I refereed to colorful point cloud, I am not sure if the extreme poor performance of point cloud is caused by this alignment. It can hardly deliver 1 frame of point cloud in 5-10 seconds. I built librealsense with CUDA support, I have nVIDIA 1080 TI gpu as well as bunch of  RAM.  I am going to open another ticket for this lag issue.

[2020-01-06 08:25] #1035 closed, assigned to nobody

[2020-01-06 09:46] jediofgever opened #1047 "Unstable performance when using filters=pointcloud in d435"
Hi,
When I start camera node with pointclouds enabled, I get very random performance. sometimes it can deliever a frame in 10 seconds and sometimes it performs as expected. I have built realsense with CUDA support and the computer specs are absolutely above required ones. I am using an additional usb cable to increase range to put camera on my robotic arm. I have checked the performance with and w

[2020-01-06 12:58] doronhi commented on #1047
I haven't met the problem you describe.
Could you begin by specifying the type of computer, OS version (including kernel version - `uname -r`) and the versions of librealsense2 and realsense2_camera (Printed by the realsense2_camera node)?

I assume you launch the node using `roslaunch realsense2_camera rs_camera.launch filters:=pointcloud` and measure the frame rate of the point cloud using `rost

[2020-01-06 14:03] doronhi commented on #868
I am not sure I understand.
Either from the .bag file, or while the realsense2_camera node is running, check the "/camera/odom/sample" topic. It contains the translation and rotation values. From them you can construct your matrices.

[2020-01-06 14:36] Shivani1796 commented on #868
@doronhi  hey thanks for response,
Actually I have .bag file recorded from realsense t265 camera & i have converted the bag file to png images so i have sequence of images and for that i need pose data I hope I made you clear. So is there any method to direct convert my images to pose data or any code available.

[2020-01-06 14:57] doronhi commented on #868
The images are saved in the .bag file under '/camera/color/image_raw' topic (from memory so maybe I spelled it wrong). The pose data is in the topic I mentioned: /camera/odom/sample.
You can extract it from the bag file the same way you extracted the images.
Or maybe the issue is still not clear to me.. :)

[2020-01-06 15:16] KrystianMarek commented on #386
@berktepebag, Yes, I saw the video. It is about installing the realsense camera on Jetson Nano. As I wrote above. I already installed the camera on my Jetson Nano and realsense-viewer works. The problem is with realsense-ros. The camera does not work under ROS.

[2020-01-06 16:54] cichard commented on #927
@doronhi
ok but why this accel factor into the code ?

[2020-01-06 22:27] RealSenseCustomerSupport commented on #822
----------------------------------------------

This thread has been open for a while without any response.  I think it can be closed at this time.

[2020-01-07 00:17] RealSenseCustomerSupport commented on #1021
----------------------------------------------

Hi @jediofgever,

We wanted to make sure that you can work without hassle with ROS Melodic. Please let us know if you need any further assistance with this matter.

Thank you!

[2020-01-07 00:55] danem opened #1048 "rs_multiple_devices filters parameter"
It seems that there is no way to specify the filters I wish to activate when using the rs_multiple_devices launch file. For example:

        roslaunch realsense2_camera rs_multiple_devices.launch serial_no_camera1:=<serial1> serial_no_camera2:=<serial2> filters:=pointcloud

The pointcloud topic is never created. Looking through the launch file, it seems like this field is effectively ignored.  Am

[2020-01-07 02:06] RealSenseCustomerSupport commented on #1020
----------------------------------------------

@AstroUKN Any other questions with the reply from doronhi? Looking forward to your update. Thanks!

[2020-01-07 02:16] RealSenseCustomerSupport commented on #1009
----------------------------------------------

@MaidenOfTheMain Could you please provide more information as doronhi requested so that we can look into it further? Thanks!

[2020-01-07 04:52] berktepebag commented on #386
@KrystianMarek sorry my bad, I was focused on Jetson part of the question. Totally missed the ROS part.

[2020-01-07 06:28] Shivani1796 commented on #868
@doronhi Thanks for responding,
1) I tried to extract bag file in csv format same as I did for images, but rs-convert tool ( https://github.com/IntelRealSense/librealsense/tree/master/tools/convert )is giving some issues to convert .bag-->.csv file.Here is the error I get after running ./rs-convert -v test -i 1.bag ( Linux OS)
![1](https://user-images.githubusercontent.com/44637756/71873248-b236af

[2020-01-07 08:23] jediofgever commented on #1047
Hi @doronhi,
To start with info quickly ;

[code]

Here is output of when I listen to the average  rate with point cloud;
[code]

and the output when alignment is enabled;
[code]

yes it prints out that;

`No stream match for pointcloud chosen texture Process - Color`

and time to time it gives this ERROR;

` ERROR [140645725357824] (synthetic-stream.cpp:47) Exception was thrown during user proces

[2020-01-07 08:54] jediofgever commented on #1021
Hi,
I did built and run the package but there is some issues I have met I am not sure if they are being caused by ROS melodic version
https://github.com/IntelRealSense/realsense-ros/issues/1047

[2020-01-07 13:30] drfg0119 commented on #386
Is there any application on TX2 ? ...I'm really tired about surveying the version matching problem. I'm Melodic/Ubuntu 18.04 with Jetpack 4.2

[2020-01-07 14:21] ArkadiuszNiemiec commented on #954
@JvanZijl write a ROS node that reads the position that the R265 reports and publish a static transform in the [tf](http://wiki.ros.org/tf) from T265 frame to e.g. `map` frame. This is a proper ROS solution to a problem like this.

[2020-01-07 18:57] RealSenseCustomerSupport commented on #1022
----------------------------------------------

will you be needing further assistance with this issue?

[2020-01-07 20:52] RealSenseCustomerSupport commented on #1021
----------------------------------------------

@jediofgever,

It's good to know that build and installation processes went without problems and you were able to run the package.If you don't have additional questions regarding the above mentioned stages, let's close this thread and discuss each topic (that is not related to these stages) in its own thread as a separate issue.

Thank you!

[2020-01-07 22:34] Shkunn commented on #1020
@RealSenseCustomerSupport I didnt solve my problem but I think that it comes from my Kernel version and the camera installation version dont match. I am working on a kernel 5.0 but it seems to be working with version 4.16 and others but not mine.

Thanks for your update.

[2020-01-08 01:28] jediofgever commented on #1021
OK @RealSenseCustomerSupport
Thank you for your time

[2020-01-08 01:28] #1021 closed, assigned to nobody

[2020-01-08 03:36] jediofgever commented on #1047
what is your kernel version ?, I tried on another computer where environmental setup is the same except for the kernel version being `4.15.0-72-generic`, then the cam seems to perform as expected.
Kernel version might be triggering this, is it possible that you try on a system with kernel version `5.0.0-37-generic` ?

and overall is there any recommended kernel version especially for Ubuntu 18.04