[2020-01-08 08:12] rghl3 opened #1049 "Set manual exposure prior to streaming"
Hi,
    I am trying to set manual exposure values for T265 camera using this [launch file.](https://github.com/IntelRealSense/realsense-ros/blob/development/realsense2_camera/launch/rs_t265.launch)

I have disabled the auto-exposure using below ros param
[code]
as mentioned in [here.](https://github.com/IntelRealSense/librealsense/issues/4413#issuecomment-520200355)

But I am not sure how to set t

[2020-01-08 09:22] studennis911988 commented on #1022
@RealSenseCustomerSupport @doronhi
There is no conclusion on the issue you mentioned.
Moreover please provide more information on how to get synchronized IMU and image data,  is it caused by not finding HID timestamp or something else?
Thanks!

[2020-01-08 19:03] #486 closed, assigned to nobody

[2020-01-08 23:50] atinfinity commented on #851
@SoraDevin It's easy to change. But, I think we need to verify the impact(peformance, relevance to other features) of this change.

[2020-01-09 05:16] doronhi commented on #1022
Hi @studennis911988 ,
The link I provided regarding the "Frame metadata isn't available!" message suggests that there might be something wrong with the installation process and specifically with kernel patches. My suggestion is that you trace back the installation instructions you used and see if you might have missed something. Could you provide the method of installation of the kernel patches (d

[2020-01-09 05:27] doronhi commented on #1047
There is a problem with kernel 5.0.0-37-generic. The timestamps stop arriving after a random length of time. That causes issues with synchronizing depth and color images and hence the problems with aligning and pointcloud. I also encountered it a couple of days ago in 4.18.0-15-generic.
The issue is currently being investigated and I assume a fix will be published very soon.

[2020-01-09 05:32] doronhi commented on #1020
The issue could be that librealsense2 still does not support kernel 5.0. See [here](https://github.com/IntelRealSense/librealsense/blob/master/doc/distribution_linux.md)

[2020-01-09 05:45] doronhi commented on #1048
You are correct. The field is missing from that launch file.
The launch files are provided as examples of activating different aspects of realsense2_camera and there was never an intention of providing all the fields in every launch file.
You can create your own launch files based on these examples. Specifically, you should add the "filters" field to every node in the rs_multiple_devices.launch, b

[2020-01-09 05:52] doronhi commented on #927
Which accel_factor? I think it was removed in the last version...?

[2020-01-09 07:06] RealSenseCustomerSupport commented on #1025
----------------------------------------------

@TomLuosy
the IMU, RGB and depth can enable/separately..
how about  streaming IMU continuously but  only streaming depth/RGB when the rotator stop

and since the D435 use global shutter camera, larger exposure time may cause blur image which the camera is moving. you can adjust the exposure time to see if it can help on your case.

[2020-01-09 08:08] studennis911988 commented on #1022
@doronhi Thanks for your reply.

First of all, my kernel version is

Description:	Ubuntu 16.04.6 LTS
Release:	16.04
Codename:	xenial

I installed librealsense from source code by following the [installation page](https://github.com/IntelRealSense/librealsense/blob/master/doc/installation.md), and I think I may truly miss to patch the kernel at the time I installed it.
I try to patch the kernel  th

[2020-01-09 09:29] TomLuosy commented on #1025
Thank you very much for your advice, which has brought me a lot of help. I found that there is no exposure time setting in my realsense version, so I am updating my realsense version, hoping to add the exposure time setting to the sending command.
At the same time, I would like to ask again, which part of the code should I add statements about the opening and closing depth, RGB setting and judging

[2020-01-09 18:18] danem commented on #1048
Yeah, that's what I ended up doing. I thought it might have been an oversight worth pointing out.

[2020-01-09 18:18] #1048 closed, assigned to nobody

[2020-01-09 20:42] karry3775 opened #1050 "Multiple realsense cameras"
Hello there! I wanted to know if multiple t265 cameras can be launched from ros now. The document online says that t265 doesn't support multiple cameras launch at this moment. Is there a work around this, I really have to use multiple cameras for a project of mine and any help is appreciated. You can really close down this issue as this is not really one. I just wanted to get in touch with you to

[2020-01-09 21:26] swinterbotix commented on #1036
Running into the same issue - also using the Jetson Nano except I'm using a D435 camera. The only thing that was strange when I was installing the realsense packages was that the 'librealsense2-dkms' package was not available on apt-get. I didn't think it would be an issue though since the realsense_viewer still works

[2020-01-10 19:18] RealSenseCustomerSupport commented on #954
----------------------------------------------

Will you be needing further assistance on this?

[2020-01-10 19:27] RealSenseCustomerSupport commented on #976
----------------------------------------------

Will you be needing further assistance with this?

[2020-01-10 20:05] #1027 closed, assigned to nobody

[2020-01-10 21:37] samxchandlerpi commented on #1002
Did you ever resolve this issue? I'm not using a Raspberry Pi, but I am facing the same while running two d435 realsense cameras. The serial numbers seem to be correct because I can run the cameras separately.

Also, I can view both camera feeds at the same time with the realsense viewer.

#1051

[2020-01-10 23:03] samxchandlerpi opened #1051 "Incorrect Parsing of Physical IDs"
I have two realsense d435 cameras connected to a powered USB 3.0 hub, but I can't run them at the same time.

The reason seems to be related to incorrectly parsing the physical IDs of the devices to get the usb port. See the following warning:
`[ WARN] [1578695869.249368440]: Error extracting usb port from device with physical ID: 2-1.1.1.2-28
Please report on github issue at https://github.com/In

[2020-01-11 02:47] shreyas2311 opened #1052 "detached head issue while executing readme"
While executing the following line from the readme, I get an error saying that I am in the detached head state. It would be great if this is resolved soon.

git checkout `git tag | sort -V | grep -P "^\d+\.\d+\.\d+" | tail -1`

[2020-01-11 13:23] #954 closed, assigned to nobody

[2020-01-12 09:24] doronhi commented on #1051
the message:
`[ WARN] [1578695869.249368440]: Error extracting usb port from device with physical ID: 2-1.1.1.2-28 Please report on github issue at https://github.com/IntelRealSense/realsense-ros`
means that you indeed encountered a usb id that does not match the expected regular expression.
We should change the code accordingly, but in the meantime, the "WARN" header means that you didn't specify

[2020-01-12 15:30] samxchandlerpi commented on #1051
I'm running Ubuntu 16.04 and ROS Kinetic on a standard x86 architecture based laptop. The only thing out of the norm in my setup could be connecting two realsense cameras to one powered USB 3.0 hub. For various reasons it is difficult for me to change this setup.

Also, I should have clarified in my original post that when I tried to set the usb_port_id I ggot an error instead of the warning. Real

[2020-01-13 07:25] shreyas2311 commented on #1051
The same issue is also there on Jetson devices. It doesn't work even when the camera is the only usb that is connected without using usb hubs.

[2020-01-13 09:07] RealSenseCustomerSupport commented on #893
----------------------------------------------

Hi @stevensu1838,

@sthoduka has provided the right explanation regarding the main difference between two these ways.Please let us know if you need any further clarifications regarding this topic.

Thank you!

[2020-01-13 09:41] RealSenseCustomerSupport commented on #801
----------------------------------------------

Hi @vusdo,

Can you please elaborate on the goals that you are trying to achieve in the above provided code and what Librealsense example do you want to run? Regarding subscription to Depth topic,please see
the list of published topics here:

https://github.com/IntelRealSense/realsense-ros#published-topics

Thank you!

[2020-01-13 10:44] job-1994 opened #1053 "enable_laser2 issue"
Device: Jetson Xavier
Ubuntu 18.04
ROS Melodic
librealsense 2.31.0
realsense-ros 2.2.12

I am trying to get the streams running using the rs_camera.launch file, setting the initial_reset to true, however it always fails after a few seconds after a Hardware Notification:

[ WARN] [1578911730.399397915]: Hardware Notification:USB REC overflow,1.57891e+12,Error,Hardware Error
[ WARN] [1578911499.0527

[2020-01-13 10:47] BriceRenaudeau commented on #932
Hello, I hade the same problem :
WARNING [...] (ds5-timestamp.cpp:64) UVC metadata payloads not available
[ WARN] [/camera_right/realsense2_camera_manager]: Frame metadata isn't available! (frame_timestamp_domain = RS2_TIMESTAMP_DOMAIN_SYSTEM_TIME)

[Ubuntu 18.04, kernel 5.0, melodic, D435, firmware 5.12, librealsense2-dkms up-to-date]

I hade no issues until today where I found that the TimeStamp

[2020-01-13 10:47] BriceRenaudeau commented on #492
Hello, I hade the same problem :
WARNING [...] (ds5-timestamp.cpp:64) UVC metadata payloads not available
[ WARN] [/camera_right/realsense2_camera_manager]: Frame metadata isn't available! (frame_timestamp_domain = RS2_TIMESTAMP_DOMAIN_SYSTEM_TIME)

[Ubuntu 18.04, kernel 5.0, melodic, D435, firmware 5.12, librealsense2-dkms up-to-date]

I hade no issues until today where I found that the TimeStamp

[2020-01-13 12:03] KevinHanwang commented on #1037
Me too, but I don't know how to solve this problem

[2020-01-13 16:58] samxchandlerpi commented on #1051
Here are some steps I performed for a temporary fix:
1. I plugged in the two realsense devices separately to get the physical IDs in the format expected by the regex parser (as detailed here #972 )
2. I modified the code to statically set the physical IDs based off of the output of rs-enumerate-devices (in line ~65 of realsense_node_factory.cpp)
`	ROS_INFO_STREAM("Device with serial number " << sn

[2020-01-13 19:19] lyubu commented on #1047
Hello! My version is Ubuntu18.04  with kernel 5.0.0-37.
When I run
`roslaunch realsense2_camera rs_camera.launch filters:=pointcloud enable_infra1:=false enable_infra2:=false`
and
`rosrun rviz rviz`
And I cant see my pointcloud2 topic. Is this what you mean (the problem is kernel 5.0.0-37)?
@doronhi @jediofgever
![2020-01-13 20-16-36 的屏幕截图](https://user-images.githubusercontent.com/58567322/722847

[2020-01-14 00:49] shreyas2311 commented on #1051
These are steps that I followed:

1) I followed steps from jetsonhacks to patch the kernel - successful.
2) I installed librealsense version 2.28.1 by changing the version number on jetsonhacks script. However, the patch for missing frames issue did not apply properly. However in realsense_viewer, I did not get the missing frames pop-up when I tried the camera with a lower resolution.
3) I install

[2020-01-14 01:26] RealSenseCustomerSupport commented on #1005
----------------------------------------------

Hi @peci1,

You can build the whole wrapper for Melodic instead of having realsense2_description
only.Please download the latest ROS Wrapper 2.0 (build 2.2.11) and try to build and run it with ROS Melodic.You might need to install ros-melodic-ddynamic-reconfigure :
sudo apt-get install ros-melodic-ddynamic-reconfigure

Please let us know if you need

[2020-01-14 01:36] peci1 commented on #1005
Well, of course I can clone and build the package. Just wanted to say that it's easier to install via APT, and since you were already able to cut out ddynamic_reconfigure, I thought realsense2_description would be another meaningful step towards full-binary melodic. Common, melodic's been here for almost 2 years and you don't yet provide official binary packages for it...

[2020-01-14 02:49] jediofgever commented on #1047
Hi @lyubu ,
As @doronhi  confirmed that currently there is an issue with kernel `5.0.0-37`,I suggest you to use another kernel version until a fix is published. You can switch kernel versions in the boot up menu of ubuntu. When you restart your machine, choose advanced options for Ubuntu, from the list choose a previous kernel version,  for example `4.15.0-74-generic`

[2020-01-14 03:01] ZixinMan commented on #1037
I solved this problem right now. Open your launch file, and modify the frame rate parameter. Your default value is 30, you can make it smaller.
[code]

[2020-01-14 06:19] tim-fan commented on #940
Thanks for the tip, yes I have seen that method for integrating the T265 into a localisation system.

What I was hoping for was to have the T265 perform localisation independently, without the need to integrate/fuse with other sensors.

When I bought the device I understood that this functionality would be supported (as implied by, for instance, [this comment](https://github.com/IntelRealSense/lib

[2020-01-14 22:55] svrakiss commented on #1051
Could you post a link to the patch?.
when I input dmesg i get the following:
[  112.259073] usb usb2: usb_suspend_both: status -16
[  112.277896] usb usb2: usb_suspend_both: status 0
[  112.510681] usb 2-1.3: new SuperSpeed USB device number 3 using tegra-xusb
[  112.531204] usb 2-1.3: New USB device found, idVendor=8086, idProduct=0b07
[  112.531211] usb 2-1.3: New USB device strings: Mfr=1, Prod

[2020-01-14 23:17] samxchandlerpi commented on #1051
There is no official patch for _this_ issue yet. Also, from your post it seems like you are dealing with _other issues_ related to the Jetson Nano and realsense cameras.

Just follow the steps here and everything should work (I tested this installation guide on the Nano a couple of months ago): https://www.jetsonhacks.com/2019/10/25/realsense-ros-wrapper-jetson-nano/

[2020-01-14 23:51] matthewp14 commented on #1037
@KevinHanwang I tried that but am still getting the same issue. I should note that the first warning is:

Error extracting usb port from device with physical ID: 2-1.1-4

[2020-01-15 01:36] sadransh opened #1055 "what happens to T265 SLAM when camera sees sparse features(like white simple walls) but still having Intertial and wheel odometry"
I want to use the tracking camera on a mobile robot with wheel feedback in environments with sparse features.
Can anyone provide me information on whether the T265 slam can keep odometry( to some extent) when it becomes somehow blind(because of sparse features in some scenes it is moving) ? or the odometry will die with only wheel and INS?

In the case of not working, can anyone suggest other SLAM

[2020-01-15 02:49] ri-ceres commented on #1047
We are also experiencing the same issue here and have tried a number of different combinations of Ubuntu kernel, realsense firmware, and realsense sdk versions. One source of error seems to be related to firmware versions. `5.11.15.0` seems to work as expected with kernel `5.0.0-37-generic` until a device with firmware `5.12.1.0` is plugged in.  After this happens, both versions of firmware fail t

[2020-01-15 03:38] ri-ceres commented on #1047
Following up on the [previous comment](https://github.com/IntelRealSense/realsense-ros/issues/1047#issuecomment-574471003), it appears that issue [1024](https://github.com/IntelRealSense/realsense-ros/issues/1024) is related in our case.

Downgrading to librealsense `v2.30.1` has restored normal operation of our cameras. Further testing is needed, but after multiple restarts and extended uptime (~

[2020-01-15 05:31] RealSenseCustomerSupport commented on #842
----------------------------------------------

@echoGee Sorry that we didn't get response for weeks. Will close it at this point. Please feel free to create new one if still have issues. Thanks!

[2020-01-15 06:04] #842 closed, assigned to nobody

[2020-01-15 06:05] RealSenseCustomerSupport commented on #989
----------------------------------------------

@OnesoulKang Is the issue resolved? Looking forward to your update. Thanks!

[2020-01-15 06:53] RealSenseCustomerSupport commented on #777
----------------------------------------------

@JessyXie  Could you please update? Thanks!

[2020-01-15 11:55] ZixinMan commented on #1037
Maybe it's the computer hardware. You can try another computer

[2020-01-15 13:31] BrooklynBoy21 opened #1056 "Error extracting usb port and resource temporary unavailable, number: 11"
Hello, I have installed RealSense d435i on Jetson nano, by following the tutorials:
https://www.jetsonhacks.com/2019/05/16/jetson-nano-realsense-depth-camera/

and then install ROS wrapper:
https://www.jetsonhacks.com/2019/10/25/realsense-ros-wrapper-jetson-nano/

I am using L4T 32.3.1 and after launching:
roslaunch realsense2_camera rs_camera.launch

firstly it didn't work at all, after several r

[2020-01-15 17:29] ri-ceres commented on #1047
After testing various firmware versions including `5.12.0` and `5.12.1`, this appears to be entirely related to librealsense version `2.31.0` on our systems, and the solution is to rollback to `2.30.1`. The potential firmware implication mentioned [above](https://github.com/IntelRealSense/realsense-ros/issues/1047#issuecomment-574481233) was coincidence due to the systems running the older version

[2020-01-15 18:55] lyubu commented on #1047
I have uninstalled my librealsense-2.31.0 and installed librealsense-2.30.0 and point cloud has been displayed. Beside this, I did nothing extra. So this means, the display problem is only librealsense-2.31.0. Thanks for your advice so much!!
@ri-ceres
By the way, librealsense-2.30.1 doesn't suit my kernel. Because after I download the package and tried to install, it said that 2.30.1 suits only w

[2020-01-15 20:21] svrakiss commented on #1051
How do I change the version of realsense-ros? I went and specified 2.2.8 in the install script but when I re ran the examples, it still showed 2.2.12. Do I need to somehow uninstall the current version first?

[2020-01-15 22:10] shreyas2311 commented on #1051
After you clone the realsense-ros repo, cd into it and do git checkout 2.2.8

[2020-01-15 23:50] #961 closed, assigned to nobody

[2020-01-16 00:53] RealSenseCustomerSupport commented on #820
----------------------------------------------

Hi @MrCerealKiller,

Please provide us with the following details about your system configuration :

how many cameras are in active use in the system

build number of ROS Wrapper

HW configuration details (platforms names, how the camera(s) is/are connected, etc)

Along with that information, please describe the exact scenario that leads to the probl

[2020-01-16 11:18] LEGO999 commented on #1037
Could be the same issue here [https://github.com/IntelRealSense/librealsense/issues/5659](url)
, 18.04 LTS, Melodic, only difference is, i am using RPi4.

[2020-01-16 17:01] ChrisMOxon commented on #849
Hi, I'd just like to add that we're getting the same issue with USB 2 as mentioned, that there seems to be an immediate error with ROS that you get a pretty constant velocity error with the camera disappearing off into the distance.  This is on a raspberry pi 4.  When using the realsense viewer on the same device you don't get the same velocity error.

What we have noticed though separate to this

[2020-01-16 17:06] ChrisMOxon opened #1057 "T265 USB 2 performance not as advertised"
Hi,

We are trying to use the T265 device with USB 2 to just get pose output and in all cases have found significant performance loss to the point that it is unusable.

This has been tried with a Pi 4 as well as multiple desktop PCs, using the realsense viewer app.  In all cases the performance when using USB 2 has been unusable but as soon as the same tests are run on USB 3 we get the advertised

[2020-01-16 18:24] shannonwarren opened #1058 "Improving wheel Odometry API"
I was wondering if it would possible in future releases if we could keep updating the transform between the camera frame and wheel odometer instead of parsing a constant translation and rotation parameter in the calibration_odometry.json file. I'm currently testing this setup on a two-wheel self-balancing robot with the T265 camera mounted on a rotating head and I observe a lot of odometry drift i

[2020-01-16 21:47] swinterbotix commented on #1051
I'm currently working with the Intel D435 camera on the Intel NUC6CAYH (running Ubuntu 16.04 with ROS Kinetic). I'm running into a similar issue where 'realsense-viewer' works just fine but realsense-ros gives the 'Error extracting USB port...' message. However, the output of my rs-enumerate devices command is:

![image](https://user-images.githubusercontent.com/52669772/72565176-ef482300-3876-11e

[2020-01-16 21:59] svrakiss commented on #1051
This is my case, as well. Oddly enough.

[2020-01-16 22:02] samxchandlerpi commented on #1051
Can you post the exact error you see when you try to run the realsense node? What is the physical ID of the device that is output by the node on startup?

[2020-01-16 22:33] swinterbotix commented on #1051
![errors](https://user-images.githubusercontent.com/52669772/72568199-320cf980-387d-11ea-935a-3b2df2ad48de.png)

The above is if the Physical Port is defined as 2-3-21 when output from rs-enumerate-devices. I did notice though that if you run the node for the first time after plugging the camera in, sometimes I get errors like...

![image](https://user-images.githubusercontent.com/52669772/7256836

[2020-01-17 00:09] RealSenseCustomerSupport commented on #861
----------------------------------------------

Hi @Levi568,

Please make sure that you can read color images from /camera/color/image_raw.
Having color images from that topic and aligned (depth to color) images from
/camera/aligned_depth_to_color/image_raw you can easily get RGBD image stream.  Let us know whether you are able to obtain the stream you want and whether or not you need any addition

[2020-01-17 01:22] RealSenseCustomerSupport commented on #939
----------------------------------------------

Hi @FrederikHaa,

Could you please provide us with the following details about your system configuration:

ROS distribution version

hardware configuration details (platforms names, how the cameras are connected, etc)

firmware version of each camera

Along with this information please attach to this thread LibRealSense logs, Kernel logs and standard

[2020-01-17 05:13] msfarhan opened #1059 "catkin_make failed recipe for target 'realsense-ros/realsense2_camera/CMakeFiles/realsense2_camera.dir/all' failed"
Hello,
my realsense was camera working all fine suddenly after updates I guess it giving my some errors which

error is

[code]
sudo find / -name librealsense2.so*
/opt/ros/kinetic/lib/x86_64-linux-gnu/librealsense2.so.2.31.0
/opt/ros/kinetic/lib/x86_64-linux-gnu/librealsense2.so
/opt/ros/kinetic/lib/x86_64-linux-gnu/librealsense2.so.2.31

i tried [this](https://github.com/IntelRealSense/realsense

[2020-01-17 12:13] samxchandlerpi commented on #1051
Okay, other than the fact that rs-enumerate-devices is not printing the full physical port this seems to be the same issue. My setup also works (with those same warnings) if I only use one realsense d435.

I bet that if you try to use two realsense d435s you will start running into problems.

[2020-01-17 23:54] shreyas2311 commented on #1051
@svrakiss @swinterbotix I had the same issue as well. ('Error extracting USB port...'). But after I downgraded realsense to 2.28.1 and realsense-ros to 2.2.8, I did not have this issue.

[2020-01-18 00:09] RealSenseCustomerSupport commented on #801
----------------------------------------------

@vusdo,

Do you still need help with this question?

[2020-01-18 01:03] #893 closed, assigned to nobody

[2020-01-20 04:03] #976 closed, assigned to nobody

[2020-01-20 05:55] RealSenseCustomerSupport commented on #895
----------------------------------------------

@nyxrobotics Did you get chance to try other D415 to see if get the issue? Any other questions? Looking forward to your update. Thanks!

[2020-01-20 08:03] #1033 closed, assigned to nobody

[2020-01-20 14:16] Imel23 opened #1060 "align_depth doesn't work"
Hello everyone,

I have a D435 realsense camera, I installed the latest release of realsense-ros and realsense SDK, and I'd like to have aligned depth to infrared camera, so I set align_depth parameter to true in my launch file. The problem is that i receive no new messages on the topic /camera_d435/aligned_depth_to_infra1/image_raw
Could you help me to solve this issue ? Thank you in advance.

![

[2020-01-20 18:22] shannonwarren opened #1061 "Odometry jumps even when enable_pose_jumping is set to false"
I've noticed the output of camera odometry from the T265 jumps (indoor) even when options of enable_pose_jumping, enable_mapping and enable_relocalization are set to false. I'm using the latest librealsense version with wheel odometry integrated.

[2020-01-21 15:32] CluelessIT opened #1062 "cmake .. error (RTABmap for raspbian)"
Hi guys,

I'm pretty new to this system and working on a project to generate a 3D map using intel realsense D435i with Rpi 4(Raspbian Buster).

While installing RTABmap I met this weird error when i input cmake ..
CMake Deprecation Warning at CMakeLists.txt:64 (cmake_policy):
  The OLD behavior for policy CMP0020 will be removed from a future version
  of CMake.

  The cmake-policies(7) manual exp

[2020-01-21 23:02] RealSenseCustomerSupport commented on #1046
----------------------------------------------

Thanks doronhi!

Does this answer your question sjvinay?

[2020-01-21 23:53] swinterbotix commented on #1051
@svrakiss @shreyas2311 @doronhi,

I was able to fix my issue without downgrading at all.

All I had to do was type 'sudo apt purge ros-kinetic-librealsense2' into the terminal, hit Enter, then unplug and replug the camera. I saw that the realsense2_camera package depends on librealsense2 but I'm not sure why.... It seems that package was meant to be used with an earlier Linux Kernel - specifically

[2020-01-22 19:11] RealSenseCustomerSupport commented on #820
----------------------------------------------

@MrCerealKiller,

Do you still need help with this question?

[2020-01-22 23:50] RealSenseCustomerSupport commented on #999
----------------------------------------------

Hi @tpet

Do you require further assistance?  If not then the thread can be closed.

[2020-01-22 23:56] RealSenseCustomerSupport commented on #1012
----------------------------------------------

Hi @eisenWu

Have you been able to get past the errors?  I think many people in the community have ran this on similar or same platform as what you have here.

[2020-01-23 00:38] tpet commented on #999
Will you fix the URDF model? Or you don't think it's inconsistent with the datasheet?

[2020-01-23 01:04] #945 closed, assigned to nobody

[2020-01-23 19:01] RealSenseCustomerSupport commented on #999
----------------------------------------------

Don't think it's inconsistent.

[2020-01-23 19:31] tpet commented on #999
Let me try to explain what I think is wrong.
The issue is with the camera frames in URDF. E.g., camera_depth_optical_frame is at the same x level as the camera_link and camera_bottom_screw_frame:
https://github.com/IntelRealSense/realsense-ros/blob/development/realsense2_description/urdf/_d435.urdf.xacro#L78
which is approximately in the center (actually, more to the rear) of the sensor on x axis.

[2020-01-23 19:54] RealSenseCustomerSupport commented on #1041
----------------------------------------------

Thanks MartyG-RealSense for the links and info

Hi @jinwandou
Is there anything further needed on this thread?  The FPS rates for T265 are indeed fixed.

[2020-01-23 20:12] tpet commented on #999
A screenshot to illustrate:
![rs_d435_urdf](https://user-images.githubusercontent.com/3949136/73019917-d61a1600-3e24-11ea-8993-605bcd967e1a.png)
using
[code]

[2020-01-23 20:45] devanshbatra04 opened #1063 "Lost transform between camera_imu_optical_frame and camera_link"
I am trying to accomplish indoor mapping using RTAB-MAP with a D435i as documented in https://github.com/IntelRealSense/realsense-ros/wiki/SLAM-with-D435i
I have been able to do that successfully before, but I am running into this error now.

I had tried to compile Rtabmap-ros from scratch, which may have been an issue.
I tried uninstalling the scratch version using make uninstall and using the ap

[2020-01-23 21:15] RealSenseCustomerSupport commented on #939
----------------------------------------------

@FrederikHaa,

Do you still need help with this question?

[2020-01-23 21:52] FPSychotic commented on #1062
rtabmap has excellent manual and forum on their website, even if you fix that error, you will receive others different. You need decide what installation do you want, if standalone or ros dependent.So I would recommend you go to the official site and forum.

[2020-01-23 22:02] #861 closed, assigned to nobody

[2020-01-24 02:27] RealSenseCustomerSupport commented on #1005
----------------------------------------------

 @peci1,

Please check back often for official binary packages availability. Here is the link to submitted PR :
https://github.com/ros/rosdistro/pull/23493

[2020-01-24 04:47] peci1 commented on #1005
thanks!

[2020-01-24 12:23] fherreroc opened #1064 "duality in xacro use_nominal_extrinsics"
In `realsense2_description/urdf/_d435.urdf.xacro`, a use_nominal_extrinsics xacro:macro parameter is defined (`use_nominal_extrinsics:=false`) but it is not used, as later on line 75, a xacro argument is used instead (<xacro:if value="$(arg use_nominal_extrinsics)">).

If it is intended to be used as an argument, the xacro parameter is useless and can cause confusion, so it could be removed.

[2020-01-24 17:23] CluelessIT commented on #1062
Alright! Let me try and see, thanks! @FPSychotic

[2020-01-24 19:05] #801 closed, assigned to nobody

[2020-01-24 21:04] RealSenseCustomerSupport commented on #1005
----------------------------------------------

@peci1,

Please update us after you have the package installed and let us know if you need any additional help on this issue.

[2020-01-26 18:12] FredHaa commented on #939
We ended up using two computers with the cameras split between them, so I'll need to check again to see if the problem is still there with the newer versions of realsense.

I'll check next week.

[2020-01-27 01:02] CluelessIT commented on #1062
@FPSychotic Hi, I've tried the standalone installation initially but it can't seem to work.

[2020-01-27 09:18] LittleMoonMan commented on #1044
in my research with the raspberry pi 4 I coudent find a version of ubuntu (mate) that was compatible with ROS. Did i mis some thing or are people using different programs?

[2020-01-27 09:34] MartyG-RealSense commented on #1044
The RealSense ROS wrapper officially has compatibility with ROS Indigo (14.04) and Kinetic (16.04).  Some users have said that the wrapper's instructions work too with Melodic (18.04).

I rarely hear of Ubuntu MATE being used (it was recommended by Intel for use with Raspberry Pi 3 Model B).  As Pi 4 is more powerful and can provide desktop-level performance, it may be beter to use one of the main

[2020-01-27 12:48] pavloblindnology commented on #796
Well. The issue is still there. With current implementation, the timestamp domain of the device is totally neglected, and frames' timestamps are converted to ROS times by initial frame synchronization (which is assumed to have latency 0).

[2020-01-27 16:06] chrispduck opened #1065 "Failed launch of rs_camera D415"
I am having issues launching rs_camera.launch. Once launched, the relevant rostopics (mainly depth) has no data on it. I'm using a D415 with ROS kinetic.

Any help would be appreciated.

[code]

[2020-01-27 17:02] FPSychotic commented on #1056
did you try change the cable?
the error is happening to me too, but I dont think is important, I think is due to libuvc backend instalation

[2020-01-27 22:35] RealSenseCustomerSupport commented on #999
----------------------------------------------

Hi @tpet

The datasheet also outlines the X-Y information for location of depth origin in Section 4.9.1 Depth Origin X-Y Coordinates

One other question for you, are you able to get extrinsics by function call?

[2020-01-27 22:59] RealSenseCustomerSupport commented on #1011
----------------------------------------------

Hi @isirana

Were you able to get past any issues you were having here?  Is there any further assistance necessary?

[2020-01-27 23:00] tpet commented on #999
Hi!

X-Y axes in the datasheet are the other two dimensions, not the one I'm concerned about. Speaking in datasheet terms: the Z coordinate is incorrect; in URDF it is actually X coordinate.

I'm using the ROS driver, I'm not using the library directly.

[2020-01-27 23:02] #711 closed, assigned to nobody

[2020-01-28 00:54] RealSenseCustomerSupport commented on #939
----------------------------------------------

@FrederikHaa,

Thank you for the update. Please let us know the results of your check and whether you need any further assistance with this matter.

[2020-01-28 04:33] isirana commented on #1011
yes, I am still having problem when connecting both the cameras together to perform autonomus navigation task with ROS.
 Some times I was able to connect both the cameras with ROS by connecting the D435i camera after T265 camera node is up.However,  USB overflow warning is given after I run it some times.
I am using a Nvidia Jetson TX1 platform and the cameras are connected through a USB hub.
When

[2020-01-28 08:24] BrooklynBoy21 commented on #1056
@FPSychotic No, I have used the original cable which was in the kit. It is just usb - type C, so I will try to replace it and check.

[2020-01-28 14:53] nikkolasedi commented on #464
Do you have the solution?

[2020-01-28 19:57] radfordi commented on #1061
The pose shouldn't jump.   I wonder if these options are making it down the to T265?  Would you post your launch file for completeness?

[2020-01-28 21:02] #1046 closed, assigned to nobody

[2020-01-29 08:16] YoshuaNava commented on #980
@netgittemp I'm sorry for re-opening this issue, but my question is closely related to what you did to solve this issue.

How were you able to solve the problem with the Debian package? The API of the ddynamic_reconfigure official Debian [[ROS package index](https://index.ros.org/p/ddynamic_reconfigure/#melodic)], something that you can see by looking at the version (0.2.0)

The version of ddynami

[2020-01-29 10:04] #820 closed, assigned to nobody

[2020-01-29 14:59] FPSychotic commented on #1002
@MartyG-RealSense Did you get run RPi4 with two Realsenses on ROS? I having many of the issues you had.

[2020-01-29 15:39] MartyG-RealSense commented on #1002
Hi @FPSychotic - it was @falkowskiUR who experienced the issues.  I have not used Rpi 4.

[2020-01-29 15:50] lepalom opened #1066 "SR300 urdf or axis model"
Someone has a documentation of how are defined the camera axes in the Realsense SR300?

[2020-01-29 19:14] boewing opened #1068 "D435i rs_camera Error: "Call to publish() on an invalid Publisher""
I have a D435i camera running on a Jetson Nano with Jetpack 4.2.3. My task is to publish pointclouds to my ROS network (ROS melodic).

Unfortunately, in ca. 40 % of the time the rs_camera.launch node with default parameters does not start due to at least one error:
[code]

 (Full Logfile here: [errors.txt](https://github.com/IntelRealSense/realsense-ros/files/4130335/errors.txt))

The camera node'

[2020-01-30 01:04] shannonwarren commented on #1049
@rghl3 Any update on this?

[2020-01-30 02:05] jonathanhechtbauer-bc commented on #1068
same problem after pulling latest changes from this repo

[2020-01-30 04:27] szx0112 commented on #1018
@furushchev I face the similar problem when use two or more cameras. It always show device or resource busy even when the cpu usage is below 30%. Did you able to resolve this problem?

[2020-01-30 04:37] furushchev commented on #1018
@szx0112 Hi, I ended up removing librealsense installed via `apt-get` and instead building librealsense from source. After installing built libraries, I do not see the same issue any more, so far. Hope it will help you!

[2020-01-30 04:56] szx0112 commented on #1018
@furushchev  Thanks for the quick reply. My librealsense is also build from source with the same sdk and ros version as @mcalafat-earthrover mentioned. On realsense-viewer, it can stream at most 2 cameras with full resolution (color+depth). However when use realsense ros, it always show `rs::backend_error' what(): could not open device. Last Error: device or resource busy` when the 2nd camera is i

[2020-01-30 05:01] furushchev commented on #1018
@szx0112 I followed the script found at https://github.com/jetsonhacks/buildLibrealsense2Xavier but modified to support later L4T.
I tried and checked that it works on the following L4T versions:
L4T 32.2.1 => https://github.com/jetsonhacks/buildLibrealsense2Xavier/pull/15
L4T 32.3.1 => https://github.com/furushchev/buildLibrealsense2Xavier/tree/32.3.1

[2020-01-30 05:16] szx0112 commented on #1018
Great. I am on L4T 32.3.1 (Jetpack 4.3) without kernel patch (as jetsonhack mentioned). I guess it is still needed for ROS? I will try to re-install it with your version. Thank you for the help @furushchev !

[2020-01-30 05:19] doronhi commented on #787
rs2::frame holds a pointer to an inner librealsense frame objects that holds a reference counter. So we are not copying data by giving the function an object but just increasing the reference counter by 1.

[2020-01-30 06:05] armandok commented on #1024
I am having the same issue with 2.32.1. My kernel version is 5.3.0-7625-generic running on Ubuntu 18.04 and I'm using pre-build packages. Does anyone know how to downgrade librealsense to 2.30 with apt-get?

[2020-01-30 14:20] doronhi commented on #1065
What machine are you running on? Are there any other heavy processes in the background?
The warning messages suggests the machine can't keep up.

Making sure I understand the issue: Do you see a very low frame rate when typing `rostopic hz /camera/depth/image_rect_raw`? Or do you see empty images at around 30Hz when watching using "rqt_image_view" for example?

[2020-01-30 14:38] doronhi commented on #1060
What version and kernel do you use?
This issue could be related to problems in timestamps as described in #1047

[2020-01-30 14:50] doronhi commented on #492
The timestamps issue in kernel 5 could be related to #1047.

[2020-01-30 20:59] mjsobrep opened #1069 "Nothing published when using an external nodelet manager"
This might be similar to #697 , but I am still having trouble.

If I run this launch file (case 1):
[code]
Then things work well enough for me, some video gets published, etc.

If I run this though (case 2):
[code]
Then nothing gets published.

Any thoughts as to what is going on?

## Case 1 launch printouts:
<pre> roslaunch flo_telepresence min_realsense.launch
... logging to /home/nuc-admin/.ros

[2020-01-31 18:04] PeterJochem commented on #1047
How to I download the prior version of librealsense? Do I have to do this from source? Can I use apt somehow?
sudo apt-get install librealsense2=2.30.0 tells me that the version does not exist

[2020-01-31 21:00] RealSenseCustomerSupport commented on #1042
----------------------------------------------

Hi @wol01179
Were you able to implement the changes outlined by doronhi?  Depth topic should include depth data.  With regards to T265 the readme outlines the topics available https://github.com/IntelRealSense/realsense-ros, the odometry will provide pose data even if you don't want the fisheyes.  The SLAM algo uses the data via the fisheyes and IMU

[2020-01-31 21:57] RealSenseCustomerSupport commented on #386
----------------------------------------------

Hi @doisyg,

The PR has been submitted recently to address this matter:
https://github.com/ros/rosdistro/pull/23493
Please stay tuned for further updates regarding official binary packages availability.

Thank you!

[2020-01-31 23:49] sadransh commented on #1011
I remember I had no issue with version 2.29 and 2.30
now it is updated and I am expriencing similar problems

[2020-02-02 06:19] doronhi commented on #1022
Sorry for the long delay.
The graph you added suggests that at time (i) there are both an image message and an imu message. Then many IMU messages and again, both Image and IMU message at time (j).
The fact is that the Image and IMU messages are just not synchronized. There is an Image message at time (i) and then an IMU message at i plus a little offset. If you want to have the imu at time (i) yo

[2020-02-02 06:42] doronhi commented on #868
Sorry for the long delay.
Did you record 1.bag file using realsense-viewer or using rosbag --record?
realsense-viewer and rs-convert use a different format than the rosbag application so you need to use the right one to extract the file. I am not sure it has something to do with the error you get - I don't have enough data.
In any case, you will not get pose for each image. The pose messages are n

[2020-02-02 08:02] doronhi commented on #1052
Hi, sorry for the late response.
The message regarding the detached head is not an error. It means that the right version is now on the disk but it is not attached to a specific branch.
Attaching it to a specific branch is optional and is not needed the the successful completion of the building process.
You can attach it to a specific branch of your choice if you want to commit some changes to it,

[2020-02-02 14:02] doronhi commented on #1024
[#5751](https://github.com/IntelRealSense/librealsense/pull/5751) seems to fix the issue for me on Ubuntu 18.04, kernel 4.15.0-74-generic

[2020-02-03 00:58] RealSenseCustomerSupport commented on #941
----------------------------------------------

@jacksparkma Didn't get response from you for weeks. Will close the ticket at this point. Please feel free to create new one if you still have questions or issues. Thanks!

[2020-02-03 01:02] #941 closed, assigned to nobody

[2020-02-03 01:15] RealSenseCustomerSupport commented on #948
----------------------------------------------

@comwise Sorry that we didn't get response from you for weeks. Will close this issue at this point. Please feel free to create new one if you still have questions or issues. Thanks!

[2020-02-03 01:18] RealSenseCustomerSupport commented on #895
----------------------------------------------

@nyxrobotics Could you please update? Thanks!

[2020-02-03 01:44] RealSenseCustomerSupport commented on #607
----------------------------------------------

@atyshka Could you please update? Thanks!

[2020-02-03 01:45] RealSenseCustomerSupport commented on #1009
----------------------------------------------

@MaidenOfTheMain Could you please update? Thanks!

[2020-02-03 01:48] RealSenseCustomerSupport commented on #777
----------------------------------------------

@JessyXie  Sorry that we didn't get response from you for weeks. Will close this issue at this point. Please feel free to create new one if you still have questions or issues. Thanks!

[2020-02-03 01:49] RealSenseCustomerSupport commented on #989
----------------------------------------------

@OnesoulKang  Any update from your side? Thanks!

[2020-02-03 02:02] #777 closed, assigned to nobody

[2020-02-03 02:02] #889 closed, assigned to nobody

[2020-02-03 02:02] #948 closed, assigned to nobody

[2020-02-03 09:41] RealSenseCustomerSupport commented on #1051
----------------------------------------------

@swinterbotix Glad to hear that the issue fixed. Any other questions? Looking forward to your reply. Thanks!

[2020-02-03 09:55] RealSenseCustomerSupport commented on #1002
----------------------------------------------

@falkowskiUR How did you connect two cameras to Raspberry? Only one USB3 port with USB hub or two USB3 ports separately? If only one USB3 port, I would suspect if any USB bandwidth issue. Please try to turn on depth only and turn off IR1/IR2/Color which you can modify in https://github.com/IntelRealSense/realsense-ros/blob/development/realsense2_came

[2020-02-03 14:51] falkowskiUR commented on #1002
@FPSychotic and @samxchandlerpi I'm sorry for the lack of response but i didn't resolve the issue. @RealSenseCustomerSupport I tried both approaches. First i used USB hub with external power supply, and after that I used two USB3 ports separately.
I checked bandwidth with usbtop (with only depth frame turned on in launch file) and it was fine but it didn't fix error , so bandwidth isn't a problem.

[2020-02-03 15:20] samxchandlerpi commented on #1002
Is this related to  #1051 ? As a temporary fix, I modified some of the source code and staggered the launch of the two realsense nodes. It seems like some other people had success fixing this issue by removing 'ros-kinetic-librealsense2' or downgrading realsense to 2.28.1 and realsense-ros to 2.2.8. I haven't tried these solutions yet.

[2020-02-03 15:43] chaitudarz opened #1070 "RGB data is not displaying in both realsense viewer, as well in rostopic echo, #window_crash #no_image_display"
Hello,

Today, I have installed the real sense-ros wrapper, using https://github.com/IntelRealSense/realsense-ros. Everything was fine, but when I launched the realsense-viewer, I can't see the RGB data, when I turn **on** the toggle button in the viewer, the entire realsense-viewer screen gets crashed out. Secondly, even I tried checking using the rostopic echo /camera/color/image_raw, I can't ev

[2020-02-03 17:11] atyshka commented on #607
I haven’t been using the realsense lately, but kernel patches seemed to have fixed it. I still think there should be some error handling since not all users can easily apply kernel patches, i.e. Jetson users. But aside from that feature request I’m fine closing this

[2020-02-03 17:56] TheVetter commented on #508
Yes I am have the question as well.

how do i get the information needed for this https://berndpfrommer.github.io/tagslam_web/intrinsic_calibration/

[2020-02-03 19:08] shreyas2311 commented on #1051
The issue still persists on the Nvidia Jetson TX2. I have to start the launch files with serial numbers. The output of rs-enumerate-devices however, gives the entire string.

[2020-02-03 23:04] #1012 closed, assigned to nobody

[2020-02-03 23:04] #984 closed, assigned to nobody

[2020-02-04 00:07] #880 closed, assigned to nobody

[2020-02-04 04:59] doronhi commented on #508
Could you elaborate? Why is `rs-enumerate-devices -c` not working for you?

[2020-02-04 06:01] RealSenseCustomerSupport commented on #1051
----------------------------------------------

@shreyas2311 In case we didn't follow the discussion clearly, could you please clarify what issue you're stilling having? Thanks!

[2020-02-04 06:48] RealSenseCustomerSupport commented on #1044
----------------------------------------------

@LittleMoonMan Any other questions for this ticket? Looking forward to your reply. Thanks!

[2020-02-04 09:11] falkowskiUR commented on #1002
@samxchandlerpi i think that could work but i'll try it out later. Thanks for advice. For now i stopped dealing with this problem so i will close issue.

[2020-02-04 09:11] #1002 closed, assigned to nobody

[2020-02-04 09:41] FredHaa commented on #939
It works now.

The error must've been fixed by a later version of realsense.

[2020-02-04 09:41] #939 closed, assigned to nobody

[2020-02-04 18:47] danem opened #1071 "Pointcloud Unreliable (D435)"
I'm using the ROS wrapper for realsense and I'm running into performance and reliability issues. Running:

    roslaunch realsense2_camera rs_camera.launch serial_no:=<serial> filters:=pointcloud

and

    rostopic hz /camera/depth/color/points

usually results in a series of `no new messages` errors, and on the off chance that I do get a message it's usually around 0.5hz.

[Here](https://github.c

[2020-02-04 19:23] FPSychotic opened #1072 "Frame rate can't get more of 15fps"
I have my d435 upgraded to the last firmware.
I have had issues on every SBC or PC can get work together d435 and t265 simultaneously (Arm64 and X86 SBC and X86 PC nuc like) which I will detail on other post. After find work arounds for every issue, result that I detected than in no one system I have, D435 is able to go higher of 15Hz when I make rostopic hz to any topic. I tested on 4.15, 4.19,5.

[2020-02-04 21:27] FergalLonerganKUL commented on #961
[ INFO] [1580847984.061964435]: Tracking Module was found.
[ INFO] [1580847984.062008884]: (Depth, 0) sensor isn't supported by current device! -- Skipping...
[ INFO] [1580847984.062032143]: (Color, 0) sensor isn't supported by current device! -- Skipping...
[ INFO] [1580847984.062051935]: (Infrared, 1) sensor isn't supported by current device! -- Skipping...
[ INFO] [1580847984.062076800]: (Infra

[2020-02-04 21:30] FergalLonerganKUL commented on #961
My launch file looks like this:

<launch>
  <arg name="enable_pose_jumping" default="false"/>
  <rosparam>
    /camera/tracking_module/enable_auto_exposure: false
    /camera/tracking_module/exposure: 15000.0
    /camera/tracking_module/gain: 4.0
  </rosparam>
...
...
</launch>

[2020-02-04 21:32] FergalLonerganKUL commented on #961
[code]

[2020-02-04 21:33] FergalLonerganKUL commented on #961
My launch file looks like this:
[code]

[2020-02-05 01:21] RealSenseCustomerSupport commented on #607
----------------------------------------------

@atyshka Thanks for your suggestion! We'll evaluate it. Close this issue at this point. Thanks again!

[2020-02-05 02:04] #607 closed, assigned to nobody

[2020-02-05 04:30] doronhi commented on #1071
It seems like a duplication of #1047. [Librealsense PR#5751](https://github.com/IntelRealSense/librealsense/pull/5751) fixes that. It will be available in the upcoming release.

[2020-02-05 07:07] RealSenseCustomerSupport commented on #937
----------------------------------------------

@Brudasoe Seen from the testing result, the latency by latency-tool below should be something related to the fps.
https://github.com/IntelRealSense/librealsense/tree/master/wrappers/opencv/latency-tool

[2020-02-05 10:09] jokla commented on #1029
I have the same question. Have you figured it out @JadTawil-theonly ?

[2020-02-05 11:14] FergalLonerganKUL commented on #1049
@doronhi Could you have a look at this please? Regardless of where you add the rosparam to your launch file the enable_auto_exposure remains set to true when you open rqt_reconfigure with the error regarding setting the exposure before streaming outlined above.

[2020-02-05 11:20] christian-rauch opened #1073 "role of catkin package librealsense2"
As far as I understand the [`librealsense`](https://github.com/IntelRealSense/librealsense) provides the kernel-space and user-space driver. Both need to be installed to build and run the ROS node.

However, it is unclear to me, which role the catkin package for the driver (i.e. `ros-melodic-librealsense2`) plays. It seems to only provide the user-space component to allow building the ROS node, bu

[2020-02-05 13:28] JadTawil-theonly commented on #1029
Not really, the images are the same.. rectification is happening on the device it seems

[2020-02-05 17:57] RealSenseCustomerSupport commented on #818
----------------------------------------------

I'll be closing this thread out if there is nothing further necessary.

[2020-02-05 17:58] RealSenseCustomerSupport commented on #1023
----------------------------------------------

I'll be closing out the thread if there is nothing further necessary.

[2020-02-05 18:02] #822 closed, assigned to nobody

[2020-02-05 18:02] #1041 closed, assigned to nobody

[2020-02-05 18:02] RealSenseCustomerSupport commented on #933
----------------------------------------------

Were you able to test out the latest releases?  If there is nothing more needed on this thread, we can close it.

[2020-02-05 18:31] RealSenseCustomerSupport commented on #918
----------------------------------------------

Hi @whoobee

Apologies for no response for some time.  The occupancy-mapping demo was just that a demo of how to utilize the T265 tracking solution and a depth camera like D435 to show what can be done using both depth and tracking pose data.  There hasn't been any maintaining or updating of this example over time.

If anything else is needed, let us

[2020-02-05 23:18] TheVetter commented on #508
it did i got it to work. I was just being stupid.

[2020-02-06 00:32] shannonwarren commented on #1061
@radfordi Thanks for the response. You were right about using the options, I used rqt_reconfigure and found that there was an error in my namespace. Besides this, I have seen the NaN issue as raised in https://github.com/IntelRealSense/librealsense/issues/4518 and https://github.com/IntelRealSense/realsense-ros/issues/955 occurring quite frequently after the robot patrols for long periods and then

[2020-02-06 01:17] SoraDevin commented on #1047
@PeterJochem
`apt policy librealsense2` will give you a list of versions you can roll back to and the command `sudo apt install librealsense2=2.30.0-0~realsense0.1694` will downgrade (or choose a version from the version list). You may have other librealsense2 packages that will be removed (I have dbg, dev, gl, and utils) so rinse and repeat with them.

[2020-02-06 07:11] RealSenseCustomerSupport commented on #968
----------------------------------------------

@AutomatoRobotics Which SDK and ROS wrapper version did you try? Any crash log for killing node operation(Ctrl+C)? Did you get crash when running the node?

[2020-02-06 22:56] yanjundream commented on #849
I encountered exact same problem now, with librealsense V2.29.0 and realsense-ros V2.2.9. The combination of software works pretty well on a laptop (Dell XPS15), however, it is drifting when coming to TX1. I also check the result from /usr/bin/rs-pose and it is not drifting at all. Any clues what should I do? Thanks!

[2020-02-07 02:32] RealSenseCustomerSupport commented on #1053
----------------------------------------------

Hi @job-1994,

First of all, could you please provide us with the following details about your system configuration :
HW configuration details (all platforms names, how the camera(s) is/are connected, etc)
Linux Kernel version
number of cameras in active use in the system
for each camera please provide :
   camera model (D435,D435i,etc)
   FW version

[2020-02-07 06:52] RealSenseCustomerSupport commented on #1020
----------------------------------------------

@AstroUKN According to the comment of
https://github.com/IntelRealSense/librealsense/issues/4586#issuecomment-583046210 , DKMS package with kernels 5.0 and 5.3 support is available for download. Please try to download and update to see if it can fix your issue. Thanks!

[2020-02-07 06:56] RealSenseCustomerSupport commented on #932
----------------------------------------------

@BriceRenaudeau Please refer to the comment below to download DKMS for kernel 5.0 to try again.

https://github.com/IntelRealSense/librealsense/issues/4586#issuecomment-583046210

[2020-02-07 12:59] doisyg commented on #1057
Following this as we are planning to use the T265 in USB2

[2020-02-07 13:13] ChrisMOxon commented on #1057
I wouldn't do that if I were you...  I've raised this issue with Intel support directly as we have tested with multiple T265 cameras, in multiple sites and using multiple machines.  Also tested accessing via ROS driver and the Intel Realsense Viewer.  In all cases it's impossible to get any USB2 output worth using.

Intel support's response was that they don't have a camera available for testing w

[2020-02-07 13:29] doisyg commented on #1057
Surprising as our preliminary tests with the realsense viewer seemed to give us a good tracking.
What type of cable are you using? We did our test with a micro usb 2.0 (smaller, hence not using all the connectors).

[2020-02-07 14:24] paulbovbel commented on #889
The PR is still open, so this is still an issue...

[2020-02-07 14:32] doisyg commented on #1051
@svrakiss : thank you so much! I was starting to loose my sanity, I spent a couple of hours trying to understand why I could no launch 2 D435 in the same time (and also port filtering was not working anymore, and the ports naming was messed up, and cameras had to be unpluged/pluged to appear in realsense viewer after a ROS usage) after trying the newly released ros-melodic-realsense2* packages. I

[2020-02-07 19:43] RealSenseCustomerSupport commented on #1018
----------------------------------------------

Can we close this ticket if there is no other question?
Thank you.

[2020-02-07 22:03] #754 closed, assigned to nobody

[2020-02-07 22:27] RealSenseCustomerSupport commented on #1003
----------------------------------------------

ruoxueruoxi90915,

Are you still having issues with item 1) below? We are able to run rs_rgbd.launch successfully.

[2020-02-07 22:55] RealSenseCustomerSupport commented on #1026
----------------------------------------------

If you're asking about the orientation of the plate with the camera mounted on it then MartyG-Realsense is correct. If you mean knowing the orientation of the plate using the depth values from these 4 points that the depth camera is looking at then that is not supported by our real-sense API.

Will you be needing further assistance with this?

[2020-02-08 00:55] RealSenseCustomerSupport commented on #699
----------------------------------------------

Is this still reproducible in the latest ROS/librealsense release?
Thank you.

[2020-02-08 02:33] RealSenseCustomerSupport commented on #1047
----------------------------------------------

Hi @PeterJochem,

Before you're downgrading to some specific version of LRS please make sure that you have uninstalled all the other versions of LRS.
Using `apt-cache showpkg librealsense2` you can see list of available versions for installation.
For example, if you want to downgrade LRS version to v2.30.0 you need to choose it from this list and the

[2020-02-08 02:34] shannonwarren opened #1074 "New LibrealSense 2.32.0 not supported by the current Realsense-ros package?"

[2020-02-08 05:11] shreyas2311 commented on #1051
@RealSenseCustomerSupport The issue is that I am unable to launch D435 camera on the Jetson because of the incorrect parsing of the Port IDs. This issue is not there on the older ros-realsense versions. But in the recent versions, there is a patch where the parsing mechanism has been changed . This is causing errors where the ros-package isn't able to detect the camera properly.

[2020-02-08 07:52] MartyG-RealSense commented on #1074
The RealSense ROS wrapper is not in sync with the release schedule of the RealSense SDK.  At the time of writing this, the ROS wrapper's most recent release supports 2.31.

https://github.com/IntelRealSense/realsense-ros

[2020-02-08 08:15] shannonwarren commented on #1074
Thanks @MartyG-RealSense. As mentioned in the release notes https://github.com/IntelRealSense/librealsense/wiki/Release-Notes#release-2321 there have been improvements with respect to NaN readings which I have been encountering often https://github.com/IntelRealSense/realsense-ros/issues/1061.  Any idea on the time frame for this?

[2020-02-08 08:23] MartyG-RealSense commented on #1074
Typically, updates to the wrapper arrive on an unpredictable schedule.  I'll tag the wrapper developer @doronhi into this conversation to see if they can provide an official estimate of when the next wrapper version will arrive.

[2020-02-08 21:31] lostmsu commented on #860
@phil333 can you share the modification that you made?

[2020-02-09 04:48] doronhi commented on #1074
There are bug fixes in librealsense but as for now, no major improvement has entered the wrapper, therefor no new release was published. The Current version, to the best of my knowledge, supports librealsense v2.32.1.

[2020-02-09 05:01] doronhi commented on #1018
I think we should keep the issue open for now. If indeed building from source, as @furushchev  suggests, fixes the issue then something needs to be fixed the the apt-get version. I am currently looking into issues relating several devices.

[2020-02-10 00:09] furushchev commented on #1018
@doronhi @RealSenseCustomerSupport  I cannot check by myself since I have a few test configuration. Let's wait reports from other users who use multiple devices simultaneously with apt-get configuration.

[2020-02-10 05:02] MarcoDotIO commented on #1009
Hello,

Sorry about the long term delay. Anyways I am still having issues with this problem, so I will be more than happy to provide the information needed. The steps I've performed are exactly as listed on this webpage provided by Robotis:
http://emanual.robotis.com/docs/en/platform/openmanipulator_x/ros_applications/#ros-applications

I installed the ROS packages described along with the drivers

[2020-02-10 08:51] dschnabel opened #1075 "rs_rtabmap.launch problem"
OS: Ubuntu 16.04.6 LTS
ROS version: Lunar
RTAB-Map: 0.17.6
Cameras: D435 and T265

If I launch each camera individually it works fine, meaning RViz opens up and shows me the data I would expect.

For the D435: `roslaunch realsense2_camera demo_pointcloud.launch` <-- works
For the T265: `roslaunch realsense2_camera demo_t265.launch` <-- works

But when I launch rs_rtabmap with both cameras, it can'

[2020-02-10 08:53] doronhi commented on #1073
realsense2_camera, the ROS wrapper for librealsense, obviously depends on librealsense2 library.
librealsense2 library is, as for now, not available in public servers but only here: http://realsense-hw-public.s3.amazonaws.com/Debian/apt-repo
As a consequence, `rosdep install` fails when encountering this dependency.
The temporary solution was to add librealsense2 to the ROS public server. This pac

[2020-02-10 11:39] christian-rauch commented on #1073
Thank you for the details. That was helpful to understand the differences.

So from my understanding, the ROS wrapper is using the user-space driver (with `uvc` backend) and there is no advantage from installing the `librealsense2-dkms` (the kernel-space driver with `v4l` backend) when using ROS only.

Is there a difference in performance (CPU usage, maximum FPS) between the `uvc` and `v4l` backen

[2020-02-10 13:40] doronhi commented on #1073
The ROS wrapper use whatever driver the librealsense2 uses.
There are benefits to using the kernel based v4l driver as mentioned in the discussion in the link I provided, including stability and performance. I didn't compare and I would guess the performance difference will depend on the machine and the workload at hand.
The kernel based driver can close the device in an orderly fashion if the app

[2020-02-10 14:12] doronhi commented on #1049
It seems like a bug in the librealsense2 library. The enable_auto_exposure option should turn automatically to Off when exposure is set. This bug can be reproduced with the realsense-viewer application.
Thanks for reporting this. We will try to correctly it shortly.

[2020-02-11 00:13] shannonwarren commented on #1074
@doronhi got it. Thanks

[2020-02-11 00:37] RealSenseCustomerSupport commented on #895
----------------------------------------------

@nyxrobotics Could you please update? If we don’t hear from you in 7 days, this issue will be closed. Thanks!

[2020-02-11 00:44] RealSenseCustomerSupport commented on #989
----------------------------------------------

@OnesoulKang Could you please update?If we don’t hear from you in 7 days, this issue will be closed. Thanks!

[2020-02-11 00:56] RealSenseCustomerSupport commented on #1056
----------------------------------------------

@FPSychotic Any luck after replace the USB cable? And what's SDK version and ROS wrapper version when you get this issue?

[2020-02-11 01:00] RealSenseCustomerSupport commented on #937
----------------------------------------------

@Brudasoe Any other questions about this ticket? Looking forward to your update. Thanks!

[2020-02-11 02:14] RealSenseCustomerSupport commented on #1062
----------------------------------------------

@CluelessIT What's the issue details now? Could you please update? Thanks!

[2020-02-11 02:52] RealSenseCustomerSupport commented on #787
----------------------------------------------

@CaoKha Any other questions about this ticket?

[2020-02-11 02:58] RealSenseCustomerSupport commented on #1024
----------------------------------------------

@armandok Did you try https://github.com/IntelRealSense/librealsense/pull/5751 to see if it can fix your issue? Looking forward to your update. Thanks!

[2020-02-11 03:39] sadransh opened #1076 "cannot record pointcloud with rosbag record -a using demo_pointcloud.launch"
OS : Ubuntu 16.04
ROS : kinetic
librealsense : v 2.32.1
device : d435i
fw version : 05.12.02.100

I am trying to record and replay rosbag using `rosbag record -a` with `demo_pointcloud.launch`
( experienced similar issue trying with rs_d400_t265.launch file)

this is the output :
[code]

I have also tried removing some topics from recoding and recording only the list below :
[code]
removing follow

[2020-02-11 08:02] dschnabel commented on #1075
Solved it myself: In RViz go to the 'Display' window and
* under 'Global Options' change 'Fixed Frame' to 't265_odom_frame'
* under 'Grid' change 'Reference Frame' to 't265_odom_frame'

This will bring up the 3D image from the D345 and the odometry data from the T265.

[2020-02-11 08:02] #1075 closed, assigned to nobody

[2020-02-11 08:04] BrooklynBoy21 commented on #1056
@RealSenseCustomerSupport @FPSychotic No, the cable replacement did not help. Camera still work badly with ROS.

I am using ROS Melodic with ROS wrapper 2.2.11
librealsense version: 2.32.1

[2020-02-11 08:49] #787 closed, assigned to nobody

[2020-02-11 11:28] FPSychotic commented on #1056
No I needed move to other board

[2020-02-11 22:05] #699 closed, assigned to nobody

[2020-02-12 00:14] szx0112 commented on #1018
Just add a quick comment here. Finally I end up with the configuration suggested by @furushchev with the downgraded librealsense (build from source). I am now able to run two d435i cameras with full resolution (1280x720) and high frame rate (15HZ) with both color and depth_aligned frames enabled on ROS. If we want to add more cameras, we have to either reduce the resolution or drop the frame rate

[2020-02-12 00:46] furushchev commented on #1018
@szx0112 Interesting... FYI, I actually use a PCIe-USB card to support multiple camera devices on Xavier since all USB ports on Xavier developer kit share bandwidth of USB3.0.

https://www.startech.com/Cards-Adapters/USB-3.0/Cards/PCI-Express-USB-3-Card-4-Dedicated-Channels-4-Port~PEXUSB3S44V

[2020-02-12 03:23] nyxrobotics commented on #895
Maybe hardware or driver issue. I close this issue.

[2020-02-12 03:23] #895 closed, assigned to nobody

[2020-02-12 03:37] szx0112 commented on #1018
@furushchev Thanks for sharing this link, we might start to take a look at those PCIe cards. BTW, just curious how many cameras have you tested (with PCIe) on Xavier? Our ideal case is to make 4 or 5 D435i works at full resolutions and frame rate (~30HZ).

[2020-02-12 04:09] rezanatha opened #1077 "pointcloud is occasionally not published"
I have installed realsense-ros and now trying to display pointcloud on rviz by using command roslaunch realsense2_camera rs_camera.launch filters:=pointcloud. The rgb, depth, and infrared worked just fine.

Here is my environment:
OS: Ubuntu 18.04
ROS: Melodic
Librealsense: v2.32.1
Realsense ROS: v2.2.12
Device: D435

The problem is when I look at /camera/depth/color/points it doesn't publish any

[2020-02-12 05:19] dschnabel opened #1078 "rtabmap with external odometry (Realsense T265)"
OS: Ubuntu 16.04.6 LTS
ROS version: Lunar
RTAB-Map: 0.17.6
Cameras: Realsense D435 and T265

I'm starting both cameras with this launch command:
`roslaunch realsense2_camera rs_d400_and_t265.launch align_depth:=true`
(see [rs_d400_and_t265.launch](https://github.com/IntelRealSense/realsense-ros/blob/development/realsense2_camera/launch/rs_d400_and_t265.launch))

The map frame looks like [this](htt

[2020-02-12 06:48] RealSenseCustomerSupport commented on #1009
----------------------------------------------

@MarcoDotIO Did you apply the patch for kernel 5.0 as below? If not, please try to patch and test again.

https://github.com/IntelRealSense/librealsense/blob/development/scripts/realsense-camera-formats-bionic-5.patch
https://github.com/IntelRealSense/librealsense/blob/development/scripts/realsense-metadata-bionic-5.patch

[2020-02-12 07:15] weseu opened #1079 "SR305 TX2 Jetpack4.2 align_depth value is error"
----------------------------------------------------------------------------------------------------

| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       |  SR305  |
| Firmware Version                   |  librealsense 2.22.0 ;

[2020-02-12 09:53] mcamurri commented on #1005
If I try to compile the latest `development` branch (commit 69d199d9e01a7c57b78831a6486c83ad8653aba9) and install `ros-melodic-ddynamic-reconfigure` from apt-get, I get the following error:
[code]
it seems the API has changed from kinetic to melodic at some point, because the pal-robotics' `kinetic-devel` branch works instead.

The current way to make it compile on melodic is by cloning [the pal-r

[2020-02-12 10:24] phil333 commented on #860
Hey, i dont have access to my code, but i can tell you want to do. So my modification consists in skipping the publication of 2/3 images. For this you have to go to the following method inside the base_realsense_node.cpp:
`void BaseRealSenseNode::frame_callback(rs2::frame frame)`
There you add a simple if else clause before the 'try{' line, and go to return if you want to skip the image publicatio

[2020-02-12 13:21] MarcoDotIO commented on #1009
Thank you for the quick response. For anyone who's also having this problem, including myself, would you be able to provide a resource on applying such a patch? I have no experience with patching the Linux kernel myself.

[2020-02-12 21:25] RealSenseCustomerSupport commented on #1055
----------------------------------------------

Hi @sadransh

It is possible for the T265 SLAM system to work under sparse feature environments.  Although the solution works at its best in environments where features are rich and able to use features to navigate itself in that environment.  Using wheel odometry adds more input into the tracking system and provides another avenue of data into the S

[2020-02-12 22:03] RealSenseCustomerSupport commented on #1053
----------------------------------------------

@job-1994,

Do you still need help with this question?

[2020-02-12 22:53] job-1994 commented on #1053
Camera is connected via USB3 to the Jetson Xavier platform
Linux Kernel Version (result of `uname -r`): 4.9.140-tegra
amount of active cameras: 1
Model: D435i

I just tried running the enumerate command and Infrared2 is now showing up, so that part of the issue seems to have solved itself, however now the problem is that the camera simply wont run, it keeps coming with the following error after ex

[2020-02-12 22:57] RealSenseCustomerSupport commented on #1078
----------------------------------------------

Hi @dschnabel

Can you help me understand the difference between this thread and the following one:  https://github.com/IntelRealSense/realsense-ros/issues/1075

Here are a few other threads to review that may help:
https://github.com/IntelRealSense/realsense-ros/issues/711
https://github.com/IntelRealSense/realsense-ros/issues/749
https://github.com

[2020-02-12 23:01] #1074 closed, assigned to nobody

[2020-02-13 02:03] RealSenseCustomerSupport commented on #1051
----------------------------------------------

@shreyas2311 Thanks for the clarification! Could you please specify the detailed SDK and ROS wrapper verion when get the issue? And according to the comment from @swinterbotix https://github.com/IntelRealSense/realsense-ros/issues/1051#issuecomment-576942007 , he/she has resolved the issue. Did you get chance to try his/her sharing? Thanks!

###

[2020-02-13 02:46] weseu commented on #1079
By the way. My Jetpack version is 4.2.

and I try runing:
roslaunch realsense2_camera rs_camera.launch align_depth:=true
and
realsense-ros/realsense2_camera/scripts/show_center_depth.py

when I let it from near to far, I get the flowing massage for SR305.
/camera/depth/image_rect_raw: Depth at center(320,240): ..........
20 --> 70 --> 127 --> 127 --> 100 --> 50 --> 27 ----------> the massage is no

[2020-02-13 03:26] RealSenseCustomerSupport commented on #1044
----------------------------------------------

@LittleMoonMan Any update from your side? Will close the issue if no other questions. Thanks!

[2020-02-13 08:02] RealSenseCustomerSupport commented on #1020
----------------------------------------------

@@AstroUKN Did you get any chance to try? Looking forward to your update.Thanks!

[2020-02-13 08:24] RealSenseCustomerSupport commented on #1009
----------------------------------------------

@MarcoDotIO Please refer to the script below to apply the patch.
 https://github.com/IntelRealSense/librealsense/blob/master/scripts/patch-ubuntu-kernel-4.16.sh

Or else you can also apply the patch manually.

[2020-02-13 08:35] dschnabel commented on #1078
Yes, sorry for the confusion, @RealSenseCustomerSupport . I had opened #1075 because I was under the wrong impression that rviz and rtabmapviz are separate programs. But turns out that this is just the frontend. In rviz I was able to configure a different 'Fixed Frame' and 'Reference Frame' which then showed me some data in the 3D window. But I was still seeing the `Did not receive data since 5 se

[2020-02-13 09:07] lavanya463 commented on #699
Hi,
I have a similar problem when I disconnect and reconnect it solves... But it is really difficult to do it every time manually.
I am using the following command to get a point cloud
`roslaunch realsense2_camera rs_rgbd.launch enable_infra1:=false enable_infra2:=false`

and many times my `rostopic hz /camera/depth_registered/points` produce no new messages.
Can you please help me or provide some

[2020-02-13 09:22] araujokth commented on #898
Hi @doronhi, was wondering if you had any update regarding the implementation of the linear_interpolation? It would be really valuable as the copy method lowers the performance since even though the IMU measurements are now periodic, their values are not the best they could be for the corresponding time instance. Thanks again for the help!

[2020-02-13 14:10] doronhi commented on #898
The linear_interpolation method was re-implemented. Would you like to suggest a different algorithm then the current one?
If so, I think we should close this issue and start a new one with the new suggestion.

[2020-02-13 14:19] Serafadam commented on #937
Thanks for following up on that, I did some tests, and it seems that latency did improve with more fps, even though I didn't check that thoroughly.

 I had a problem that I had calibrated the position of the camera with respect to the robot arm (hand-eye calibration), and after that I wanted to do a scanning motion, and it seemed like the camera was a little lagging with what I had expected, and t

[2020-02-13 14:28] doronhi commented on #699
Sorry for losing track of your issue guys. I do hope you managed after all.
@lavanya463, Do you mean that after 6-7 hours you suddenly get "Frame metadata isn't available"?
In any case, this seems like a different issue.
I think you should open a new issue and describe the problem.
Also, when you do, it would help if you state what FW you use. What kernel, librealsenses version, machine?
An issue

[2020-02-13 14:54] doronhi commented on #1005
@mcamurri , I think you have got the wrong version of ddynamic-reconfigure because I had to do nothing when switched from kinetic to melodic. In any case, this is a separate issue.

regarding the realsense2_description package for melodic, it is available now (using `sudo apt-get install ros-melodic-realsense2-description`). Can someone confirm that this issue can be closed? @peci1 ?

[2020-02-13 18:41] MarcoDotIO commented on #1009
@RealSenseCustomerSupport Thank you for providing the patch file, though it seems like the shell file pertains to kernel version 4.16 rather than 5.0.0. And I did try running it and had this expected output from the script:

`
The patch is applicable for kernel version 4.16.
/
        For earlier kernels please use patch-realsense-ubuntu-lts.sh script
`

Should I go ahead and use patch-realsense-u

[2020-02-13 20:21] aswinkumar2019 opened #1080 "Map not generated using opensourcetracking launch file"
Hello guys,
I tried to create slam using opensourcetracking launch file,the map was not generated,only the point cloud at that instant was visible when decay time was 0 as default as shown in (https://github.com/aswinkumar2019/erros/raw/master/WhatsApp%20Image%202020-02-14%20at%201.44.46%20AM.jpeg) ,i changed the decay time to 100 and got some point cloud map like (https://github.com/aswinkumar201

[2020-02-13 20:57] mcamurri commented on #1072
I'm also facing performance drop with the latest releases.
I'm testing a RealSense D435i on a DELL Precision 7530 laptop running Ubuntu 18.04 and ROS melodic, both upgraded to latest .

[code]
note that the latest kernel available on the `4.18` branch is  `4.18.0-25-generic`, but with that wifi and touchpad don't work :(

[code]

`lswh -short`:
[code]
I've followed all the instructions in your rea

[2020-02-13 23:27] RealSenseCustomerSupport commented on #898
----------------------------------------------

Hi @doronhi, If we don't hear from you in 7 days. this issue will be closed.

[2020-02-14 00:42] mcamurri commented on #1005
Yes you are right. I didn't realize I was using an unofficial mirror of the ROS ppa. With the official ROS mirror it compiles.

[2020-02-14 01:00] FPSychotic commented on #825
did you solve this axactly same setup, same errors. I have a USB3.0 external powered, doesnt matter what I connect or disconect or were I connect them, it will crash

[2020-02-14 01:53] RealSenseCustomerSupport commented on #932
----------------------------------------------

@BriceRenaudeau Did you get chance to try? Could you please update? Thanks!

[2020-02-14 02:19] RealSenseCustomerSupport commented on #968
----------------------------------------------

@AutomatoRobotics Any update from your side? Could you please update?

[2020-02-14 03:02] RealSenseCustomerSupport commented on #1009
----------------------------------------------

@MarcoDotIO Currently no such patch apply script specified for kernel 5.0, and you can refer to the steps in the script of kernel 4.16 to apply the patch manually for kernel 5.0. Or else you can use DKMS package referring to https://github.com/IntelRealSense/librealsense/blob/master/doc/distribution_linux.md

[2020-02-14 03:08] RealSenseCustomerSupport commented on #937
----------------------------------------------

@Brudasoe Please check below document to see if you can apply HW sync between the camera and  the robot.
https://dev.intelrealsense.com/docs/multiple-depth-cameras-configuration

[2020-02-14 05:40] AutomatoRobotics commented on #968
Sorry for the late reply, since the recent updates we didn't encounter more
crashes.
If the problem resurfaces we'll let you know.

Many thanks!

On Fri, 14 Feb 2020, 04:19 RealSense Customer Support, <
notifications@github.com> wrote:

[2020-02-14 06:24] RealSenseCustomerSupport commented on #968
----------------------------------------------

@AutomatoRobotics Glad to hear that. Yes, please feel free to let us know if you have any other issues or questions.

[2020-02-14 07:04] #968 closed, assigned to nobody

[2020-02-14 09:37] BriceRenaudeau commented on #932
Hi, Thanks for your answer.
I was working around with "pointcloud" filter option.
After the latest update, I can do it the normal way :+1:

[2020-02-14 10:23] suiteecobotics opened #1081 "Odom config file makes camera manager crash"
Hello,

We have a setup where we want to use the T265 camera.
It starts okay but when we try to add the odom calibration file, the nodelet manager crash with a "Bond Broken" error.
The file is based on the example given  in librealense github and seems correct.
Do you have any insights on what could generate this issue ?

[odom_calib.json.txt](https://github.com/IntelRealSense/realsense-ros/files/

[2020-02-14 13:39] RealSenseCustomerSupport commented on #932
----------------------------------------------

@BriceRenaudeau Thanks for the quick update! Please feel free to create another new ticket to track the DKMS issue.

[2020-02-14 18:12] RealSenseCustomerSupport commented on #1078
----------------------------------------------

Hi @dschnabel

I have looked and those errors don't seem to be on the realsense side of things.  It seems to be on the rtabmap side of things.

Found a couple other threads that should be looked at:

https://github.com/introlab/rtabmap/issues/418
https://github.com/introlab/rtabmap/issues/409

I know this isn't rtabmap but there is the example of occ

[2020-02-14 18:57] RealSenseCustomerSupport commented on #1047
----------------------------------------------

@PeterJochem,

Do you need any additional help with this question?

[2020-02-14 19:36] shannonwarren opened #1082 "Recorded bag files for recurring problems with T265"
I've been trying to integrate the realsense T265 with our existing SLAM setup. It works fairly well for an indoor robot however heavily depends on the environment. For environments like malls etc with highly reflective floors and walls there is a significant amount of pose jump however for carpeted floors I've seen better results. I've been plotting stats and collecting bag files for tracking conf

[2020-02-14 19:49] RealSenseCustomerSupport commented on #1005
----------------------------------------------

@peci1, @mcamurri,

Did you have a chance to install the realsense2_description package for Melodic? Do you need any further assistance with this matter?

[2020-02-14 20:10] peci1 commented on #1005
I won't install it this month since we need reliability for the DARPA SubT challenge, but in March we'll definitely want to switch to the released packages.

[2020-02-14 21:22] RealSenseCustomerSupport commented on #1066
----------------------------------------------

Hi @lepalom

Sorry for the delay on this topic.  We do not have this information for SR300.

[2020-02-14 21:58] RealSenseCustomerSupport commented on #1005
----------------------------------------------

@peci1,

The realsense2_description package for Melodic was released, so the original issue is solved and will be closed. If you will experience any issues with the package, please open a new thread and we'll be glad to provide you with all the needed help.

Thank you!

[2020-02-14 22:12] RealSenseCustomerSupport commented on #1052
----------------------------------------------

Hi @shreyas2311,

As @doronhi have said, the detached head state does not interfere with the successful completion of the building process. Please let us know if you need any further clarifications regarding this topic.

Thank you!

[2020-02-14 22:24] RealSenseCustomerSupport commented on #1065
----------------------------------------------

Hi @chrispduck,

Do you still need help with this question?

[2020-02-14 22:54] RealSenseCustomerSupport commented on #1079
----------------------------------------------

The RealSense ROS version 2.2.11 and 2.2.12 have the supported libRealSense version 2.31.0. Please give 2.31.1 a try and see if the problem persists. Thank you.
https://github.com/IntelRealSense/realsense-ros/releases/tag/2.2.11

[2020-02-15 01:42] weseu commented on #1079
this issue can follow https://github.com/IntelRealSense/librealsense/issues/5846 , so I close it

[2020-02-15 01:42] #1079 closed, assigned to nobody

[2020-02-15 08:07] wikpunGitHub opened #1083 "Color image and PointClould synchronization"
Hi, I use color image to filter out a moving object and I use PointCloud to determine it XYZ. However, I notice that if the object is moving fast, the XYZ position is not accurate. I would like to know how to synchronize the color image with the PointCloud. I am current setting my D435 in 60fps for both color and depth channel.

I tried to use depth image before, the problem with depth image is th

[2020-02-16 04:58] dschnabel commented on #1078
Hi @RealSenseCustomerSupport

thank you for those threads. The occupancy mapping was a great starting point. Once I got that working, I went back to playing around with [rs_rtabmap.launch](https://github.com/IntelRealSense/realsense-ros/blob/development/realsense2_camera/launch/rs_rtabmap.launch). I then [disabled re-localization](https://github.com/m-pilia/realsense-ros/commit/6521e3f97382fa49d0a

[2020-02-16 04:58] #1078 closed, assigned to nobody

[2020-02-16 07:50] #1000 closed, assigned to doronhi

[2020-02-16 07:57] doronhi commented on #937
The timestamp marked with "Global Timestamp domain" is synchronized to the host clock.
You could synchronize the host clock with the robot's clock (or if they are the same, the problem is solved).

[2020-02-16 08:36] doronhi commented on #1077
It sound very very frustrating indeed and I am sorry for that.
You didn't specify what kernel do you use but it sounds like it could be related to time stamp issues that were fixed [here](https://github.com/IntelRealSense/librealsense/pull/5751).
The fix is not yet published as a debian package (it will be in a week or two) so if in a hurry you'll have to build from source.

[2020-02-16 12:41] doronhi commented on #1076
There are issues recording compressed depth. See [here](https://github.com/ros-drivers/usb_cam/issues/55)

Indeed I got a lot of errors trying to record the list of topics you describe.
Running the followings:
`rosbag record /camera/color/camera_info /camera/color/image_raw /camera/depth/camera_info /camera/depth/color/points /camera/depth/image_rect_raw /camera/extrinsics/depth_to_color /tf /tf_s

[2020-02-16 12:49] chrispduck commented on #1065
It seems as though the machine was not capable of the high bandwidth required by the camera. It only had USB 2.0 ports. On another machine with USB 3.0 support, it works fine!
Cheers

[2020-02-16 12:49] #1065 closed, assigned to nobody

[2020-02-16 15:51] anbello opened #1085 "Error extracting usb port from device with physical ID"
I am reporting this issue because I read this after launching realsense2_camera node:

[ WARN] [1581867815.081746419]: Error extracting usb port from device with physical ID: 1-1.3-6
Please report on github issue at https://github.com/IntelRealSense/realsense-ros

Follow complete output:

[code]

[2020-02-17 01:37] RealSenseCustomerSupport commented on #989
----------------------------------------------

@OnesoulKang Sorry we didn't hear from you for weeks. Will close the ticket at this point. Please feel free to create another ticket if you still have questions or issues. Thanks!

[2020-02-17 02:01] RealSenseCustomerSupport commented on #1024
----------------------------------------------

@armandok  Any update from your side? Thanks!

[2020-02-17 02:05] #989 closed, assigned to nobody

[2020-02-17 02:16] armandok commented on #1024
@RealSenseCustomerSupport Yup. Tried it and fixed the problem! Thanks!

[2020-02-17 03:05] RealSenseCustomerSupport commented on #1062
----------------------------------------------

@CluelessIT Could you please update the issue details? Looking forward to your update. Thanks!

[2020-02-17 04:21] RealSenseCustomerSupport commented on #1024
----------------------------------------------

@armandok Glad to hear that. Thanks for the feedback!

[2020-02-17 05:03] #1024 closed, assigned to nobody

[2020-02-17 06:27] doronhi commented on #1085
Thank you. Could you please specify the machine type, and kernel version?

[2020-02-17 11:28] anbello commented on #1085
Hi @doronhi I am using a Raspberry Pi 3B, now i don't remember the kernel version but I did an apt-get update - apt-get upgrade three days ago, anyway when I will be back to my home I will report the version.

[2020-02-17 19:45] mmaceira opened #1086 "ROS python: camera parameters"
Hello!

I've been working on a project where I detect objects in a RGB image. Now I project the detections to 3D with rs2_deproject_pixel_to_point as shown in:

https://github.com/IntelRealSense/librealsense/issues/1413

I have it working opening the camera with the realsense python wrapper ( example taken from https://github.com/IntelRealSense/librealsense/blob/master/wrappers/python/examples/ope

[2020-02-18 08:10] drfg0119 opened #1087 "Can't take the correct info from the topic "/camera/aligned_depth_to_color/image_raw" which is under rs_camera.launch"
| Required Info                         |                                                                |
|---------------------------------|------------------------------------------- |
| Camera Model                       | {SR300 / D400 } |
| Firmware Version                   |   |
| Operating System & Version |   TX2(Ubuntu 18.04) & PC(Ubuntu 16.04)   |
| ROS Version |   TX2(melodic) & PC(Ki

[2020-02-18 08:13] anbello commented on #1085
Here the kernel version on my RPi:
[code]

[2020-02-18 09:21] rezanatha commented on #1077
Thanks for your response. My kernel version is 5.0.0-37-generic.
I think I have solved the problem by enabling pointcloud_texture_stream:=RS2_STREAM_ANY. The point cloud isn't RGB-textured but it doesnt matter for me.

However, I encountered similar problem. Any of the aligned_to_depth topics won't show up. It is also present when point cloud won't publish. When I enabled the RS2_STREAM_ANY the pr

[2020-02-18 09:30] doronhi commented on #1085
Thanks. I have submitted PR#1088. I would appreciate it, if you have the time, to check it out and close the ticket if it works.

[2020-02-18 10:54] doronhi commented on #1009
There is a problem with frame timestamps. It was fixed in [librealsense PR#5751](https://github.com/IntelRealSense/librealsense/pull/5751) and will be released in the next version.

It could be that the problem your are having is related to frames' timestamps.
Try running the following commands, a different terminal, while rviz prints its error messages:
`rostopic echo /camera/color/image_raw/head

[2020-02-18 11:21] anbello commented on #1085
Thanks. I will have the time to test it in the week end.

[2020-02-18 13:18] araujokth commented on #898
@doronhi  sorry for the late reply and sorry for the misunderstanding. In my original post, the intention was that any "unite_imu_method" should make sure that the IMU measurements are periodic, and not aperiodic as they are now. Hence, for linear_interpolation to be useful, it should output the measurements periodically. Was this fixed in its re-implementation? I have tried it and was still aperi

[2020-02-18 18:22] yputra commented on #825
@FPSychotic No, I still have the issue, and I have not got time to go back to it yet. I only tried on 2.32 once and it still crashed, so I put it on hold...

[2020-02-18 22:02] #1005 closed, assigned to nobody

[2020-02-19 04:10] ghost commented on #1051
I am trying this on ROS kinetic, but realsense-ros requires "ros-kinetic-librealsense2" package and this package only has v2.31.0 on apt repository.
Can I install this package from source ? I think the difference is only the installation path.
I would be grateful if anyone could give me advice.

[2020-02-19 04:18] ghost commented on #1051
I solved this. That was because I installed librealsense2(v2.28.0) from apt repository.
I installed librealsense2 from source, I can build realsense2-camera without "ros-kinetic-librealsense2". It works pretty well in this version.Thank you.

[2020-02-19 04:46] RealSenseCustomerSupport commented on #1051
----------------------------------------------

@shreyas2311 Any update from your side? Thanks!

[2020-02-19 05:37] RealSenseCustomerSupport commented on #1044
----------------------------------------------

@LittleMoonMan Could you please update if you still need support on this? Thanks!

[2020-02-19 10:09] doronhi commented on #898
As far as I know and checked it is periodic in the last version. I would appreciate if you could check report back if the problem persists.

[2020-02-19 12:42] jara001 commented on #607
Hint for other truth-seekers (and developers afraid to patch the kernel):
Luckily, it can be 'patched' quite easily by adding few lines to the node `base_realsense_node.cpp:BaseRealSenseNode::registerDynamicOption()` just after skipping unsupported parameters.

For older 2.2.0 I have used:
`
if (option_name == "Power_Line_Frequency") {
    ddynrec->add(new DDInt(option_name, i, sensor.get_option_d

[2020-02-19 18:39] shreyas2311 commented on #1051
@RealSenseCustomerSupport The issue is not there in the librealsense 2.28.1 and the associated realsense-ros. Using these versions, I could get it to work. However, the issue exists in the new ros realsense version 2.30 and 2.31. Therefore, I hope that this issue will be fixed in subsequent versions so that we can use any new features that will be released along with the newer librealsense version

[2020-02-19 21:05] RealSenseCustomerSupport commented on #1053
----------------------------------------------

@job-1994,

Did you have a chance to find all the needed details? Do you still need an assistance with this matter?

[2020-02-20 00:20] JStech commented on #1002
I think I'm running into this same issue, albeit not on a Raspberry Pi. I'm trying to start two D415 cameras. I've tried using `rs_multiple_devices.launch` as well as running `rs_camera.launch` twice, with different `camera` namespaces. Downgrading realsense-ros and librealsense didn't fix it for me. Here's my system info:

Info | &nbsp;
---- | -----
Camera Models | both D415
Firmware Versions | 0

[2020-02-20 01:26] RealSenseCustomerSupport commented on #1037
----------------------------------------------

Hi matthewp14,

Just to make sure : did you build both LibRealSense and ROS Wrapper from the source code?

Thank you!

[2020-02-20 03:43] reedjacobp commented on #1085
Hi @doronhi thank you for that fix. I have a D435i and I am using a Raspberry Pi 4 with the same kernel version as @anbello. I had the same error with extracting usb port and so I made the changes from the pull request and no longer get the error, but I am still receiving another error.

Please see the following:

[code]

I'm not sure what's going wrong here. Please let me know if you need any mor

[2020-02-20 06:56] aswinkumar2019 commented on #1080
Anybody please reply

[2020-02-20 13:13] doronhi commented on #1080
Is it possible that you are viewing the wrong point cloud topic with RViz? Are you showing the output of realsense2_camera or of rtabmap?
I can't really tell what the problem is without more information.
It might help to see the command line and output of realsense2_camera and rtabmap from the terminal.

[2020-02-20 13:23] doronhi commented on #1085
@reedjacobp , I am glad the usb port issue is resolved.
I have encountered the other error you described and will update as soon as possible. Could you, as this is a different issue, open a new issue for it?

[2020-02-20 13:32] doronhi commented on #1051
The issue of identifying the usb port is, I believe, resolved with #1088.

[2020-02-20 13:41] aswinkumar2019 commented on #1080
Thank you for your reply.
The pointcloud of realsense was subscribed,when i changed it to rtabmap,i dont get any output in rviz
The command line output is:
[ INFO] [1582205788.040527817]: SELECTED BASE:Depth, 0
[ INFO] [1582205788.135805495]: RealSense Node Is Up!
 20/02 19:06:28,167 WARNING [546836558208] (messenger-libusb.cpp:42) control_transfer returned error, index: 768, error: Resource tempo

[2020-02-20 13:52] doronhi commented on #1080
When you switch to rtabmap's pointcloud it is possible that you also need to change the frame_id. This is from memory...
Also, the notifications about "Not enough inliers..." means that you should put the camera stable with an "interesting" view.
Also, the warning "control_transfer returned error..." is a realsense warning and an should be dealt with in a separate issue. See [here](https://github.

[2020-02-20 14:05] aswinkumar2019 commented on #1080
Thanks for the help,
i just adjusted the position of realsense and,just got a single warning:
[ WARN] [1582206950.053855198]: Transform from camera_imu_optical_frame to camera_link was unavailable for the time requested. Using latest instead.

And,the point cloud was generated successfully but,
after sometime,i get the Not enough inliers..."  error and,the point cloud stops.
Is there anything i ca

[2020-02-20 14:07] aswinkumar2019 commented on #1080
Also,
When you switch to rtabmap's pointcloud it is possible that you also need to change the frame_id.
By this line may i know which frame id you are referring to?
Regards,
Aswin Kumar

[2020-02-20 19:05] #1047 closed, assigned to nobody

[2020-02-20 21:08] shreyas2311 commented on #1051
That's great. I didn't notice that. We can close the issue here in that case. Thanks!

[2020-02-20 21:09] #1051 closed, assigned to nobody

[2020-02-20 21:12] shreyas2311 commented on #1052
@RealSenseCustomerSupport Alright! Thanks for the update!

[2020-02-20 21:12] #1052 closed, assigned to nobody

[2020-02-20 22:02] RealSenseCustomerSupport commented on #999
----------------------------------------------

Hi. The bottom screw mount center to front glass distance is 0.0149 as expressed in line 30 of urdf.

<xacro:property name="d435_cam_mount_from_center_offset" value="0.0149"/>

The depth origin is indeed 0.0042 from the front of glass which corresponds to infra1 frame in model.

You are right the urdf model could probably be expressed better. I'll fi

[2020-02-20 22:04] #866 closed, assigned to nobody

[2020-02-21 03:19] reedjacobp opened #1089 "Control transfer returned error"
Hi everyone,

So I had an issue with the "error extracting usb port" seen at #1085 but was able to fix that error. This time it says "RealSense Node is up!" and then I get:

WARNING [2856317984] (messenger-libusb.cpp:42) control_transfer returned error, index: 300, error: No data available, number: 3d

I can still see a depth cloud in RViz as well as a color image, but data is not being properly p

[2020-02-21 05:10] tpet commented on #999
Well, maybe only the mesh is wrong?
If you have one more look at the picture above:
The glass is on the right.
The depth frame visualized is in the left half but it should be only 4.2 mm from the right edge, which would definitely be in the right half.
So it seems to me, that it doesn't match.

[2020-02-21 10:20] #918 closed, assigned to nobody

[2020-02-21 11:38] YoshuaNava commented on #1072
@mcamurri I have also experience the rotating screen issue with D435i cameras, and I think that it is related to the Noveau driver in some way. It doesn't happen when I switch to a proprietary GPU driver.

Regarding the issues that you experience, we have not observed that behavior with the kernel patch, kernel 4.15 and the latest software/firmware. Quite the opposite. I do see that your camera is

[2020-02-21 13:25] mcamurri commented on #1072
No secure boot or limitation. In fact, with this configuration I get the nominal 30 Hz rate without changing any bios settings:
- 4.15.0-72-generic
- librealsense 2.21.0 (compiled manually)
- realsense-ros 2.2.3 (compiled manually)
- firmware 05.10.13.00

The rotation happens even with the proprietary graphics drivers (firmware used is 05.11.01.100 in this case):
![image](https://user-images.githu

[2020-02-21 18:11] RealSenseCustomerSupport commented on #999
----------------------------------------------

That is correct. The mesh is wrong. FYI...we always welcome contributions from the community as well. If you want to change the mesh we'll more than gladly look at that PR. :)

https://github.com/IntelRealSense/librealsense/blob/master/CONTRIBUTING.md

Thanks

[2020-02-21 18:54] RealSenseCustomerSupport commented on #1026
----------------------------------------------

If we don’t hear from you in 7 days, this issue will be closed.

[2020-02-21 18:55] RealSenseCustomerSupport commented on #1003
----------------------------------------------

If we don’t hear from you in 7 days, this issue will be closed.

[2020-02-21 20:20] RealSenseCustomerSupport commented on #1063
----------------------------------------------

Hi devanshbatra04,

Are you still seeing this? Can you try incorporating this PR into your build. It's part of a future released but contains fixes that might resolve your issue.

https://github.com/IntelRealSense/librealsense/pull/5751

Thanks

[2020-02-21 21:01] RealSenseCustomerSupport commented on #1036
----------------------------------------------

Hi @sss22213,

The issue was addressed in this PR:
https://github.com/IntelRealSense/realsense-ros/pull/1088
Please let us know, if you need any further assistance with this matter.

Thank you!

[2020-02-23 07:00] doronhi commented on #1080
I just ran it now.
The topic of the point cloud is "/voxel_cloud"
The frame_id is "map"
It's not stable and you need to keep it looking at scenes with features but it reacts smoothly on my machine.

[2020-02-23 07:12] aswinkumar2019 commented on #1080
Hello doronhi,
What is the hardware you are using?(I am running it in jetson nano)
The default was voxel_cloud, I changed it to rtabmap_cloud.
Is it wrong?
Regards,
Aswin Kumar

[2020-02-23 07:13] aswinkumar2019 commented on #1080
I didnt get map with voxel_cloud, so I thought it is point cloud from realsense and, changed it to rtabmap_cloud

[2020-02-23 07:20] doronhi commented on #1080
There are known issues with the Jetson. Try to run the realsense2_camera node without the the rtabmap node and check that all the expected topics are stable. If not, please describe the behavior and errors you see. You should also check other open issues for issues regarding jetson, Raspberry pi, maybe they already described the problem you are facing.
It is possible that the issues are still bein

[2020-02-23 07:40] aswinkumar2019 commented on #1080
Will it run perfectly without any issues in upsquared?,if not, can you mention some hardwares in which it is officially tested?
Is subscribing to rtabmap_cloud right or, I need to subscribe to voxel_cloud?
Regards,
Aswin Kumar

[2020-02-23 08:40] rezanatha commented on #1077
I fixed the problem by changing the kernel to 4.15.0 instead of 5.0.0. This [link](https://github.com/IntelRealSense/librealsense/blob/master/doc/distribution_linux.md) states that in order to use realsense on 5.0.0 you have to build from source which I have done but the mentioned problem still exist so I think I'll just stick with older kernel.

[2020-02-23 08:40] #1077 closed, assigned to nobody

[2020-02-23 09:12] doronhi commented on #1080
voxel_cloud seems better and updates fluently.
I tried it a while ago on UP2 and it works but you'll have to set lower frame rates as this is not such a strong machine.

[2020-02-23 09:24] anbello commented on #1085
@doronhi  I tested your PR #1088 and it solve the problem. Thanks.
One last thing I would like to know is why I see the lines with error for USB 2.1:
`16/02 15:43:35,956 ERROR [1806255136] (tm-device.cpp:620) Streaming T265 video over USB 2.1 is unreliable, please use USB 3 or only stream poses
`
even if I set "enable_fisheye1" and "enable_fisheye2" to false on launch file?

If I leave them to tru

[2020-02-23 16:21] aswinkumar2019 commented on #1080
Thank you very much doronhi for your help.
Just a small request,please keep the Intel SAWR project at github.com/intel/SAWR active.it is not updated for a long time and, is not monitored.
It was of great help to start.
Regards,
Aswin Kumar

[2020-02-23 16:22] #1080 closed, assigned to nobody

[2020-02-23 16:32] aswinkumar2019 commented on #1036
Guys,
Were you able to generate slam using jetson nano?

[2020-02-24 00:22] tmichals commented on #1036
Yes,  we were able to publish our T256 pose information using the realsense rs_T265 launch file, but in comparing why the T265 and d435 create usb errors appears to come down to the "publish_odom_tf" statement.   Remove that statement and both camera's will publish their pose and pointcloud data.

[2020-02-24 03:05] #887 closed, assigned to nobody

[2020-02-24 04:56] doronhi commented on #1089
@reedjacobp , I try to look into the case. What do you mean by "I can still see a depth cloud in RViz as well as a color image, but data is not being properly published to their topics and so they're not actually usable."?
Do you mean that the data is published at an uneven rate? Or that since the node crashes, the data is unreliable? or something else maybe?

[2020-02-24 05:21] aswinkumar2019 commented on #1036
Hello tmichals,
Was the map generated successfully?,how did you install ros realsense?, through jetson hacks script or, from source or, through apt?
Regards,
Aswin Kumar

[2020-02-24 05:58] reedjacobp commented on #1089
@doronhi
Thank you very much. What I mean by that is that when I pull up RViz, it shows a depth cloud in front of my robot model and there is an available live image if I add the "Image" visualization. Both of these are available even with the error above. I created my own package that utilizes rtabmap to build a map (which utilizes both of those topics), however, the map is not building. There co

[2020-02-24 07:02] #1025 closed, assigned to nobody

[2020-02-24 09:34] araujokth commented on #898
Sorry, only had time to verify this now. I did the test with the copy method, and it is always periodic, but the linear_interpolation method has several samples which are not. I gathered data over different periods and the behavior is the same. The IMU period was set to 400 Hz, so we should get the intersampling time of 2.5 ms, but sometimes it is 5 ms. Here is a plot to show what happens:

![imag

[2020-02-24 13:05] tmichals commented on #1036
With some effort we have transforms that created at single tree using the odom T265 as a base and tf to the d435, but we have not gotten rtabmap to work with are published data.   Our understanding is to use the t265 for location while combining that with d435 and its distance point cloud.   We were able to write a rospy application that could access the published data.    Yes, we used jetsonhacks

[2020-02-24 13:18] aswinkumar2019 commented on #1036
Why don't you use MPU 9250 IMU in place of t265 for localisation?
Hope d435 and MPU 9250 is enough to generate slam.
Regards,
Aswin Kumar

[2020-02-24 14:43] doronhi commented on #1080
The SAWR project is indeed very old.
You should check out the [hedgehog](https://www.intelrealsense.com/hedgehog-robot-by-erwhi/). It is a maintained opensource project explaining about navigation, slam etc. with up to date hardware. It also directs you to it's [github repository](https://github.com/gbr1/erwhi-hedgehog).

[2020-02-24 17:39] schmidtp1 commented on #1057
@ChrisMOxon, if I understand correctly you are still streaming images when using USB2. This should be avoided since it is right on the bandwidth limit of USB2. Can you try to disable the fisheye streams and retest? Thanks!

[2020-02-24 17:46] schmidtp1 commented on #1055
@sadransh, wheel odometry improves the robustness to sparse environments. Yet one issue of the current system could be that it switches to 3DOF (orientation only) mode if there are no features detected at all (e.g. completely white room or completely dark / camera fully(!) covered). Yet I have never encountered that issue in quite a lot of testing (due to the wide FOV).
You can see the effect by r

[2020-02-24 20:20] RealSenseCustomerSupport commented on #370
----------------------------------------------

Closing this issue since there has been no activity. Please feel free to let us know  if the feature is still needed. Thank you.

[2020-02-24 20:23] SteveMacenski commented on #370
This feature is still needed and relevant. See above. Please stop closing issues without activity. Lack of activity is not a lack of issue, its a lack of interest in resolving it.

[2020-02-24 20:47] RealSenseCustomerSupport commented on #370
----------------------------------------------

No problem, we will keep this issue open for the apt-get package of the RealSense ROS Wrapper.
Thank you.

[2020-02-24 23:39] RealSenseCustomerSupport commented on #1064
----------------------------------------------

Hi fherreroc,

Actually it's used from the launch file here...

https://github.com/IntelRealSense/realsense-ros/blob/69d199d9e01a7c57b78831a6486c83ad8653aba9/realsense2_description/launch/view_d435_model.launch#L2

Here's the explanation from the original PR:

https://github.com/IntelRealSense/realsense-ros/pull/886

Thanks

[2020-02-25 00:50] RealSenseCustomerSupport commented on #1020
----------------------------------------------

@AstroUKN Could you please update? Thanks!

[2020-02-25 01:01] RealSenseCustomerSupport commented on #1062
----------------------------------------------

@CluelessITn Could you please update if you still need support on this? Thanks!

[2020-02-25 01:04] RealSenseCustomerSupport commented on #1009
----------------------------------------------

@MarcoDotIO Any other questions with the reply of doronhi? Looking forward to your reply. Thanks!

[2020-02-25 03:03] #1044 closed, assigned to nobody

[2020-02-25 05:02] #1062 closed, assigned to nobody

[2020-02-25 08:01] Shkunn commented on #1020
Hi, I didn't update yet my problem for lack of time unfortunately...
But a friend of mine downloaded the last version and didn't have any problem. Hopefully it'll work for me !
Thanks for your answers

I'll try to get back to it as soon as possible !

[2020-02-25 08:46] job-1994 commented on #1053
Yes, please see previous post for details

[2020-02-25 09:01] fherreroc commented on #1064
Yes, in that launch file the **argument** is passed/used, but not the xacro **parameter** (which is defined but not used within _d435.urdf.xacro)
That's what I mean with "duality", it is defined in two ways, but only one is actually used.
Also, the argument has no default value, so if you do not define it in your own launch file or xacro, you get the error "undefined substitution argument use_nomi

[2020-02-25 14:52] doronhi commented on #1085
The message that you see is just a message without any other effects.
As far as I understand it, the message is supposed to be issued only for enabling fisheye. Once disabling the fisheye cameras you can ignore it. To eliminate it completely you can also disable accel and gyro.
I issued a PR to fix it [here](https://github.com/IntelRealSense/librealsense/pull/5915)

[2020-02-25 14:52] #1085 closed, assigned to nobody

[2020-02-25 19:59] sadransh commented on #1011
@isirana Do you still have the issue? any idea?

[2020-02-25 20:05] sadransh commented on #1011
have you tried rebuilding the librealsense ?( instead of installing from the repository?) ( just a guess)

[2020-02-25 21:49] jakelloyd22 opened #1090 "SLAM Error Realsense T265"
Hey guys,
after running the command:
roslaunch realsense2_camera rs_t265.launch
Rviz pulls up and I can see both image outputs from the T265's fish eye lenses; however, when I try to add outputs for other topics like the IMU and the odometry it doesn't work. Eventually the node fails and I get the following error:

 25/02 15:36:56,917 WARNING [139845745768192] (tm-device.cpp:1289) SLAM_ERROR Speed

[2020-02-26 00:12] RealSenseCustomerSupport commented on #1053
----------------------------------------------

@job-1994,

We still don't have information about FW version you use and about how the camera is connected to the host system (powered/unpowered hub, direct connection,etc). Please provide us with these details.

Thank you!

P.S.  - please provide answers for the questions we're asking in the new comments instead of
editing your already posted commen

[2020-02-26 04:17] sadransh commented on #1011
@doronhi
 do you have any idea on why this happens? Is there any temporary fix for this? I have installed library using repository. Is there any possibility of fixing this problem if I re build the lib on device? Any other guess on this? I have time to test.

[2020-02-26 04:58] RealSenseCustomerSupport commented on #1076
----------------------------------------------

@sadransh  Any other questions with doronhi's reply? Looking forward to your update. Thanks!

[2020-02-26 06:06] szx0112 commented on #492
I got the similar warning in realsense-viewer with librealsense 2.32.1. I installed the dkms, utils and dev packages. My pc is intel nuc 8 and ubuntu 18.04, kernel 5.3.0-40-generic

Any suggestions?

[2020-02-26 07:14] MartyG-RealSense commented on #1090
I hope that the link below will provide useful information about accessing an odometry topic.  Please read downward through the comments from the point in the discussion that is linked to.

https://github.com/IntelRealSense/realsense-ros/issues/749#issuecomment-532968059

[2020-02-26 17:37] sadransh commented on #1076
No that was all. Thanks for fast reply. Everything worked fine. I will reopen the issue in case of any related issue.

[2020-02-26 17:37] #1076 closed, assigned to nobody

[2020-02-26 20:32] RealSenseCustomerSupport commented on #1037
----------------------------------------------

@matthewp14,

Do you still need help with this question?

[2020-02-26 21:57] matthewp14 commented on #1037
@RealSenseCustomerSupport I was able to get around this for what I was doing. The errors are still there but I no longer need a solution. And yes I built both from source

[2020-02-26 21:57] #1037 closed, assigned to nobody

[2020-02-26 22:24] armandok commented on #1068
I am having the same issue on nano with rs_camera and rs_aligned_depth.

[2020-02-27 00:40] RealSenseCustomerSupport commented on #937
----------------------------------------------

@Brudasoe Any other questions about this? Thanks!

[2020-02-27 00:42] RealSenseCustomerSupport commented on #932
----------------------------------------------

@BriceRenaudeau As the issue resolved, will close this accordingly. Please create another ticket to track the DKMS issue. Thanks!

[2020-02-27 01:04] #932 closed, assigned to nobody

[2020-02-27 03:26] sss22213 commented on #1036
hi RealSenseCustomerSupport:
Problem still exist....

![圖片](https://user-images.githubusercontent.com/8285871/75409536-f1140480-5953-11ea-8980-3796582d5042.png)

![圖片](https://user-images.githubusercontent.com/8285871/75409451-b3af7700-5953-11ea-8b81-bc29132e1ab8.png)

[2020-02-27 03:34] aswinkumar2019 commented on #1036
Hello sss22213,
Did you use the source of the latest repo?
I didn't check it as I was busy on jetson nano and lidar.
Can you please verify it and reply?
Regards,
Aswin Kumar

[2020-02-27 04:42] 2vin opened #1091 "Change default axis of t265 to upward facing"
I want to put realsense t265 in upward facing configuration on a robot, but this gives me an orientation problem on the topic /camara/odom/sample in ROS where the odometry vector always face upwards. Is there a way to use the camera in upward facing configuration?

[2020-02-27 05:22] sss22213 commented on #1036
Hello Aswin Kumar,
i use 9c447a2f90e8c479111412eedf8e830090ad5b78

![圖片](https://user-images.githubusercontent.com/8285871/75414614-0f81fc00-5964-11ea-8613-0ec927944942.png)

![圖片](https://user-images.githubusercontent.com/8285871/75414633-1e68ae80-5964-11ea-851f-25dbf895ec94.png)

Regards,
sss22213

[2020-02-27 05:32] aswinkumar2019 commented on #1036
Try rebooting the system, if not fixed, try to run as root user.(you have to source the setup.bash file again).
The control transfer error was gone for me.
Is the error extracting usb port gone?
Regards,
Aswin Kumar

[2020-02-27 13:53] tmichals commented on #1036
Would this solution be similar to [#1037](https://github.com/IntelRealSense/realsense-ros/issues/1037#event-3075588915)

[2020-02-27 14:10] aswinkumar2019 commented on #1036
Yeah, it is the same issue.
Guys, you need to reduce the rate parmater which would be 300 in launch file to a lower value(in robot_localization) node.
Otherwise, you will get a lot of warnings in jetson nano.
I got the point cloud but, didn't get the map because of these errors.
I just reboot and run the launch file as root user while keeping the realsense in a optimum position and map was generat

[2020-02-28 08:19] MartyG-RealSense commented on #1091
A long discussion in the link below about using the T265 in downward orientation may provide advice that is adaptable for an upward orientation.

https://github.com/IntelRealSense/librealsense/issues/4080

[2020-02-28 08:43] #1053 closed, assigned to nobody

[2020-02-28 14:47] LEGO999 opened #1092 "T265 suddenly doesn't provide any new message at rostopic odometry"
Hi guys, I am using a raspberry pi 4, Ubuntu 18.04, D435i and T265 to build a indoor SLAM robot.
My SDK version is v2.32.1 and built using LibUVC backend. The firmware version for T265 is 0.2.0926.
I use rs_t265.launch to launch T265 and obtain my odometry of robot. My setup works for a few seconds and could build the 2D MAP. But after a few seconds, the T265 randomly doesn't provide new message i

[2020-02-28 20:52] FPSychotic opened #1093 "T265 odom in,ROS wrapper specific questions"
Hi, I cannot find answer to many basic qustions related with odometry in on T265.
1- SDK needs a configuration file (json), is it needed for ROS wrapper?
2- For every case? my wheel odom_link is on the TF tree already, and t265_link knows the TF already of wheel odom. in origen and position as t265----base_link----planar-odom.
3-If I need the config file, where I put the file
4- With what frequenc

[2020-02-29 00:07] RealSenseCustomerSupport commented on #1036
----------------------------------------------

@sss22213,

In the description of the issue you didn't mention that your system is running on a virtual machine. We don't support installations on VM. Can you please use non-virtual environment and let us know whether or not you experience the same issue on it as well?

[2020-02-29 06:23] q8wwe opened #1094 "Realsense D400 with gazebo"
Can I use intel realsense SDK with gazebo .
I want to work on it with gazebo simulation before test on real robot .therefor ,  can compile this wrapper and use it with gazebo simulation ?

[2020-02-29 07:35] MartyG-RealSense commented on #1094
There is a tutorial for using Gazebo for ROS that was designed for Kinect but says it can be used with other depth cameras.

http://gazebosim.org/tutorials?tut=ros_depth_camera&cat=connect_ros

There was an official RealSense Gazebo plugin a couple of years ago but it was designed for the older RealSense R200 stereo camera model.

https://github.com/intel/gazebo-realsense

A RealSense user later w

[2020-02-29 15:37] q8wwe commented on #1094
thank you , I will check it.

[2020-03-01 05:12] doronhi commented on #1068
This sounds like a serious error. I will try to attend to it shortly.
In the meanwhile, creation of publishers is done in the [void BaseRealSenseNode::setupPublishers()](https://github.com/IntelRealSense/realsense-ros/blob/4d565649a73fad8dbedc79ef59dd1d5baeca613c/realsense2_camera/src/base_realsense_node.cpp#L770) function. I hope it is a good starting point for investigation.

[2020-03-02 04:17] mhaboali opened #1096 "T265's IMU topic has quaternion of zeros"
I'm using demo_t265.launch with linter_interpolation filter to get /t265/imu topic. But the topic has a quaternion of zeros under the orientation section of the Imu message.

However, the orientation is correct from the /t265/odom/sample topic. But I need the orientation values to come directly from the /t265/imu topic.

Any help?

[2020-03-02 07:06] aydal commented on #1036
Hello.
I am having the same issue working on jetson nano. Point clouds are not being formed. Tried running the code as root too

[2020-03-02 07:17] aydal commented on #1037
@matthewp14 How did you solve this?

[2020-03-02 09:36] MartyG-RealSense commented on #1096
I have seen similar cases about difficulty in publishing the T265's IMU data to a topic directly.  Please read down through the comments from the point in the conversation linked to below.

https://github.com/IntelRealSense/realsense-ros/issues/749#issuecomment-488748528

The first comment in this sequence provides a link highlighting where to map the odometry topic to.

https://github.com/IntelRe

[2020-03-02 12:31] arjunsengupta98 commented on #1036
@aydal  did you find a solution? I am having the same issue.
Using D435 on Jetson Nano. I am able to view all color and depth images on rviz but am unable to view depth cloud.

To elaborate,

I first run the command:

`roslaunch realsense2_camera rs_camera.launch filters:=pointcloud`

After setting up initial processes, the terminal returns the following warning:

Please report on github issue at

[2020-03-02 12:42] arjunsengupta98 commented on #1037
@RealSenseCustomerSupport I am facing this issue and would appreciate some help.
Using D435 on Jetson Nano. I am able to view all color and depth images on rviz but am unable to view depth cloud.

To elaborate,

I first run the command:

roslaunch realsense2_camera rs_camera.launch filters:=pointcloud

After setting up initial processes, the terminal returns the following warning:

[ WARN] [158292

[2020-03-02 13:31] aswinkumar2019 commented on #1036
Guys,
I atleast got point cloud along with these errors in old version without this pull request.
I tried using the latest branch, I am not getting even the point cloud.
Please fix it guys.
For others, guys please try older branches, I was able to get point cloud.
I think something is messed up in latest versions.
Regards,
Aswin Kumar

[2020-03-02 13:32] aswinkumar2019 commented on #1036
I didnt get these errors in older versions.
All these errors are only in newer branches

[2020-03-02 19:44] q8wwe commented on #1094
I'm still looking for a stimulation I searched around but still can't make it work with gazebo .
by the search i get the sense it possible but still i don't know how!!

[2020-03-02 20:42] swinterbotix opened #1098 "rs_rgbd.launch launch file argument updates"
Hi,

I'm currently running the rgbd.launch file using a RealSense D435 camera. I noticed that the launch file does not include arguments 'enable_pose', 'enable_fisheye1', or 'enable_fisheye2' that can be set to false. As a result, I get the warning below...
![image](https://user-images.githubusercontent.com/52669772/75715762-905a3400-5c93-11ea-8939-5c21c46dc15d.png)

The RealSense node still runs

[2020-03-02 21:19] sayali-purdue opened #1099 "Confused about the orientation of frames"
As per ROS convention, optical frame id should have (X- right, Y- down, Z- forward). Therefore, as per my understanding, in the code, the static transform from _frame_id[STREAM] to _optical_frame_id[STREAM] uses quaternion_optical which changes the axis orientation from (X- forward, Y- left, Z- up) to (X- right, Y- down, Z- forward). This means that _frame_id[STREAM] should have the orientation (X

[2020-03-02 22:57] MartyG-RealSense commented on #1094
Recently there was an article on the RealSense blog about building your first RealSense robot, called the ERWHI Hedgehog.

https://www.intelrealsense.com/hedgehog-robot-by-erwhi/

The main website for the ERWHI Hedgehog robot project says that it can be simulated in Gazebo Simulator.

https://gbr1.github.io/erwhi_hedgehog.html

If you investigate the details of the ERWHI Hedgehog project's constru

[2020-03-03 09:59] DrDiegoPaez opened #1100 "Error in catkin_make on a Nvidia Jetson AGX: error: ‘wheel_odometer’ in namespace ‘rs2’ does not name a type rs2::wheel_odometer _wo_snr"
This error came very recently after some updates to the Nvidia Jetson AGX:
catkin_make -DCATKIN_ENABLE_TESTING=False -DCMAKE_BUILD_TYPE=Release

Nvidia Jetson AGX, with ROS Melodic
librealsense v2.17.1

Error LOG:

[ 95%] Built target fake_dynamic_reconfigure_server
In file included from /ssd_nvidia/autonomy_ws/src/realsense-ros/realsense2_camera/src/realsense_node_factory.cpp:6:0:
/ssd_nvidia/aut

[2020-03-03 13:39] q8wwe commented on #1094
Thank you , i will check and come back

[2020-03-03 17:27] jorgemiar opened #1101 "Error catkin_make when running catkin_make -DCATKIN_ENABLE_TESTING=False -DCMAKE_BUILD_TYPE=Release"
Current Setup:
Up Squared Board running Ubuntu 16.04.6 with Kernel 4.15. Librealsense version  2.33.1.

I'm trying to install realsense-ros into an existing catkin_ws but get the error below when running `catkin_make -DCATKIN_ENABLE_TESTING=False -DCMAKE_BUILD_TYPE=Release`:

[code]

[2020-03-04 00:19] matthewp14 commented on #1037
@aydal @arjunsengupta1998 I was never able to solve the warnings that I posted above. I too changed the parameters to reduce the frame rate but the errors remained persistent. For what I was working on I did not need to use the point cloud so I just continued on without it. Sorry that I cannot be any help to you with this.

[2020-03-04 00:47] q8wwe commented on #977
How did you solve the problem

[2020-03-04 01:20] gachiemchiep commented on #977
@q8wwe
we didn't solve the problem so we stop using the urdf format and convert everything into xacro format.

[2020-03-04 01:33] q8wwe commented on #977
Did you ever simulate realsense cam with gazebo ?
Can you share your files ?

[2020-03-04 02:00] gachiemchiep commented on #977
@q8wwe
No we use rviz for visualizing.
Sorry, we couldn't share the file

[2020-03-04 05:31] yuanzhedong commented on #812
I'm getting the same error on ubuntu 18.04, so the package is not available yet, right?

[2020-03-04 05:59] arjunsengupta98 commented on #1037
@matthewp14 thanks for the response.
I actually was able to get the pointcloud. I simply set the initial_reset parameter to true, and got the result.
However, the warnings still persist and there are occasional irregular lags in live streaming. Also, despite the frame rate being set to 15fps, the visualized output is much slower (probably around 10 fps).

@RealSenseCustomerSupport is there any way

[2020-03-04 06:10] arjunsengupta98 commented on #1036
Now I am getting the point cloud, but the errors still persist. I simply set the initial_reset parameter to true on launch. However, these errors are still there and the frame rate is extremely irregular.

[2020-03-04 06:43] hwb0314 commented on #464
I have the exact same problem. Do you have the solution?

[2020-03-04 09:11] q8wwe commented on #977
So you aren't using gazebo just rviz.which mean you ate working on real robot not simulator

[2020-03-04 09:40] MartyG-RealSense opened #1102 "Announcement: Highlighting a RealSense autonomous strawberry farming project"
Hi everyone,

In keeping with the RealSense social networks' recent promotion of the use of RealSense for autonomous farming, I'd like to highlight a new project demonstrated by a RealSense user for strawberry farming with AI, a robot arm and a RealSense D415 camera.

**Edit:**  I meant to post this on the main Librealsense forum, though the robot arm use gives it relevance for ROS too!

https://w

[2020-03-04 09:44] #1102 closed, assigned to nobody

[2020-03-04 10:08] Serafadam commented on #937
No, thanks, I am good for now :slightly_smiling_face:

[2020-03-04 10:56] RealSenseCustomerSupport commented on #1020
----------------------------------------------

@AstroUKN Any update from your side? Thanks!

[2020-03-04 10:56] RealSenseCustomerSupport commented on #1009
----------------------------------------------

@MarcoDotIO Could you please update? Thanks!

[2020-03-04 15:59] Dominik-FKIE opened #1103 "tf dynamic thread never joins in desctructor"
only checking ros::ok() in its main loop not enough, one needs another bool signaling end-of-lifetime. Something like

[code]

and

[code]

[2020-03-04 23:11] waspinator opened #1104 "running with docker"
I'm trying to run ros within docker containers, but I'm having issue passing through the realsense hardware paths because they contain colons. Can you reconfigure the device names to not contain colons?

[code]

[2020-03-04 23:14] gachiemchiep commented on #977
@q8wwe
That's true. we're working on the UR5

[2020-03-05 01:07] waspinator commented on #1104
adding the `privileged: true` option and sharing all of `/dev` seems to be working...

[code]

[2020-03-05 10:06] courtneyconroy opened #1105 "Setting up on Raspberry Pi"
Hi,

I am having some difficulty setting up ROS on the raspberry pi when following the instructions. It says to install ROS kinetic first and then clone in realsense-ros into the source folder. Which package do I need to install? Is it desktop_full? Do I do the complete setup for ROS kinetic and then add it into source?  I want to use this for occupancy mapping with the T265 and D435.

Thanks.

[2020-03-05 11:26] mhaboali commented on #1096
Thank you so much for the information @MartyG-RealSense

I'm reading the details soon.

[2020-03-05 12:00] doronhi commented on #1103
While I see the logic in your claim, could you suggest a test case demonstrate? to show that using ros::ok() is not enough?
How will we notice a difference once implemented and applied your suggestion?

[2020-03-05 12:37] christian-rauch commented on #386
The package has been released. This can be closed @doisyg @RealSenseCustomerSupport .

[2020-03-05 14:47] doronhi commented on #1036
#1097 by @facontidavide was just merged. Could you check if it helps with the irregular frame rate as it may be caused by lack of resources.

[2020-03-05 14:57] aswinkumar2019 commented on #1105
What is the problem you are facing?
Problem in installing realsense ros or, don't know the installation procedure?
If you have some problem in installing realsense ros package, give the problem you face while installing it.
Installation procedure:
First, you have to install ros(install ros melodic)
Then, install librealsense, I think you have to install from source for raspberry pi(I am not sure a

[2020-03-05 17:48] weili7 commented on #135
@rarrais do u mind to share the system configuration for your success build? Having similar problem right now. Thank

[2020-03-05 18:03] RealSenseCustomerSupport commented on #1090
----------------------------------------------

Hi @jakelloyd22

Is there any more questions or is the issue seen still after reviewing the information MartyG-RealSense provided?

**If we don’t hear from you in 7 days, this issue will be closed.**

[2020-03-05 18:23] RealSenseCustomerSupport commented on #897
----------------------------------------------

Hi @akouri-dd

We do not have a solution specifically for what you are looking for.

Is there anything else needed here?

**If we don’t hear from you in 7 days, this issue will be closed.**

[2020-03-05 18:40] RealSenseCustomerSupport commented on #386
----------------------------------------------

@christian-rauch,

Thank you for your feedback!

[2020-03-05 19:05] #386 closed, assigned to nobody

[2020-03-05 21:07] RealSenseCustomerSupport commented on #1057
----------------------------------------------

@ChrisMOxon, as mentioned by schmidtp1, if you're connected to USB2 only, only stream the pose data as bandwidth comes into play streaming images and pose, etc.

***If we don’t hear from you in 7 days, this issue will be closed.**

[2020-03-05 21:09] RealSenseCustomerSupport commented on #1055
----------------------------------------------

@sadransh, Let us know if you have any further questions on this topic.

***If we don’t hear from you in 7 days, this issue will be closed.**

[2020-03-06 01:15] callmeSir007 opened #1106 "realsensel D435/D453i can not work"
OS: UBUNTU 18.04 lts

it work well，when i use the version ：
SDK: 2.26.0
realsense-ros： 2.2.7
dmks ： 1.3.6
fw：5.11.6.250

now，upgrade the version to：
SDK: 2.31.0
realsense-ros： 2.2.12
dmks ： 1.3.13
fw：5.11.15.0/  5.12.1.0 / 5.12.1.100

it can not work，

v:/opt/ros/melodic$ roslaunch realsense2_camera rs_camera.launch
... logging to /home/igv/.ros/log/515de9d2-5f44-11ea-9f16-54b2038b5c5e/roslaunch-i

[2020-03-06 03:41] jion8199 opened #1107 "Error extracting usb port from device with physical ID: 2-1-3"
My system is Ubuntu18.04
Follow the instructions to complete the installation
![2020-03-06 11-31-36](https://user-images.githubusercontent.com/49380905/76047936-3b723280-5f9f-11ea-979f-7ae5fa37211e.png)
![2020-03-06 11-30-50](https://user-images.githubusercontent.com/49380905/76047959-4dec6c00-5f9f-11ea-8cb0-a118874d7362.png)
![2020-03-06 11-31-56](https://user-images.githubusercontent.com/4938090

[2020-03-06 03:49] jion8199 commented on #1107
Added that my system is Jetson TX2, Ubuntu 18.4, ROS melodic,

[2020-03-06 07:30] RealSenseCustomerSupport commented on #808
----------------------------------------------

@furushchev PR#1032 is not merged yet. Do you want to keep this ticket open or can we close this and monitor PR status? Looking forward to your update. Thanks!

[2020-03-06 10:11] rarrais commented on #135
@weili7 I apologize, but I do not have this system nor its configuration anymore. The experiment was done back in 2016. Nevertheless, I remember managing to have it working following the suggestion on this thread.

[2020-03-06 10:29] Triocrossing commented on #315
Thanks for the idea of @CameronDevine, I modified it a little bit and now it works like a charm for me.

`rosbag record -a -O $1.bag -x "(.*)/theora | (.*)/theora/(.*) | (.*)/compressedDepth"`

"|" is used for excluding multiple topic/subtopics.

[2020-03-06 11:44] schizzz8 opened #1108 "Is it possible to change the pointcloud filter frequency rate?"
Hi,
My question is very simple. Looking at the `rs_camera.launch` present in the package it seems that there is no parameter to set the `pointcloud` filter publishing frequency. What I'd like to do is to keep the depth publishing at 30fps while reducing the publishing rate of the point cloud (also at 3-4Hz would be fine). Is it possible?

[2020-03-06 11:53] jorgemiar commented on #1101
I removed the folders I wasn't using inside the joystick_drivers (like wiimote and ps3 joy) package and it seems to have installed successfully now.

[2020-03-06 11:53] #1101 closed, assigned to nobody

[2020-03-06 13:28] araujokth opened #1109 "Details on enable_sync operation"
Hi,

I was interested in getting for each IR frame the closest color frame, optimally if they would actually be triggered simultaneously. I noticed that there exists `enable_sync` which "gathers closest frames of different sensors, infra red, color and depth, to be sent with the same timetag. This happens automatically when such filters as pointcloud are enabled."

However, I was wondering if some

[2020-03-06 13:36] Dominik-FKIE commented on #1103
First of all, you have to set the parameter "tf_publish_rate" to something else than 0, because otherwise the thread will not be spawned. E.g. this is necessary in the multi-camera single nodelet_manager case, since then tf_static is buggy.

Then it is easily reproducible that your nodelet will not terminate properly but hang at the join() call until the nodelet_manager is also terminated (-> ros:

[2020-03-06 14:36] jorgemiar commented on #1037
@arjunsengupta1998 I have similar warnings when trying to run` roslaunch realsense2_camera rs_camera.launch filters:=pointcloud`on an Up Squared board with Ubuntu 16.04, Librealsense 2.33.1, ROS Kinetic and the D435i. Realsense-viewer works fine. Any ideas on how to fix it yet?

[2020-03-06 14:41] jorgemiar commented on #1106
I get the same warning messages when trying to run on an Up Squared board with Ubuntu 16.04, Librealsense 2.33.1, ROS Kinetic, ros-realsense 2.2.12 and the D435i

[2020-03-06 20:17] RealSenseCustomerSupport commented on #1083
----------------------------------------------

Hi @wikpunGitHub,

Can you please elaborate regarding the following:
what is the context of the question?
what are you trying to achieve (object removal, object recognition, object measurements, etc.) and what steps are you doing in order to achieve it?
what is your indication of "the XYZ position is not accurate"?
what is your system configuration(b

[2020-03-06 20:52] tispratik commented on #485
This issue is still happening on 5.12.02.100 as well. The camera color/depth frame timestamps are way off than the the system time from host os. The difference is sometimes positive, sometimes negative. The frame timestamps from the camera are all over the place.

[2020-03-06 21:40] mhaboali commented on #1096
@MartyG-RealSense

I've just got a chance to look deeper into the comments and tried out most of them, but unfortunately, I didn't get the IMU's readings on the /t265/imu

Could you give an example or explain how I can get the IMU readings directly?

Your support is highly appreciated!

[2020-03-06 22:11] MartyG-RealSense commented on #1096
I did further research.  On the T265, orientation data only is called 3-DOF, whilst orientation and position is called 6-DOF.  A T265 expert on the RealSense team said though that he has never seen 3-DOF (orientation only) occur during testing.

https://github.com/IntelRealSense/realsense-ros/issues/1055#issuecomment-590461015

If that is the case, perhaps it would be more realistic to publish 6-D

[2020-03-07 16:52] jorgemiar commented on #1036
@arjunsengupta1998 @doronhi  I was having the same warnings on an Up Squared Board(error extracting usb... and control_transfer error) I managed to fix these by applying PR #1088 (that didn't fix it immediately) and then running `sudo apt purge ros-kinetic-librealsense2` as suggested in #1051 . After this, I ran catkin_make and no longer get issues when setting up the ros node.

I can see the poin

[2020-03-07 22:08] alanypf commented on #849
Hi,
Same problem here. I have a raspberry pi 4 and a 3B+. I tested them with the same SD card running with kernel 4.19.50-v7 and the latest development branch. The weird drifting only happened on 3B+, not raspberry pi 4. Not sure whether it helps to locate the problem or not.
Thanks.

[2020-03-07 22:54] q8wwe opened #1110 "fatal: You need to specify a tag name."
Jeston TX2 J3.3.2
Kernel : 4.4.159-tegra

while following the steps on installing librealsense ,my kernel didn't build after comand :  (./scripts/patch-realsense-ubuntu-lts.sh )

`Remove all RealSense cameras attached. Hit any key when ready

Reading package lists... Done
Building dependency tree
Reading state information... Done
bc is already the newest version (1.06.95-9build1).
build-essential

[2020-03-08 00:01] q8wwe commented on #589
i have same problem how to solve it ???

[2020-03-08 00:39] wikpunGitHub commented on #1083
Hi, I found out my issue is due to the fact 2 color images may come before the PointCloud. So I occasionally detect the fast moving image in the second color image while I am reading its coordinates in the first PointCloud. Thanks for the support!

[2020-03-08 00:39] #1083 closed, assigned to nobody

[2020-03-08 00:46] stino78 commented on #706
Dear Intel Support,
the wonderful code written by IVOMARVAN is not working anymore with the new release of librealsense 2.33.1.1370.

When I try to run it (Ubuntu 18.04), I have the following runtime error:

_RuntimeError                              Traceback (most recent call last)
<ipython-input-8-6bbf1f461706> in <module>
    182 if __name__ == "__main__":
    183     number_of_experiments = 5

[2020-03-08 04:02] yanjundream commented on #849
After lots of testing, we found one key problem is related to USB3. The USB port is not able to transfer both images and pose correctly through realsense-ros with our setup (TX1 and Elroy Carrier board). We tried with  /usr/bin/rs-pose-and-image sample and found the frequency of images get stuck easily. If we disable the fisheye images in the rs_t265.launch file, then the pose topic becomes very s

[2020-03-08 04:05] yanjundream commented on #849
I checked the 3B+ has only USB 2.0 ports, so it won't get the correct transmission of both images and pose. If you disable the images in the launch file, it probably can work well.

[2020-03-08 04:44] doronhi commented on #812
The package is available for ubuntu 18.04. type:
[code]

[2020-03-08 05:16] doronhi commented on #1098
Hi,
realsense2_camera has many optional parameters, described in /launch/includes/nodelet.launch.xml.
The launch files, including rgbd.launch, were added as examples and easy starting points and weren't meant to include all the available options. One can always modify the launch files or create new ones.

The rgbd.launch file you mention really is not meant to be used with T265 so by default these

[2020-03-08 08:20] VernonPerry opened #1111 "3D scanning examples of T265 + D435i combo?"
I am working on a 3D scanning project and ordered a T265 and T435i to use with the calibrated 3D mount. But I only found a single example related to ROS robot navigation; are there any 3D scanning packages that support this dual tracking + depth camera array configuration, to as the article says increase the accuracy of 3D scanning applications?

Thanks in advance

[2020-03-08 10:47] MartyG-RealSense commented on #1111
I do not know of any pre-made commercial or open-source software packages that have the built-in capability to use the T265 and D435i together.

It sounds as though you may have already seen Intel's tutorial for using tracking and depth together with a mount.

https://github.com/IntelRealSense/librealsense/tree/master/examples/tracking-and-depth

Another user asked a couple of months ago on the In

[2020-03-08 11:39] VernonPerry commented on #1111
Ooh good find, I hadn't found that tutorial yet, just the first writeup that had a couple of different use cases and the 3D STLs for the calibrated mounting bracket. Thank you.

So it sounds like all I need to do is then is integrate this tracking and depth process with both cameras as our 3D scanning process that results in PLY files that can then be edited and cleaned up with MeshLab etc?

[2020-03-08 11:51] MartyG-RealSense commented on #1111
Yes, once you have a .ply file then you can use it in a range of free 3D modelling programs, including:

- MeshLab
- Blender
- Pyntcloud (Python-based point cloud processing and mesh conversion)

The link below has a tutorial for importing a RealSense-created point cloud into MeshLab.   Scroll down to the section headed 'Loading the point cloud in MeshLab'.

https://www.andreasjakl.com/capturing-3

[2020-03-08 17:11] swinterbotix commented on #1098
Alright. Thanks for your response. Time permitting, I'll create a PR for this soon.

[2020-03-08 17:11] #1098 closed, assigned to nobody

[2020-03-08 21:39] q8wwe opened #1114 "Jeston TX2 libreasense sdk v2.33.1"
Jeston TX2 J3.3.2
Kernel : 4.4.159-tegra - ubuntu 16.04

I installed Librealsense SDK for jetson TX2 following the link : https://github.com/IntelRealSense/librealsense/blob/master/doc/installation_jetson.md

which installed Librealsense sdk V2.28.1 , when I start to install realsense ros by following step No.2 on the link : https://github.com/IntelRealSense/librealsense/blob/master/doc/installati

[2020-03-09 00:08] furushchev opened #1115 "Nodelet crashes with use of multiple realsense devices"
I tried to use multiple Realsense D435 devices connected to one computer using `realsense2_camera` nodelets, the first  but other nodelets than the first nodelet crash on initialization process and don't publish image data.

The log on launching nodelet for the 2-6 devices (I tried using 6 D435/D435i devices for which we supply enough power), I see the error:

[code]

[2020-03-09 00:12] furushchev commented on #1115
The commit
https://github.com/IntelRealSense/realsense-ros/commit/c4bb30ecdae9292535cd2a2e89e9fb298dbead83
will fix the issue.

[2020-03-09 00:12] #1115 closed, assigned to nobody

[2020-03-09 01:00] RealSenseCustomerSupport commented on #937
----------------------------------------------

@Brudasoe Glad to hear that. Close this accordingly. Thanks!

[2020-03-09 01:04] #937 closed, assigned to nobody

[2020-03-09 01:19] alanypf commented on #849
@yanjundream You are right. It works well without image publishing. Thank you very much.

[2020-03-09 04:32] doronhi commented on #485
Hi, @tispratik
To make it possible to investigate, could you please elaborate? What system you run on, versions, command line, specific example, any suspicious messages etc.?
Thanks.

[2020-03-09 04:38] doronhi commented on #1106
@callmeSir007 , Thanks for the log file. I can see warning that are known and being investigated. Besides the uncomfortable warning messages, is there any topic that doesn't work or other behavior that prevent you from working?
@jorgemia ?
Thanks

[2020-03-09 05:56] doronhi commented on #1114
Apologizes for the lack of references to Jetson in the ROS installation guide. I'll try to attend to it.
For your question, did you `apt-get update`? The 2.33.1 version is not yet published as debian for Jetson but you should get 2.32.1 which should suffice for building realsense2_camera version 2.2.13.

[2020-03-09 08:17] doronhi commented on #1109
When `enable_sync` is on, the frames are grouped together according to their capture time which, originated from the same device, is synchronized.
The timestamp given to the group by realsense2_camera is the ROS time at the publishing moment.

When enable_sync==false, the timestamps indeed corresponds to the capturing time of each image.

[2020-03-09 09:23] jorgemiar commented on #1106
@callmeSir007 @doronhi I managed to fix these by applying PR #1088 (that didn't fix it immediately) and then running sudo apt purge ros-kinetic-librealsense2 as suggested in #1051 . After this, I ran catkin_make and no longer get issues when setting up the ros node.

[2020-03-09 09:29] callmeSir007 commented on #1106
@jorgemia @doronhi

thank you for your response

I use the patched kernel modules instead of libuvc and now i can not see the warning message。

reference：
https://github.com/IntelRealSense/realsense-ros/issues/1073
https://github.com/IntelRealSense/librealsense/issues/5212

-------

Now I have another problem

i keep the camera running and display pointcloud data through rviz

I always get an erro

[2020-03-09 09:59] doronhi commented on #1108
The simple answer is no. There is no parameter to set the pointcloud publishing rate.
There may be a workaround. The pointcloud filter publishes when both depth and it's texture are available. If you set color_fps:=6 you could still have the depth at 30Hz and the pointcloud will be published at 6Hz only.

[2020-03-09 10:08] schizzz8 commented on #1108
Thanks for the reply :)

[2020-03-09 10:08] #1108 closed, assigned to nobody

[2020-03-09 12:53] q8wwe commented on #1114
Thank you fro the prompt reply. I surely did sudo ap-get update and upgrade .
I tried different procedure to install librealsesne and Ros wrapper  but non worked.As you can see I tried : https://github.com/IntelRealSense/librealsense/blob/master/doc/installation_jetson.md
and also I tried manual installation https://github.com/IntelRealSense/librealsense/blob/master/doc/installation.md
but i got e

[2020-03-09 13:16] doronhi commented on #1110
You cannot install kernel patches on Jetson. In the Jetson installation guide:  https://github.com/IntelRealSense/librealsense/blob/master/doc/installation_jetson.md, it says to install librealsense2-utils and librealsense2-dev but not librealsense2-dkms. For the same reason, the script will not work there.
If you build from sources and want to have access to all the HID information you should bui

[2020-03-09 13:19] doronhi commented on #1114
Regarding #1110, see my reply there. It involves the kernel patches but it's a different issue from building librealsense2. When you `apt-get install librealsense2-dev`, what version do you get?

[2020-03-09 13:23] q8wwe commented on #1114
version 2.28.1 and for this I couldn't  continue Ros warpper installation as it ask for newer version .

[2020-03-09 13:28] q8wwe commented on #1110
By "can't install kernel patches on jetson " does this include manual installation ?

if i change "FORCE_RSUSB_BACKEND = true." will the installation work for me , through manual installation ?

and if so where i can find (FORCE_RSUSB_BACKEND = true.) .

[2020-03-09 13:35] doronhi commented on #1110
The NVidia's linux is built as one unit and so doesn't allow patches.
Manual installation should work for you whether you specify this flag or not. rsusb backend gives you HID support without the kernel patches so if you don't use any IMU you may not need it at all.
The flag is located in CMake/lrs-options.cmake. You specify it, just like any other build flag, while running cmake command. For exam

[2020-03-09 13:40] q8wwe commented on #1110
My friend can you tell me the steps I need to follow for making this work , I just want to install libreasense with a version stable enough to install ROs_wrapper package .

For days I was digging in this issue and there is a lot of complexity , between building the Kerenl for the UVC  and then you do it through manual installation but it didn't work and the process take a lot of time .

[2020-03-09 13:58] doronhi commented on #1110
I am sorry if I made it unclear and for the trouble you've been through.
I refer to and copy from the guide you know: https://github.com/IntelRealSense/librealsense/blob/master/doc/installation.md

Make Ubuntu up to date (I believe you already did):
`sudo apt-get update && sudo apt-get upgrade && sudo apt-get dist-upgrade`

`mkdir projects && cd projects` (or wherever you want)

Clone librealsense

[2020-03-09 14:10] q8wwe commented on #1110
I went wrong on this stage :
./scripts/patch-realsense-ubuntu-lts.sh
it gave :-  fatal: You need to specify a tag name.
but you didn't mention this step so is it okay to skip it ?

and I forget to mention that in the manual procedure whem it say check the new UVCvideo driver by the command (sudo dmesg | tail -n 50) it show nothing.

so I think the line (./scripts/patch-realsense-ubuntu-lts.sh) is

[2020-03-09 15:05] antoineTK commented on #970
Hi,

I am having the same issue "No RealSense devices were found!" running ros kinetic. Camera is updated to latest 1.5.1 firmware. Anything I can do?

[2020-03-09 15:13] MartyG-RealSense commented on #970
@antoineTK   If you are using the FRAMOS D435e, hardware tech support for it is the responsibility of FRAMOS as it is not an Intel product.  This is also true for other products that incorporate RealSense technology but are not made by Intel.

FRAMOS tech support can be found here:

https://www.framos.com/en/solutions/technical-support/

[2020-03-09 16:04] q8wwe commented on #1110
I followed the instruction you listed up and after I run :Realsesne_viewer

I got warning :

09/03 16:11:38,684 WARNING [547748827600] (uvc-device.cpp:664) interrupt event received: 1, 3, 0, 7, 0, 0,
 09/03 16:11:38,688 WARNING [547748827600] (uvc-device.cpp:664) interrupt event received: 1, 3, 0, 7, 0, 0,
 09/03 16:11:44,145 WARNING [547725939152] (messenger-libusb.cpp:42) control_transfer return

[2020-03-09 16:38] droter opened #1117 "T265 No RealSense devices were found! after restart"
Hi,

I am running a t265 on a Jetson Nano.  When I reboot the computer the node will not start.

[ INFO] [1583771648.864206033]: RealSense ROS v2.2.12
[ INFO] [1583771648.864318275]: Running with LibRealSense v2.31.0
[ WARN] [1583771649.406488769]: **No RealSense devices were found!**

$ lsusb
Bus 002 Device 002: ID 0bda:0411 Realtek Semiconductor Corp.
Bus 002 Device 001: ID 1d6b:0003 Linux Found

[2020-03-09 18:29] droter opened #1118 "Install Instructions: git checkout 'git tag ... did not match any file(s) known to git."
In the install process it lists:
git checkout 'git tag | sort -V | grep -P "^\d+\.\d+\.\d+" | tail -1'

I get the following error message:
:~/catkin_ws/src/realsense-ros$ git checkout 'git tag | sort -V | grep -P "^\d+\.\d+\.\d+" | tail -1'
error: pathspec 'git tag | sort -V | grep -P "^\d+\.\d+\.\d+" | tail -1' did not match any file(s) known to git.

[2020-03-10 04:57] RealSenseCustomerSupport commented on #1089
----------------------------------------------

@reedjacobp Did you get the issue when you connect USB2 or USB3 port on your Raspberry Pi 4? If it's USB2, I would suggest you try to disable some streaming in the launch file(e.g. disable IR1 and IR2) to see if you still get the issue.

https://github.com/IntelRealSense/realsense-ros/blob/development/realsense2_camera/launch/rs_camera.launch#L21~#L2

[2020-03-10 05:59] doronhi commented on #1110
The warning message "interrupt event received" can be ignored and indeed will be removed in future versions.
The warning message "control_transfer returned error" reflects communication error with the device that is resolved by repeating the attempt. These messages are still under investigation but as long as they appear only now and then, say at the beginning of the run, they can safely be ignore

[2020-03-10 08:10] suk8267 opened #1119 "error: 'color_sensor' is not a member of ' rs2'"
my OS : Ubuntu 16.04 LTS

after all this instruction,
i tried catkin_make -DCATKIN_ENABLE_TESTING=False -DCMAKE_BUILD_TYPE=Release

but it got an error like this

/home/hongseok/catkin_ws/src/realsense-ros/realsense2_camera/src/base_realsense_node.cpp:704:32: error: ‘color_sensor’ is not a member of ‘rs2’
             else if (sensor.is<rs2::color_sensor>())
                                ^
/home

[2020-03-10 08:40] MartyG-RealSense commented on #1117
I have referred your case to a specialist T265 support engineer.  Thanks!

[2020-03-10 13:05] doronhi commented on #1089
The warning message "interrupt event received" can be ignored and indeed will be removed in future versions.
The warning message "control_transfer returned error" reflects communication error with the device that is resolved by repeating the attempt. These messages are still under investigation but as long as they appear only now and then, say at the beginning of the run, they can safely be ignore

[2020-03-10 13:09] doronhi commented on #1119
It seems from the error messages you get that you have an older version of librealsense2 installed.
You need at least librealsense2 version v2.32.1.

[2020-03-10 13:10] q8wwe commented on #1110
nvidia@tegra-ubuntu:~/catkin_ws$ catkin_make clean
Base path: /home/nvidia/catkin_ws
Source space: /home/nvidia/catkin_ws/src
Build space: /home/nvidia/catkin_ws/build
Devel space: /home/nvidia/catkin_ws/devel
Install space: /home/nvidia/catkin_ws/install
####
#### Running command: "cmake /home/nvidia/catkin_ws/src -DCATKIN_DEVEL_PREFIX=/home/nvidia/catkin_ws/devel -DCMAKE_INSTALL_PREFIX=/home/nvi

[2020-03-10 13:18] doronhi commented on #1118
You copied the upper comma wrong. It should be "`" and not "'".
That is:
[code]
and **NOT:**
[code]

[2020-03-10 13:27] doronhi commented on #1110
It says you still has librealsense2 versions 2.28.1 and also version 2.31.0.
Since you built from source, you now need to remove the debian packages:
try : `sudo apt purge librealsense2`
and perhaps `sudo apt purge ros-kinetic-librealsense2` as well.
Verify that all the debian packages were removed and try building again.

[2020-03-10 13:39] droter commented on #1118
Good catch.

Thank you.

[2020-03-10 13:39] #1118 closed, assigned to nobody

[2020-03-10 13:48] droter commented on #1119
I am getting the same build error.

These are the installed versions of librealsense2
librealsense2-dev is already the newest version (2.32.1-5ubuntu5~1.gbp83f952).
librealsense2-utils is already the newest version (2.32.1-5ubuntu5~1.gbp83f952).

[2020-03-10 14:26] q8wwe commented on #1110
unbelievable it's so hard and has a lot of errors, you solve one problem just to jump in another on.
up to now I flashed my Jeston TX2 over 15 times trying different approaches but non-working as expected.
I tried  different versions of L4t, and every time I try to install libreasense through: sudo apt-get install librealsense2-utils , I get an old version 2.28.1 and  this seem not gonna be solved

[2020-03-10 14:34] q8wwe commented on #1110
apt list --installed | grep librealsense2 :-

dia@tegra-ubuntu:~$ apt list --installed | grep librealsense2

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

librealsense2-udev-rules/xenial,now 2.28.1-5ubuntu5~1.gbpb2a8ce arm64 [installed,auto-removable]

-------------------------------------------------------------------------
and it didn't work asking for V2.32.1

[2020-03-10 14:45] q8wwe commented on #1110
even if I want to downgrade Ros_Wrapper there is no single release supporting V2.28.1, whatever package I'm using I got compile error "You have this version and you need that version ".
https://github.com/IntelRealSense/realsense-ros/releases
Actually I need a stable version with less errors , here I'm trying my best but non of the releases are working .

[2020-03-10 21:03] RealSenseCustomerSupport commented on #904
----------------------------------------------

Hi @doisyg, Do you need further help on this?
If we don't hear from you in 7 days, we will close it.

[2020-03-10 21:26] doronhi commented on #1110
@q8wwe , I am so sorry for the frustration and difficulties you are going through. You are right that no package should be so hard to install. It is true that on Jetson machine it sometimes is more tricky but your case seems quite the extreme and I am sorry about it.
I don't know how come you get older debian versions and as you said, whatever the reason is, you need a solution. So we keep to buil

[2020-03-10 23:08] GregCannon63 commented on #1011
I have the same issue. I've tested on multiple machines to rule out USB hardware specific issues.
Running **Ubuntu 18.04 5.3.0-40-generic #32~18.04.1-Ubuntu SMP x86_64 GNU/Linux**

- **realsense-viewer** works fine
- **rs-ar-basic** works fine (testing T256)
-**rs-capture** works fine (testing D435i)
- **rs-multicam** results in
[code]
- **rs-tracking-and-depth**  results in
`RealSense error calli

[2020-03-11 02:04] RealSenseCustomerSupport commented on #1020
----------------------------------------------

@AstroUKN Did you get it through? Looking forward to your update. Thanks!

[2020-03-11 02:17] sadransh commented on #1089
@doronhi as far as to test with these, it seems that this probably causes the point cloud ( or other depth/infrared topics) does not show up with "rostopic list". I did not experience the problem with similar versions of librealsense and realsense-ros on PC. I think the source of problem is related to libuvc builds on embedded devices(in my case jetson tx2)

[2020-03-11 02:58] tispratik commented on #485
Hello @doronhi, we installed realsense using sources and enabled the meta data flag. Prior to installing using sources and metadata flag, we the camera was giving random timestamps. After the command line install with metadata flag and kernel patches for Ubuntu 16.04, we started seeing less differences in the timestamps. But we consistently see anywhere from 30 to 80 milliseconds of difference bet

[2020-03-11 04:04] RealSenseCustomerSupport commented on #1030
----------------------------------------------

@ashirsat The latest ROS wrapper version supports ROS Melodic on Ubuntu 18.04 now. Please have a try and look forward to your update. Thanks!

[2020-03-11 04:36] suk8267 commented on #1119
i checked version of librealsense2 is that
apt list librealsense2
Listing... Done
librealsense2/xenial,now 2.33.1-0~realsense0.2043 amd64 [installed]
N: There are 85 additional versions. Please use the '-a' switch to see them

it seems v2.33.1-0

[2020-03-11 06:09] dschnabel opened #1120 "Ghost walls - D435 depth image out of sync with T265 odom?"
I'm trying to map out a room using my wheeled robot and the two RS cameras D435 and T265. For the mapping itself I'm using rtabmap. What I notice is that the depth image is lagging behind the odometry data and as a result I'm getting "ghost walls" that don't really exist in my room.

Here's how it looks like:
![out-of-sync](https://user-images.githubusercontent.com/5597063/76385965-5c7caf80-6320-1

[2020-03-11 06:46] abdellaui commented on #1011
im wondering that ros is running on ubuntu 16.04 upward. the first sentence of the [installtion-guide](http://wiki.ros.org/kinetic/Installation/Ubuntu#Installation) is, that ros is only supported on `Wily (Ubuntu 15.10), Xenial (Ubuntu 16.04) and Jessie (Debian 8) for debian packages`. maybe you install ubuntu 16.04 first and run it like [here](https://github.com/abdellaui/ros_intel_realsense_t265

[2020-03-11 17:42] GregCannon63 commented on #1011
As a test, I modified rs_tracking_and_depth.cpp as follows:
I replaced
`    for (auto&& dev : ctx.query_devices())
    {
        rs2::pipeline pipe(ctx);
        rs2::config cfg;
        cfg.enable_device(dev.get_info(RS2_CAMERA_INFO_SERIAL_NUMBER));
        pipe.start(cfg);
        pipelines.emplace_back(pipe);
    }`
with

        rs2::pipeline pipeD435(ctx);
        rs2::config cfgD435;

[2020-03-11 18:28] GregCannon63 commented on #1011
@abdellaui, ROS 1 will run on Ubuntu Bionic (18.04) [http://wiki.ros.org/melodic/Installation/Ubuntu](http://wiki.ros.org/melodic/Installation/Ubuntu). However, I'm running ROS2.

That being said, this is a librealsense issue, not a ROS or ROS2 issue.
The code I've posted above for testing uses the Realsense command line examples to test.

[2020-03-11 20:32] doronhi commented on #1119
The functions that the build process can't find, i.e. sensor.is<rs2::color_sensor>() were added to librealsense starting from version v2.32.1 so they exist in v2.33.1-0.
Could it be that you have more then just one version installed? An older version in addition to v2.33.1 that you found?
When you open a new terminal and run `realsense-viewer`, what version is written at the window's top?

[2020-03-12 00:06] gramss commented on #1011
@GregCannon63 did you have success running the T265 with ROS2 via cfgT265.enable_stream(RS2_STREAM_POSE, RS2_FORMAT_6DOF)? Is there any documentation running it with ROS2 from you or somebody else?
Thank you in advise! :)

[2020-03-12 01:57] RealSenseCustomerSupport commented on #1034
----------------------------------------------

@KyleJosling Sorry for late response! Could you please specify what's the SDK version and ROS wrapper version when you get the issue? And what's your ubuntu and kernel version. Did you get chance to try the latest SDK and ROS wrapper to see if you still have the same issue? Thanks!

[2020-03-12 14:40] droter commented on #1119
looks like the latest release on bionic is 2.32.1

$ apt list librealsense2 -a
Listing... Done
librealsense2/bionic,now 2.32.1-5ubuntu5~1.gbp83f952 arm64 [installed,automatic]
librealsense2/bionic 2.31.0-5ubuntu5~1.gbp95d195 arm64
librealsense2/bionic 2.30.0-5ubuntu5~1.gbp9f99fa arm64

[2020-03-12 14:42] droter commented on #1117
Looks like this is a known issue:
https://github.com/IntelRealSense/librealsense/issues/5913

[2020-03-12 14:42] #1117 closed, assigned to nobody

[2020-03-12 15:07] doronhi commented on #898
Sorry for the late reply.
Time difference of 5ms instead of 2.5ms suggests a frame drop.
I checked with my NUC and found 1 case at the beginning of a 2 minutes test.
I'll have to check the spec what is the allowed rate, if any at all, of frame drops in IMU.
How much was your computer overloaded at the time of the test?

[2020-03-12 15:38] araujokth commented on #898
No problem! It was not overloaded, the only thing running was the ros application to get the data from the realsense. I tried several times to run with unite_imu_method:=copy and there were never any frame drops and the period was always 2.5 ms. However, whenever I tried with unite_imu_method:=linear_interpolation there were always the sporadic drops as you see above.

[2020-03-12 15:39] araujokth commented on #1109
Sorry for the late reply and thanks a lot for the explanation!

[2020-03-12 15:39] #1109 closed, assigned to nobody

[2020-03-12 17:30] GregCannon63 commented on #1011
@mrlowalowa, yes, enabling by stream works with the T265. But enabling by serial number fails.
The ROS2 docs are [here](https://intel.github.io/robot_devkit_doc/pages/rs_slam.html)
I found a hint from another project [here](https://github.com/BertrandKevin/RealSense-Multi-Saving/blob/master/src/device_hub.cpp) the led to me to find that device_hub.cpp has a method called filter_by_vid(), where any

[2020-03-13 02:22] suk8267 commented on #1119
@doronhi i don't know about one version installed but i just install by apt-get install, so it may be no two version.

[2020-03-13 02:56] EmiyaEstelle opened #1121 "The sample rate of imu and camera"
Hi, I have a Intel realSense T265. I have compiled and installed the ROS package successfully.
I find that the sample rates of IMU and camera are only in a solid values (such as accel 62Hz, gyro 200Hz and fisheye 30Hz). Does the ROS codes support to change the  rate or is the device to support to do this?
I just want to do the calibration with the third tools and sometimes they need the data in a

[2020-03-13 08:15] suk8267 commented on #1119
@doronhi and i checked version of realsense-viewer, it seems v2.33.1

[2020-03-13 12:59] q8wwe commented on #1110
I rebuilt librealsense on jetson TX2 and installed Ros wrapper I got the below warnings/errors.

Note : I tested the same on normal PC (desktop dell optiplex i7) with No GPU , libreasense installed through debian and I didn't face the same warnings/errors I got on Jetson TX2.
However , I think libreasense should work better on Jetson TX2 with its dedicated navidia GPU m but unfortunately that wasn

[2020-03-13 16:27] crheckman commented on #770
Has there been any update to this? We could really use it for our application as well. Thank you!

[2020-03-13 17:28] ArvindSanjeev opened #1122 "Combining D435i with T265"
Hello, I am trying to combine the D435i with T265 to create a robust and accurate SLAM system. I saw it first on this talk from Intel: https://youtu.be/tcJHnHpwCXk?t=1054
Can anyone tell me how they combined the T265 with D435 using Rtabmap? Is this documented somewhere?
P.S: I found this: https://github.com/IntelRealSense/realsense-ros/wiki/SLAM-with-D435i but it doesn't tell you how to combine i

[2020-03-13 21:08] dschnabel commented on #1122
I'm no sure if this is how they did in the talk but to get you started you can take a look at my launch files that I linked in this issue which I opened a few days ago (#1120). Before this works you will need to install rtabmap to your system. Since I'm on a Raspberry PI I followed [these steps](https://github.com/introlab/rtabmap/wiki/Installation#raspberrypi). Also note that in my case I'm using

[2020-03-14 07:19] suk8267 commented on #1119
@doronhi
and this is cmake file

cmake_minimum_required(VERSION 2.8.3)
project(realsense2_camera)
add_compile_options(-std=c++11)

option(BUILD_WITH_OPENMP "Use OpenMP" OFF)
option(SET_USER_BREAK_AT_STARTUP "Set user wait point in startup (for debug)" OFF)

find_package(catkin REQUIRED COMPONENTS
    message_generation
    nav_msgs
    roscpp
    sensor_msgs
    std_msgs
    nodelet
    cv_bridge

[2020-03-14 13:13] mcamurri commented on #1064
I noticed the same problem. It can be easily reproduced by running the test xacro:
[code]
produces:
[code]

[2020-03-14 13:29] S-LR opened #1123 "Unable to locate package ros-melodic-realsense-camera"
Hello, everybody,
I am currently trying to install the ROS wrapper on an NVIDIA Jetson Nano (Ubuntu 18.04 and ROS Melodic) and get the following error message:
E: Unable to locate package ros-melodic-realsense-camera

Does anyone have any idea what could be causing this?
Many greetings and many thanks
Slr

[2020-03-14 17:57] mcamurri commented on #999
I'm sorry but I don't see the 4.2 mm offset anywhere written on the `_d435.urdf.xacro` from the latest version `2.2.13` of this package.[ I see a 0 offset instead](https://github.com/IntelRealSense/realsense-ros/blob/development/realsense2_description/urdf/_d435.urdf.xacro#L47).

In fact, when I run  `roslaunch realsense2_camera rs_d435_camera_with_model.launch` I see the `camera_link` frame is al

[2020-03-14 18:36] guiolpei commented on #1119
I had the same problem. Fixed it compiling _librealsense_ from source instead of installing it from the repository.

Ubuntu 16.04.6 LTS with ROS kinetic.

[2020-03-14 19:52] droter commented on #1119
Just finished installing librealsense from source and was able to build the ros package.

***
If you happen to be on a Jetson Nano using the installLibrealsense script from Jetson Hacks.  It doesn't re-download the latest git repository if it finds the directory.  You will need to manually delete the folder if you have already installed it.
https://github.com/JetsonHacksNano/installLibrealsense/is

[2020-03-15 00:27] mcamurri commented on #1064
I've made a PR with the fix: #1125

[2020-03-15 00:36] FPSychotic commented on #1122
Can your RPi4  with both cameras without external powered hub?
Do t265 disconect ramdonly, can you use them lon sesions without t265 crash?
My RPi4 cannot power both without external HUB and t265 disconnect ramdonly by USB physical address conflict.

[2020-03-15 00:54] mcamurri opened #1127 "No D435i model in realsense2_description"
I see there is no D435i model in the description, but only the D435.
Therefore, it is no possible to have the IMU frames when the driver is not running live.

I've made a PR to fix this: #1126

[2020-03-15 03:06] dschnabel commented on #1122
Yes, i don't need an external power hub. Both cameras run fine directly from the RPi4 and I haven't encountered any random crash yet. Maybe your power supply isn't powerful enough? I'm using this [voltage regulator](https://www.pololu.com/product/2865) which can deliver up to 6A. For the address conflict, see my [launch file](https://gist.github.com/dschnabel/7d61009f1dd2e1e54400a1443c849ab1#file-

[2020-03-15 13:11] ArvindSanjeev commented on #1122
Thanks for the responses, I am currently agnostic of where I run it, I am using a linux laptop now. @dschnabel will try rtabmap with your launch files. I am still curious about how the two cameras work with each other, do they actually correct each other to build an accurate map jointly? Or are they simply being visualised on rviz independently via rtabmap?

[2020-03-15 15:33] FPSychotic commented on #1122
I use your same setup with 4A+·3A and I use timed roslanuch too, which avoid the conflict with d435, but not with with any SSD I tried,Coral TPU and just allow connect my lidar in specific sequence and USB port. I ask my self if you have the new board's revision, maybe they fixed silently.
@dschnabel I would not recommend both cameras on RPi4 (and if is possible ARM) as the issues I got many peopl

[2020-03-15 21:52] dschnabel commented on #1122
@ArvindSanjeev

The cameras rather complement each other. The T265 provides the odometry and the D435 provides the image/depth data. Rtabmap combines all data to create a mapping, detect loop closure and estimate location.

@FPSychotic

It's working fine for me (except for the sync problem, but that's not related to power issues I think) because I'm not seeing any disconnects, crashes or restarts.

[2020-03-15 22:33] FPSychotic commented on #1122
Mine are  physical USB ID issues (included the disconnections) that I got workaround and make them work. Power issues just don't make it reliable as I can't connect other peripherals (again USB ID) as I couldn't get a workaroud. The only bad of the cameras is t265 you need disconnect it and connect to be recognized. But yeah RPi4 is just crazy, is the same reason do not work kinects for example. I

[2020-03-16 02:11] suk8267 commented on #1119
@guiolpei,@droter you means that i have to cone librealsense and just compile? and i don't know about where is the folder

[2020-03-16 06:33] suk8267 commented on #1119
@droter, @guiolpei i followed your comment, and i did it. thanks

[2020-03-16 06:33] #1119 closed, assigned to nobody

[2020-03-16 19:04] RealSenseCustomerSupport commented on #1107
----------------------------------------------

Hi @jion8199,

The issue was addressed in this PR: https://github.com/IntelRealSense/realsense-ros/pull/1088
Please let us know, if you need any further assistance with this matter.

Thank you!

[2020-03-16 22:16] RealSenseCustomerSupport commented on #1036
----------------------------------------------

Hi @jorgemia,

Would you please elaborate on what does it mean that PR https://github.com/IntelRealSense/realsense-ros/pull/1088 doesn't fix the "Error extracting usb port" issue immediately?

Thank you!

[2020-03-17 00:12] jorgemiar commented on #1036
@RealSenseCustomerSupport when I applied the changes in #1088 my device continued to give the error “error extracting USB port”

[2020-03-17 05:44] RealSenseCustomerSupport commented on #1105
----------------------------------------------

@courtneyconroy For ROS Kinetic installation, please refer to http://wiki.ros.org/kinetic/Installation/Ubuntu

[2020-03-17 06:05] RealSenseCustomerSupport commented on #1030
----------------------------------------------

@ashirsat Any update from your side? Thanks!

[2020-03-17 06:14] RealSenseCustomerSupport commented on #1020
----------------------------------------------

@AstroUKN Sorry that we didn't get feedback from you for weeks. Will close this at this point. Please create another new ticket if you still have questions or issues. Thanks!

[2020-03-17 06:20] RealSenseCustomerSupport commented on #1009
----------------------------------------------

@MarcoDotIO PR#5751 https://github.com/IntelRealSense/librealsense/pull/5751 merged in latest SDK v2.33.1 . Could you please have a try? Thanks!

[2020-03-17 06:28] RealSenseCustomerSupport commented on #808
----------------------------------------------

@furushchev What's your opinion? Could you please update? Thanks!

[2020-03-17 06:44] furushchev commented on #808
@RealSenseCustomerSupport Sorry for the late reply.
I confirmed that `librealsense2` library can now be installed by apt package `ros-melodic-librealsense2`, for instance in melodic.
However, the library installed via `apt-get` is too old and I cannot build this package with it.
To make matters worse (at least for me), it prevents to link librealsense2 built and installed from source since the lib

[2020-03-17 07:47] doronhi commented on #1123
Its "ros-melodic-realsense2-camera", not "ros-melodic-realsense-camera"

[2020-03-17 08:05] doronhi commented on #1110
First, you have an older installation, v2.31.0, of librealsense2. It doesn't seem to cause any harm but you better remove it: `sudo apt purge ros-kinetic-librealsense2`
The "interrupt event.." message is just a message and will be removed in the near future. The "control_transfer.." message, as long as it appears just a couple of times, is being investigated but not known to cause any issues.
The

[2020-03-17 08:13] doronhi commented on #1121
The sampling rates are fixed by the camera's capabilities. The device is not capable of producing different rates other then what you can see by typing `rs-enumerate-devices`. The ROS wrapper, realsense2_camera, does not provide such an option, nor does the underlying library librealsense2.
You may need to write your own node to do the interpolation for your needs.

[2020-03-17 08:21] EmiyaEstelle commented on #1121
@doronhi
Thanks for your anwser. I got that the sample rate is fixed.
By the way, do you know the official calibration results? I mean that maybe Intel provides it.

[2020-03-17 09:10] ArvindSanjeev commented on #1122
@dschnabel thanks, I was able to get your launch files up and running :)

[2020-03-17 09:10] #1122 closed, assigned to nobody

[2020-03-17 13:53] doisyg opened #1128 "Problematic <depend>librealsense2</depend> tag"
Hi,
The inclusion of the `<depend>librealsense2</depend>` tag in the package.xml is problematic as it triggers the installation of the `ros-melodic-librealsense2` package which is not updated (currently v 2.31) and this forbids the compilation of the realsense2_camera package on an automated system (CI for instance).

[2020-03-17 17:46] ashirsat commented on #1030
I will try it out soon and update you.

Regards,
Aniket Shirsat

On Mon, Mar 16, 2020 at 11:05 PM RealSense Customer Support <
notifications@github.com> wrote:

[2020-03-17 22:02] #818 closed, assigned to nobody

[2020-03-17 22:02] #897 closed, assigned to nobody

[2020-03-17 22:02] #933 closed, assigned to nobody

[2020-03-17 22:02] #1055 closed, assigned to nobody

[2020-03-17 22:02] #1057 closed, assigned to nobody

[2020-03-17 22:02] #1090 closed, assigned to nobody

[2020-03-18 02:01] armanhamzehlou opened #1129 ""/camera/imu" is not published by D435i."
Hello,

I am following some tutorials on ROS.org:
http://wiki.ros.org/rtabmap_ros/Tutorials/HandHeldMapping
http://wiki.ros.org/rtabmap_ros/Tutorials/RemoteMapping
Both of these tutorials point to a topic called "/camera/imu". However, under my published topics, I do not find it:

[code]

Please note that I have updated my Camera's firmware to the latest version since a week ago.
I am running it o

[2020-03-18 05:11] ashirsat commented on #1129
Hi,

The imu reading split in two topics and are available in
/camera/accel/sample and /camera/gyro/sample.

Regards,
Aniket Shirsat

On Tue, Mar 17, 2020 at 7:01 PM Arman Hamzehlou <notifications@github.com>
wrote:

[2020-03-18 05:20] doronhi commented on #1129
As @ashirsat said, the device produces 2 streams: accel and gyro.
If you need them united into the same topic you can use the option `unite_imu_method:=linear_interpolation` or `unite_imu_method:=copy`.
Search "unite_imu_method" for further explanation in the README.md file or [here](https://github.com/IntelRealSense/realsense-ros)

[2020-03-18 05:41] jediofgever opened #1130 "error: ‘color_sensor’ is not a member of ‘rs2’"
instructions that install latest librealsense on ubuntu 18.04 does not work with current develoment branch ;

[code]

[2020-03-18 07:00] MartyG-RealSense commented on #1130
Others experienced this error recently and found that the solution was to compile from source.

https://github.com/IntelRealSense/realsense-ros/issues/1119

[2020-03-18 07:03] armanhamzehlou commented on #1129
Thank you for your quick response, I followed your advice and read the documentation, I was able to get /camera/imu published using the following command on my server (robot):

`roslaunch realsense2_camera rs_camera.launch fisheye_fps:=15 depth_fps:=15 infra_fps:=15 color_fps:=15  align_depth:=true unite_imu_method:="linear_interpolation"`

I then checked the topics on my client:

![image](https:/

[2020-03-18 07:05] jediofgever commented on #1130
Ok I did build from source and fixed but , there should be a warning or some note to avoid users fell into this

[2020-03-18 07:10] MartyG-RealSense commented on #1130
I will tag @doronhi (Intel's developer of the RealSense ROS wrapper) to draw your request to his attention.  Thanks!

[2020-03-18 07:50] rakshith95 commented on #1090
Hello, I'm getting these warning/error messages as well when there is sharp movement to the T265. Not sure how the other thread addresses it

[2020-03-18 09:08] AlexReimann commented on #818
The camera reports actually different model than `plumb_bob` and this is actually available in this context.
See also:

https://github.com/IntelRealSense/librealsense/blob/1d7ef6ac04394d6183178f6e2dd9304d34bb44ff/include/librealsense2/h/rs_types.h#L44-L55

[2020-03-18 10:08] MartyG-RealSense commented on #1127
@mcamurri   Thanks so much for the pull contribution, which has passed checks!

[2020-03-18 13:02] amburkoff opened #1131 "Camera error on Nvidia Jetson AGX Xavier: control_transfer returned error, index Resource temporarily unavalable, number"
Camera error on Nvidia Jetson AGX Xavier
Computer: Jetson Xavier
kernel 4.9.140-tegra
Jetpack 4.2
L4T 32.1.0
librealsense 2.32.1
realsense-ros 2.2.13
Firemware: ros camera fw 05.12.02.100
Camera Realsense d435

When I start one camera, after a while without displaying any errors, the camera stops publishing messages.
In this case, a lot of errors are still displayed, but the camera is working.
(se

[2020-03-18 13:07] amburkoff opened #1132 "Unable to launch two cameras at the same time on Nvidia Jetson AGX Xavier"
Computer: Jetson Xavier
kernel 4.9.140-tegra
Jetpack 4.2
L4T 32.1.0
ROS Melodic
librealsense 2.32.1
realsense-ros 2.2.13
Firemware: ros camera fw 05.12.02.100
One camera Realsense d435 and one Realsense d435

When you try to start two cameras at the same time, Realsense ROS gives an error and starts only one camera. Sometimes, in rare cases, you still manage to launch two.
(see images realsense_mu

[2020-03-18 14:15] ghost opened #1133 "Supporting Real Sense ROS node on Windows"
Hello there!

I am from Microsoft and a PM on the Edge Robotics teams. We have ported the RealSense ROS node to work on Windows. We would like it for your team to maintain it going forward and probably release a binary package which would enable your Windows customers to easily consume the package.

Please reach out to me at rcheeran@microsoft.com and we would love to talk through this.

Thanks,
R

[2020-03-18 14:36] MartyG-RealSense commented on #1133
Hi @roycey - thanks so much!

I am on the support team of RealSense rather than the developer team, so I cannot speak for the ROS wrapper's developer @doronhi

However, the stated position of the main RealSense SDK developer team is that they are happy to accept submissions as a pull on the SDK's GitHub, and if it is is successfully integrated then they will try to maintain it from that point onwa

[2020-03-18 16:32] RealSenseCustomerSupport commented on #1018
----------------------------------------------

Please let us know if there is any further help needed in regard to the original topic. There's no  activity for 30+ days.
Thank you.

[2020-03-18 17:30] mcamurri commented on #1127
No problem, I'm happy to contribute.
Looking forward to see this and the other PR I've made merged.

[2020-03-18 18:31] RealSenseCustomerSupport commented on #1114
----------------------------------------------

Hi @q8wwe,

Can you please copy to this thread the compilation error you are talking about?

Thank you!

[2020-03-19 00:41] ashirsat commented on #1132
Could you try and connect both cameras to the usb3 ports only. I had faced
a similar issue when I connected realsense cameras to the usb2 port.

Maybe that will resolve the issue.

Regards,
Aniket Shirsat

On Wed, Mar 18, 2020 at 6:07 AM amburkoff <notifications@github.com> wrote:

[2020-03-19 01:42] #1130 closed, assigned to nobody

[2020-03-19 04:10] doronhi commented on #1132
It could be a problem with the "driver" - RSUSB. I see that it is used, as should be, on the Xavier.
To make the comparison to the NUC clearer, what is the origin of librealsense running on your NUC? Is it built from source or installed from a debian? If the former, what flags did you specify for the `cmake` command?

[2020-03-19 04:44] doronhi commented on #818
@AlexReimann , thanks for the tip. I'll look into it.

[2020-03-19 05:13] doronhi commented on #1130
@jediofgever , The issue of building the wrapper with unfitting version of librealsense2 should of course have a proper warning. I'll look into it.
I can also update that librealsense2 v2.33.1 and realsense2_camera version 2.2.13 are now available with ROS distribution for melodic. (`sudo apt-get install ros-melodic-realsense2-camera`. be sure to remove any manual installation you may have to avoi

[2020-03-19 05:36] dschnabel commented on #1120
Solved. Librealsense had to be rebuilt as `Release` (I had the `Debug` version installed). See https://github.com/IntelRealSense/librealsense/issues/6067#issuecomment-600997027

[2020-03-19 05:36] #1120 closed, assigned to nobody

[2020-03-19 05:51] doronhi commented on #1129
It seems from the `rostopic hz` command's output that frames are not being published on the following topics: `/camera/aligned_depth_to_color/image_raw`, `/camera/color/image_raw`. Can you confirm?
If so, that seems to be the issue. Are they still not being published using rs_camera.launch file without parameters? What is output? What machine and OS do you use?

[2020-03-19 06:00] doronhi commented on #1128
ros-melodic-librealsense2 is now updated to v2.33.1. It always lags behind the official librealsense2 release.
realsense2_camera depends on librealsense2. Removing this <depend> instruction will cause other issues.
I am open to new suggestions.

[2020-03-19 06:04] justin-chau opened #1134 "occupancy-mapping will not run properly"
**LibRealSense** v2.33.1
**D435i FW Version** 05.12.03.00
**T265 FW Version** 0.2.0.926

Running the occupancy-mapping demo following the readme results in the following error:
` 19/03 01:51:38,575 ERROR [140631456347904] (handle-libusb.h:95) failed to claim usb interface: 0, error: RS2_USB_STATUS_BUSY
 19/03 01:51:38,596 WARNING [140632491784064] (rs.cpp:283) null pointer passed for argument "dev

[2020-03-19 06:35] doronhi commented on #1121
Sorry, personally I am not aware of any calibration results.

[2020-03-19 06:39] doronhi commented on #898
That is interesting indeed. I'll look into it.

[2020-03-19 07:19] suk8267 opened #1135 "how do i get pointcloud from rviz"
i successed from follow, but i don't know about how to get pointcloud by a coordinate. is there any exmaple?

[2020-03-19 07:19] armanhamzehlou commented on #1129
You are right. They are not being published. As you see in the image in my previous reply, The topics you mentioned publish on a very irregular base. every 5-6 seconds.

As for vanilla rs_camera.launch I am attaching the logs of the Server and Client and rostopics command.

**### Server Log:**

<pre><font color="#8AE234"><b>arman@arman-Surface-Pro-6</b></font>:<font color="#729FCF"><b>~</b></font>

[2020-03-19 07:28] doronhi commented on #1129
I'd rather leave the rtabmap out of the loop for the moment.
I don't see any related warnings from the realsense2_camera node. Do you get the same results for "rostopic hz" if you run it and the entire ROS environment (ROS master) on the server alone? I wonder if this is a communication issue..

[2020-03-19 07:42] armanhamzehlou commented on #1129
Turns out, You are **absolutely correct**. It does seem like a communication issue. I am doubting my wifi dongle which I have dedicated to the VM.

rostopic hz gave me timely frames on the server not even a single entry missed.

Thank you so much for helping me address the two issues in this topic.

Update : After trying a wired connection everything works perfectly fine on the client. For those c

[2020-03-19 08:16] RealSenseCustomerSupport commented on #1056
----------------------------------------------

@BrooklynBoy21 The issue should be fixed by https://github.com/IntelRealSense/realsense-ros/pull/1088 which merged into latest release. Could you please have a try? Thanks!

[2020-03-19 08:41] suk8267 commented on #1135
when i launch rs_rgbd.launch and turn on the rviz, i can see pointcloud, so launch file must be publishing topic. but i don't know about the topic's form

[2020-03-19 08:54] doisyg commented on #1128
This is fine as long it is sync with `ros-melodic-realsense2-camera` and that it is usable (which was not the case for the 2.31 version due to usb issues).
Closing

[2020-03-19 08:54] #1128 closed, assigned to nobody

[2020-03-19 09:03] RealSenseCustomerSupport commented on #1089
----------------------------------------------

@reedjacobp Any other questions with the reply from doronhi? Looking forward to your update. Thanks!
@sadransh What's your issue details? Could you please create another one to specify more? Thanks!

[2020-03-19 11:24] MartyG-RealSense commented on #1135
Here is an example image from the RViz section of Intel's D435i SLAM guide that I hope will be helpful, where the topic **/camera/color/image_raw** is used.

https://github.com/IntelRealSense/realsense-ros/wiki/SLAM-with-D435i#personalize-rviz

![image](https://user-images.githubusercontent.com/41145062/77062699-4b910580-69d4-11ea-8b04-4b4727ee58c6.png)

[2020-03-19 12:48] mmaceira commented on #1086
Hello,

Any update / workaround for this?

Thanks,
Marc

[2020-03-19 12:57] q8wwe commented on #1110
As suggested I removed V2.31.0 (sudo apt purge ros-kinetic-librealsense2) and I I lowered th frames to 15 fps   :

messenger-libusb : is continous warning .
messenger-libusb.cpp:42) control_transfer returned error, index: 768, error: Resource temporarily unavailable, number: 11

for IR stream start failure : I lowered the frames and reset (initial_reset:=true
). I didn't see the warning .

questio

[2020-03-19 13:17] q8wwe commented on #1114
Will its much easier to use Debian packages for installing libreasesne by using just the below instructions :
1.
sudo apt-key adv --keyserver keys.gnupg.net --recv-key F6E65AC044F831AC80A06380C8B3A55A6F3EFCDE || sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-key F6E65AC044F831AC80A06380C8B3A55A6F3EFCDE

2. for ubuntu 16. :
sudo add-apt-repository "deb http://realsense-hw-public.

[2020-03-20 02:16] RealSenseCustomerSupport commented on #808
----------------------------------------------

@furushchev Ok. Thanks for your feedback! Let's keep it open till the issue resolved. Thanks!

[2020-03-20 04:55] doronhi commented on #808
librealsense2 v2.33.1, the latest version, is now available as ros-melodic-librealsense2.
realsense2-camera 2.2.13 is also available.

The packages were submitted for kinetic at the same time but updates for kinetic are still to be published.

[2020-03-20 05:30] doronhi commented on #1110
If the message "messenger-libusb.cpp:42) control_transfer returned error, index: 768, error: Resource temporarily unavailable, number: 11" is continuous, that is appears multiple times per second, then it is not good. It suggest a real communication problem between the code and the device and can have effects. Can you add a log showing that?

[2020-03-20 05:37] doronhi commented on #1129
I am very glad I could help. Closing the issue then.

[2020-03-20 05:37] #1129 closed, assigned to nobody

[2020-03-20 09:31] MartyG-RealSense commented on #1131
There is a similar case recently reported with Jetson Nano, in the discussion linked to below.  I hope that the advice in that discussion will be helpful to you.

https://github.com/IntelRealSense/librealsense/issues/6062

[2020-03-20 10:31] MarcoDotIO commented on #1009
Hello,

Apologies about the delay, the problem seems to be solved with the latest update with SDK v2.33.1. Thank you guys so much for helping out!

[2020-03-20 10:31] MarcoDotIO commented on #1009
Hello,

Apologies about the delay, the problem with the AR markers not being mapped seems to be solved with the latest update with SDK v2.33.1. Thank you guys so much for helping out!

[2020-03-20 10:31] #1009 closed, assigned to nobody

[2020-03-20 16:07] #904 closed, assigned to nobody

[2020-03-21 09:22] PonyZhou opened #1136 "unable to locate package ros-melodic-realsense-camera"
i run  "sudo apt-get  install  ros-melodic-realsense-camera"  command and got a error "unable to locate package ros-melodic-realsense-camera"
i have updated the source list but still got the error

[2020-03-21 10:31] MartyG-RealSense commented on #1136
I note that in the instruction you quoted, there is a '2' missing from the 'realsense' part of the instruction.  It should be:

sudo apt-get install ros-melodic-realsense2-camera

[2020-03-21 10:39] PonyZhou commented on #1136
Thanks！You are right and had better correct the same wrong command in the Installation Instructions.

[2020-03-21 10:49] MartyG-RealSense commented on #1136
@PonyZhou  If you are referring to this instruction:

https://github.com/IntelRealSense/realsense-ros#method-1-the-ros-distribution

I will tag the wrapper's developer @doronhi into this discussion to highlight about including the installation instruction for Melodic.  Thanks!

[2020-03-21 11:01] PonyZhou commented on #1136
Yes, under the "Method 1: The ROS distribution:"

[2020-03-21 12:13] stevemartinov opened #1137 "How to get corrected IMU data?"
Hi,

I am using D435i and I am trying to get the IMU in a correct way. As I understood . IMU is based in depth frame which has different coordinate system and I spend the last 2 days to get the right orientation so whenever I put my camera in a normal position (not facing downwards) I get the correct yaw. I tried to use Roll from the camera as Yaw (as if the camera is facing down the roll position

[2020-03-21 14:10] MartyG-RealSense commented on #1137
Information about the axis system of the D435i's IMU can be found at the link below:

https://github.com/IntelRealSense/librealsense/blob/master/doc/d435i.md#sensor-origin-and-coordinate-system

As the D435i IMU does not have internal calibration, it is recommended that a provided IMU calibration software tool is used on the IMU.  This is separate from the Dynamic Calibrator software used to calib

[2020-03-21 14:27] stevemartinov commented on #1137
Hi, this is not helpful at all. I was not asking about the axis (as I stated that the axis are known) or about the calibration. I am asking how can I convert the depth axis (IMU axis) to a regular ROS axis? From the code I found out that you are just rotating pitch and yaw by -PI/2 and when I am getting the data, I am just adding PI/2 to both pitch and yaw respectively and making yaw to be a pitch

[2020-03-21 14:47] MartyG-RealSense commented on #1137
The ROS wrapper documentation states the following information:

**odom_frame_id** defines the origin coordinate system in ROS convention (X-Forward, Y-Left, Z-Up).  pose topic defines the pose relative to that system.

[2020-03-22 05:49] doronhi commented on #1136
Fixed. Thank you guys!

[2020-03-22 15:23] stevemartinov opened #1138 "Noisy pointcloud"
Hi,

Is this a normal behaviour when I enable pointcloud on my D435i? Attaching a video:

https://drive.google.com/file/d/1n1ehSkeoSgNz64-yUzq4lAeNCsIVQvWg/view?usp=sharing

[2020-03-22 17:39] caiobarrosv opened #1139 "Latest realsense-ros release error"
Hello all,

**ros-version**: Kinetic | Ubuntu 16.04

Even though the latest realsense-ros release says that it is compatible with LibRealSense v2.33.1, the
[CMakeList.txt](https://github.com/IntelRealSense/realsense-ros/blob/2.2.13/realsense2_camera/CMakeLists.txt#L37-L40) requires the 2.32.1 version.

I Installed the LibRealSense v2.33.1 as stated [here](https://github.com/IntelRealSense/realsens

[2020-03-23 01:18] RealSenseCustomerSupport commented on #485
----------------------------------------------

@tispratik Could you please tell the SDK version and ROS wrapper version when you get the issue? Thanks!

[2020-03-23 01:19] RealSenseCustomerSupport commented on #1105
----------------------------------------------

@courtneyconroy Did you get it through? Looking forward to your update. Thanks!

[2020-03-23 01:54] EmiyaEstelle commented on #1121
Thank you all the same！

[2020-03-23 01:56] #1121 closed, assigned to nobody

[2020-03-23 02:58] RealSenseCustomerSupport commented on #1034
----------------------------------------------

@KyleJosling Could you please update? Thanks!

[2020-03-23 03:02] #1020 closed, assigned to nobody

[2020-03-23 06:37] RealSenseCustomerSupport commented on #1132
----------------------------------------------

There could be a possibility that the USB3 port  or its power circuitry of your platform not able to provide sufficient power (marginal) to sustain two D435
in the multi-camera configuration white paper, it use 4-port powered USB3 hub (AmazonBasics),
to provide sufficient power for multicamera
https://dev.intelrealsense.com/docs/multiple-depth-camera

[2020-03-23 12:39] ninamwa opened #1140 "Infra1 and Infra2 topics - what kind of images ?"
Hi.
A little (maybe) off-topic question, but I am wondering what images are published to the topics:
Rectified infra1 image: /camera/infra1/image_rect_raw
Rectified infra2 image: /camera/infra2/image_rect_raw

Is this the images from the Left and Right Imager on the camera (HD image sensors) or is it from the IR projector?
I guess I am confused because they are named infra, so it sounds like it is

[2020-03-23 15:59] KyleJosling commented on #1034
Hello,

Turns out OpenCV's function to get the value from a matrix is cv::Mat::at(int row, int col), where realsense's is get_distance(int x, int y). I should have been using:

[code]

I just had the coordinates flipped. Silly mistake on my part.

Closing this issue.

[2020-03-23 15:59] #1034 closed, assigned to nobody

[2020-03-23 16:06] tispratik commented on #485
We are not using ROS and we simply compiled librealsense from stable source.

[2020-03-23 19:03] elpimous opened #1141 "How to use full T265 Cam power : imu+fisheyes, for VSLAM MELODIC"
Hi Friends.
Using actually a D435 for gmapping and amcl, and rtabmap of course...

Now, I have a D435 and a T265 + robot wheels odometry...

I see on realsense_camera for Ros, that the launch only use T265 imu !!
And depth/rgb, from D435 !!

It's not the promised things !!

T265 would be very helpfull with fisheye cameras (see pirobot work with fisheyes test)
This fisheye could help too, in a very

[2020-03-23 19:05] RealSenseCustomerSupport commented on #1123
----------------------------------------------

Hi @S-LR,

As @doronhi have mentioned, the correct name of the package is ros-melodic-realsense2-camera
and you should use that name when you are installing the ROS Wrapper. Please let us know if you need any further clarifications regarding this topic.

Thank you!

[2020-03-23 22:05] #1042 closed, assigned to nobody

[2020-03-23 23:24] poorboy44 opened #1142 "Upgraded librealsense, now getting error related to backend-v4l2.h and memory leak?"
I upgraded librealsense to `2.33.1-0~realsense0.2079`. I am running  Ubuntu 18.04 with Linux kernel version `5.3.0-42-generic`.

Now when I run the ROS integration, I get errors related to `backend-v4l2`. Can you advise?

[code]

[2020-03-24 02:38] suk8267 opened #1143 "i don't know about subscribe pcl topic"
i followed tutorial of realsense camera, so i published to rviz. but when i got topic by subscriber, i have to include msg file but in msg folder have Extrinsics.msg and IMUinfo.msg .
i think IMUinfo is for accelerator and gyro sensor. Extrinsic is may be for Rotation of camera. so where is msg file for pointcloud topic?

[2020-03-24 05:31] RealSenseCustomerSupport commented on #485
----------------------------------------------

@tispratik  Could you please tell the SDK version when get the issue? And could you please also provide the timestamp logs for the issue? Thanks!

[2020-03-24 09:23] MartyG-RealSense commented on #1138
It is difficult to provide a diagnosis from the video.  The depth information does appear to be fluctuating and distorting to a highly unusual extent that does not look correct though.

It also resembles a previously reported 'elongated point cloud' effect where the point cloud appears to distort badly when objects are viewed from side-on.  Links to these cases are provided below.  Hopefully you w